$color-darkgray: #2d2d2d;
$color-ltgray: #f2f2f2;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

.roboto {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}


body {
	@extend .roboto;
}
	
h1 {
	color: #2d2d2d;
	@include for-phone-only {
		color: #2d2d2d;
		font-size: 22px;
	}
}

header {

	& * {
		box-sizing: border-box;
	}
	
	position: relative;
	margin: 0 0 55px;
	width: 100%;
	-webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.15);

	.iwrapper {
		position: relative;
		margin: 0 auto;
		padding: 0 10px;
		width: 100%;
		max-width: 1140px;
		height: 100px;
		line-height: 100px;
		
		.column {
			position: relative;
			margin: 0 -4px 0 0;
			width: 50%;
			display: inline-block;
			
			& * {
				vertical-align: middle;	
			}
			
			&.utilitynav {
				text-align: right;
				
				li {
					position: relative;
					margin: 0 10px;
					display: inline-block;
					
					a {
						font-weight: 500;
						color: $color-darkgray;
						text-decoration: none;
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
}

.searchWrapper {
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
}

footer {
	position: relative;
	margin: 150px auto 50px;
	width: 100%;
	text-align: center;
	
	p {
		font-size: 12px;
		line-height: 1.6;
		
		&.links {
			a {
				position: relative;
				margin: 800px 10px 0;
				text-decoration: underline;
				color: $color-darkgray;
			}
		}
	}
}
