body
{
	font-family:Arial, Helvetica, sans-serif !important;
}

h1 {
  color: #2d2d2d; }
  @media (max-width: 599px) {
    h1 {
      color: #2d2d2d;
      font-size: 22px; } }

header {
  background:#fff;
  z-index:9;
  width: 100%;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15); }
  header * {
    box-sizing: border-box; }
  header .iwrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    max-width: 1140px;
    height: 100px;
    line-height: 100px; }
    header .iwrapper .column {
      position: relative;
      margin: 0 -4px 0 0;
      width: 50%;
      display: inline-block; }
      header .iwrapper .column * {
        vertical-align: middle; }
      header .iwrapper .column.utilitynav {
        text-align: right; }
        header .iwrapper .column.utilitynav li {
          position: relative;
          margin: 0 10px;
          display: inline-block; }
          header .iwrapper .column.utilitynav li a {
            font-weight: 500;
            color: #2d2d2d;
            text-decoration: none; font-size: 14px; }

.searchWrapper {
  margin: 0 auto;
  padding:70px 0px;
  text-align: center; }

footer {
  position: relative;
  margin: 150px auto 50px;
  width: 100%;
  text-align: center; }
  footer p {
    font-size: 12px;
    line-height: 1.6; }
    footer p.links a {
      position: relative;
      margin: 800px 10px 0;
      text-decoration: underline;
      color: #2d2d2d; }
	  .footer {
  position: relative;
  margin: 150px auto 50px;
  width: 100%;
  text-align: center; }
  .footer p {
    font-size: 12px;
    line-height: 1.6; }
    .footer p.links a {
      position: relative;
      margin: 800px 10px 0;
      text-decoration: underline;
      color: #2d2d2d; }
  .footer  {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 770px;
    font-size: 1.4rem; }
    .footer .iwrapper {
      padding: 50px 0;
      line-height: 1.65; }
      .footer .iwrapper p {
        margin-bottom: 20px;
        text-align: left; }
        .footer .iwrapper p.muted {
          font-size: 11px;
          opacity: 0.6; }
        .footer .iwrapper p + h4 {
          padding-top: 20px; }
      .footer .iwrapper h2 {
        margin-bottom: 5px;
        text-align: left;
        font-size: 24px;
        font-weight: 700; }
      .footer .iwrapper h4 {
        margin: 0 0 5px;
        text-align: left;
        font-size: 16px;
        font-weight: 700; }
      .footer  .iwrapper ul {
        font-size: 12px;
        text-align: left;
        list-style: disc; }
        .footer  .iwrapper ul li {
          margin: 0 0 20px 25px;
          padding: 0 0 0 10px; }
          .footer  .iwrapper ul li ul {
            padding-top: 30px;
            list-style: circle; }
        .footer  .iwrapper ul.alpha {
          list-style: lower-alpha; }
          .footer  .iwrapper ul.alpha li {
            margin: 0 0 30px 25px;
            padding: 0 0 0 15px; }

#air_round_trip input, #rs_multi input, .travelers, #rs_multi select
{
	height:44px;
	width:100%;
	text-align:left;
	outline: 0 none;
	border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
#air_round_trip input:focus, #rs_multi input:focus
{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.travelers
{
	border:1px solid #ebebeb;
	background:#fff;
	line-height:20px;
	padding:10px;
	position:relative;
	cursor:pointer;
}
.travelers img
{
	position:absolute;
	right:10px;
	top:10px;
	max-width:16px;
}
.mfp-wrap .searchWrapper
{
	padding:0px;
}
.mfp-wrap .searchWrapper .rs_searchbox
{
	padding:0px;
}
#rs_multi select
{
	outline: 0 none;
}
#air_round_trip input[type=button]
{
	text-align:center;
}
#air_round_trip .row
{
	margin-bottom:20px;
}
.searchWrapper .rs_searchbox .rs_air_form .rs_air_options
{
	padding:0px !important;
	overflow:hidden;
	width:222px
}
.rs_air_options span
{
	float:left;
	width:110px;
	text-align:center;
	min-height: 28px;
    padding: 0px 10px;
}
.rs_air_options span label
{
	padding:5px 0px;
}
.rs_air_highlight
{
	background:#ff390d;
	color:#fff !important;
}
footer
{
	margin-top:30px !important;
}
.ui-autocomplete li
{
	cursor:pointer;
}
.ui-autocomplete
{
	border:1px solid #ccc;
	border-top:0px;
}
.ui-autocomplete li a
{
	border-bottom:1px solid #ccc;
	display:block;
	background:#fff;
	padding:10px;
}
.ui-autocomplete li a img
{
	padding-right:10px;
}
.ui-autocomplete li a:hover
{
	text-decoration:none;
	background:#f2f2f2;
}
.rs_search
{
	text-align:center !important;
	margin-top:20px;
}
.booking-item-flight-details span
{
	/* float:left; */
}
.flightrow
{
	border:1px solid #e6e6e6;
}
.colleft
{
	border-right:1px solid #e6e6e6;
}
#country_currency_list
{
	position:absolute;
	width:395px;
	right:-30px;
	top:75px;
	background:#fff;
	z-index:99999;
	border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	border:1px solid #ccc;
	overflow:hidden;
}
#country_currency_list li
{
	line-height:20px;
	width:140px;
	text-align:left;
	float:left;
	padding:5px 0px;
}
#country_currency_list li img
{
	padding-right:10px;
}
.booking-item-flight-details .arrow-small
{
	margin-top:0px;
}
.booking-item-airline-logo
{
	position:relative;
}
.arrowctrl
{
	float:left !important;
	margin-top:3px;
}
.arrowctrl img
{
	float:left;
}
.arrowline
{
	height:1px; background:#000;
	width:80px;
	float:left;
	margin-top:6px;
}
.linedot
{
	position:relative;
}
.global-wrap
{
	margin-top:23px;
}
.stopcircle
{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width:7px;
height:7px;
position:absolute;
background:red;
z-index:500;
bottom:-3px;
margin-left:-3px;
}
.stop1
{
	left:50%;
}
.twostop .stop1
{
	left:33%;
}
.twostop .stop2
{
	left:66%;
}
.spangreen
{
	color:green;
}
.stops
{
	font-weight:bold;
	padding-left:10px;
}
.alogo
{
	width:110px;
	height:70px;
	margin:0px 20px;
	margin-left: 0px;
}
.flightll
{
	width:75%;
}
.firight
{
	margin:0px;
}
.flightmore
{
	margin:10px 20px;
	display:block;
	padding:0px !important;
}
.nav-drop-menu > li {
	display:inline-block;
	text-align:center;
}
.nav-drop-menu
{
	padding-left:0px;
}
.empty
{
	height:1px;
	width:14%;
}
.allg
{
	width:13%;
}
.alfr
{
	width:12%;
}
.afto
{
	width:11%;
}
.aldr
{
	width:11%;
	margin-left:1%;
}
.alst
{
	width:6%;
	text-align:left !important;
}
.alpr
{
	width:22%;
}
.listtitle
{
	background:#f3f3f3;
	border:1px solid #ccc;
	line-height:35px;
	margin-bottom:10px;
}
.listtitle a
{
	color:#333;
	font-size:12px;
	font-weight:bold;
	display:block;
}
.mobilecollapse > a
{
	color:#ed8323;
	font-size:30px;
	font-weight:bold;
	display:inline-block;
	padding:10px 20px;

}
.mobilecollapse
{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	text-align:right;
}
.bookbt
{
	padding:0px 5px !important;
}
.agent-deals
{
	margin-bottom:20px;
}
.agent-deals h3
{
	font-size:18px;
	margin-bottom:5px;
}
.agent-deals li
{
	border-bottom:1px solid #ccc;
	padding:4px 0px;
	border-top:1px solid #ccc;
}
.agent-deals span
{#country_currency_list
	display:inline-block;
	margin-right:10px;
}
.md-col1
{
	width:20%;
}
.connect-airport
{
	padding:5px;
}
.md-col12
{
	width:60%
}
.md-col3
{
	width:20%
}
.nomargin
{
	margin:0px !important;
}
.booking-item-details .closebox
	{
		display:none;
	}
.mobilesort
{
	display:none;
}
.booking-title a
{
	margin-left:20px;
}
.breadcrumb
{
	display:none;
}
.agentdetails h6
{
	margin:0px;
	margin-bottom:5px;
	white-space: nowrap; 
	overflow: hidden;
    text-overflow: ellipsis; 
}
.alldeal
{
	display:block;
	font-size:12px;
}
.listtitle i
{
	line-height: normal;
padding: 0px;
margin: 0px;
font-size: 20px;
}
.flighrr .btn-primary
{
	display:block;
	padding:2px 10px;
	width:85px;
	display:inline-block;
	max-width:100%;
}
.booking-item-price
{
	font-size:22px;
	margin-bottom:5px;
	display:block;
}
.newbtn
{
	position: relative;;
}
.newbtn i
{
	position: absolute;
right: 0px;
font-size: 24px;
color: #fff;
top: 11px;
left: auto;
}
.newbtn i.fa-search
{
	right: 12px;
}
.newbtn .rs_search
{
	padding-right: 40px;
}
.sucrth
{
	position:relative;
}
.ListLoading
{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-64px !important;
	z-index:99999;
}
.logo img
{
	width: auto;
    padding-top: 13px;
	vertical-align:top !important;
}
.flighrr
{
	width:25%;
}
#country_currency_list1 li a span
{
	vertical-align:top !important;
	padding-right:5px;
}
.agent-deals li
{
	overflow:hidden;
}
.agent-deals li span
{
	float:left;
}
.agentname, .agentprice
{
	margin-top:20px;
}
.agentprice
{
	font-weight:boldl
}
.agent-deals .bookbt
{
	float:right;
	margin-top:18px;
	margin-right:10px;
}
@media (max-width: 1200px) {
	.alogo
	{
		margin-left:0px;
		margin-right:10px;
	}
	.arrowline
	{
		width:60px;
	}
	.firight
	{
		margin-right:0px;
	}
	.aldr
{
	margin-left:3%;
}
}
@media (max-width: 1000px) {

	.searchWrapper
	{
		width:80%;
		margin:auto;
	}
}
@media (max-width: 992px) {

	.booking-title
	{
		margin-bottom:5px;
	}
	.fiterbox, .nav-drop.booking-sort
	{
		display:none;
	}
	.nav-drop.booking-sort.mobilesort
{
	display:block;
	float:left;
	margin:15px 0px 0px 10px;
}
	.booking-list
	{
		margin-top:20px;
	}
	h3.booking-title
	{
		font-size:18px;
	}
	.fiterbox
	{
		position:fixed;
		left:0px;
		width:100%;
		top:0px;
		height:100%;
		z-index:99999999;
		overflow:scroll;
		background:#fff;
		padding:0px;
	}
	.fiterbox .booking-filters
	{
		border:0px !important;
		background:#fff;
	}
	.closebox
	{
		width:100%;
		position:relative;

	}
	.closebox span
	{
		position:absolute;
		right:0px;
		line-height:50px;
		padding:0px 20px;
		top:0px;
		cursor:pointer;
		color:#fff;
		background:#d5293d;
		text-transform:uppercase;
		font-weight:bold;
	}
	.closebox h3
	{
		background:#333;
		line-height:50px;
		padding:0px 10px;
		font-size:18px;
		color:#fff;
	}
	.listtitle
	{
		display:none;
		margin-top:5px;
	}
	.listtitle li
	{
		display:block;
		width:100%;
	}
	.listtitle li a
	{
		width:100%;
		text-align:left;
		margin-left:0px;
		padding-left:10px;
		border-bottom:1px solid #c5c5c5;
		display:block;
	}
	.aldr {
    margin-left: 0%;
}
	.listtitle li i
	{
		float:right;
		padding-right:10px;
	}
	.empty
	{
		display:none !important;
	}
}
@media (max-width: 768px) {
	.searchWrapper .col-sm-6, .searchWrapper .col-sm-4
	{
		margin-bottom:20px;
	}
	#rs_multi .row
{
	margin-bottom:0px !important;
}
	.flightll .booking-item
	{
		padding:5px;
	}
	.flightintro .row
	{
		margin:0px !important;
	}
	.flightmore
	{
		margin:0px;
	}
	.american-airline
	{
		top:0px;
		left:80px;
	}
	.alogo
	{
		height:35px;
		width:200px
	}
	.alogo img
	{
		width:72px;
		height:36px;
	}
	.alldeal
	{
		display:none;
	}
	}
@media screen and (max-width: 640px)
{
	.stops
	{
		display:none;
	}
	.flightll
	{
		width:70%;
		border-right:0px;
	}
	.book-price, .book-price1
	{
		padding-left:10px;
		padding-right:5px;
		float:right !important;
	}
	.booking-item-details
	{
		position:fixed !important;
		left:0px;
		top:0px;
		width:100%;
		background:#fff;
		z-index:999999;
		height:100%;
		padding:0px !important;
	}
	.infopad
	{
		padding:0px 15px;
		padding-bottom:15px;
	}
	.booking-item-details .closebox
	{
	display:block;
	}
}
	@media screen and (max-width: 575px)
	{
	.firight {
	margin-left: 0px;
	}
	.arrowline
	{
	width:30px;
	}
	.flightmore
	{
	display:none;
	}
	.flightll .booking-item
	{
	padding-bottom:0px;
	}
	.sucrth
	{
		padding-left:5px;
		padding-right:5px;
		min-height: 300px;
	}
	.booking-title
	{
		font-size:14px !important;
		font-weight:bold;
	}
	}
@media screen and (max-width: 485px)
{
	
	.booking-item-price
	{
		font-size:14px;
		display:block;
	}
	.booking-item-flight-class
	{
		margin-top:10px;
	}
	.flightll
	{
		width:70%;
	}
	.booking-item-departure span, .booking-item-arrival span
	{
		font-size:13px !important;
	}
	.firight span
	{
		font-size:12px;
		font-weight:bold;
	}
	.booking-item-flight-details .booking-item-departure, .booking-item-flight-details .booking-item-arrival
	{
		min-width:75px;

	}
	.trinfo h5
	{
		font-size:14px;
		font-weight:normal;
	}
	.trinfo h6
	{
		font-size:12px;
	}
}
@media screen and (max-width: 400px)
{
	.flightrow
	{
		position:relative;
	}
	.flighrr
	{
		position:absolute;
		right:0px;
		top:0px;
	}
	.lowhid
	{
		/* display:none; */
	}
	.flightll .booking-item
	{
		padding-right:0px;
	}
	.flightll
	{
		width:80%;
	}
	.arrowline
	{
		width:20px;
	}
	.stopcircle {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;width: 5px;height: 5px; bottom: -2px;margin-left: -2px;}
	.booking-item-flight-details .arrive
	{
		margin-left:3px !important;
		margin-right:5px !important;
	}
	.booking-item-flight-details .booking-item-departure, .booking-item-flight-details .booking-item-arrival
	{
		margin-right:3px !important;
	}
	.perpp
	{
		font-size:12px;
	}
	.trinfo h5, .changesrc
	{
		font-size:12px;
	}
}
@media screen and (max-width: 360px)
{
	#country_currency_list
	{
	 width: 313px !important;
	 right: -55px;
	}
	.close {
		display: block !important;
	}

}
.close{
	margin-right: 15px;
    margin-top: 10px;

}
@media screen and (max-width: 640px)
{
	.book-price, .book-price1{
		border-left: 0px;
	}
}
@media screen and (max-width: 360px)
{
	.booking-item-flight-details .booking-item-departure, .booking-item-flight-details .booking-item-arrival
	{
		width: 70px !important;
		margin-right: 0px !important;
	}
	.booking-item-departure span, .booking-item-arrival span{
		font-size: 12px !important;
	}

}
.listtitle a .fa-sort-asc{
	position: relative !important;
	top: 7px !important;
}


/*filter section starts*/
.myinput.large[type="checkbox"]{
    width: 20px;
    height: 20px;

}
.myinput.large[type="checkbox"]:after{
    top: -20px;
    width: 16px;
    height: 16px;
}
input[type="checkbox"] {
      background: #3d404e;
      border: #7f83a2 1px solid;
   }
   .aside{
   color: #737373;
    background: #fafafa;
    border-color: #ccc;
	border-radius: 5px;
   border: 1px solid #ccc;
	padding: 15px 0;
	}
	.filter-by{
	padding: 0 20px;
	}
	.aside li{
	margin-top: 15px;
    padding: 16px 29px 13px 16px;
    border-top: 1px solid #ccc;
	}
	.aside ul {
	padding:0;
	}
	.checkbox {
	margin-bottom: 15px;
	padding: 0px 6px 4px 30px;
	}
.myinput.large[type="checkbox"]:checked{
	background-color: red;
	color: #fff;
}


/*filter section ends*/


#ui-id-1, #ui-id-2 {
	z-index:9999;
}

@media screen and (max-width: 767px)
{
.scroll{
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
 }
 .infopad {
overflow-y: scroll;
max-height: 500px;
}
.alfr,.afto,.alst{
	display: none !important;
}
.booking-title a{
	margin-left: 0px !important;
}
}
@media screen and (max-width: 991px)
{

 .checkbox {
    margin-bottom: 15px;
    padding: 1px 6px 4px 45px !important;
}
}
.border p {
	font-size: 12px;
}



/*-----------------------------------------------------------------------*/
/*additional styles-local*/

@media screen and (max-width: 360px)
{
	#country_currency_list
	{
	 width: 314px !important;
     right: -56px !important;
	}
	#country_currency_list li{
		width: 100%;
	}
	.close {
		display: block !important;
	}
	#country_currency_list{
	right: -15px;
	}
	.english-en li {
	width: 40px !important;
}
}
.close{
	margin-right: 15px;
    margin-top: 10px;
}
.english-en {
	width: 200px !important;
}
.english-en li {
	width: 45px !important;
}
@media screen and (min-width: 321px) and (max-width: 360px)
{
	#country_currency_list
	{
	 width: 360px !important;
     right: -60px !important;
	}
}


.drop-menu-item{
	min-width: 90px !important;
	left: -16px !important;
	top: 75% !important;
}
.dropdown-menu li{
	line-height: 20px;
	display: block !important;

}
.dropdown-menu li a {
	text-align: center;
}
#country_currency_list1 {


    right: -30px;
    top: 75px;
    background: #fff;
    z-index: 99999;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    border: 1px solid #ccc;
    overflow: hidden;
}
#country_currency_list1 li {
    line-height: 20px;
    width: 50%;
    text-align: left;
    float: left;
    padding: 5px 0px;
}

header .iwrapper .column.utilitynav li {
    position: relative;
    margin: 0 10px;
    display: inline-block;
}

@media screen and (max-width: 767px)
{
	.res-modal {
		display: none !important;
	}
	.mob-res {
	 display: inline-block !important;
	}
	.drop-menu-item{
	min-width: 90px !important;
	left: -60px !important;
	top: 75% !important;
}
}
 .closebox h3 {
	margin:0;
	background: #333;
    line-height: 50px;
    padding: 0px 10px;
    font-size: 18px;
    color: #fff;
	text-align: left;
	    /* background-color: #000;
    color: #fff;
    text-align: center;
    padding: 12px; */
}
.modal-header .closebox {
    width: 100%;
    position: relative;
}
.modal-header .visible-xs {
    display: block !important;
}
.closebox span {
    position: absolute;
    right: 0px;
    line-height: 50px;
    padding: 0px 20px;
    top: 0px;
    cursor: pointer;
    color: #fff;
    background: #d5293d;
    text-transform: uppercase;
    font-weight: bold;
}
}
.modal-dialog {
	margin:0 !important;
}

#page-selection {
	background-color: #ed8323;
	color: #fff;
	padding: 10px;
	text-align: center;
}
.border p{
	margin: 0px !important;
}
.footer-bottom {
	background-color: #626262;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	/* opacity: .4; */
}
.footer-bottom  p{
opacity: .4;}
/*additional styles ends -local*/

/*ad-script style*/
@media screen and (min-width: 1199px)
{
.PageIdlist .container {
	  position: relative;
	  left: 0;
	  margin:0;
}
.AdsenseBlock{display: block;
   /*  background-color: #ccc; */
    z-index: 999;
    position: absolute;
    right: -160px;
    top: 100px;
}
}
@media screen and (max-width: 1199px)
{
.AdsenseBlock{display: none !important;

}
}
@media screen and (min-width: 1199px)
{
	.container {
    width: 1100px !important;
}
.PageIdlist .container {
    position: relative;
    left: 0;
   
}
}

.flagopen {
	position: absolute;
	top:0;
	z-index: 999;
}
 #country_currency_list1  li a{
	color: #333333 !important;
}
/*ad-script style ends*/
/*---------------------------------------------------------------------------*/
.loading-image  {
    float: right;
    text-align: center;
}
.loading-image img {
	width: 200px;
}
.load-text{
	font-size: 12px;
	font-weight: 700;
	color: #000;
	clear: both;
}
@media screen and (max-width: 767px)
{
	.loading-image {
		float: none !important;
		
	}
.loading-image img
{
margin: auto;
}
.loading-image{
	/* float: none !important; */
}
	
}	