body.overflow {
  overflow: hidden;
}

header {
  display: block;
}


header, header * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }

header * {
	position: relative;
}

header {
	max-width: 100%;
}
header h3 {
	font-size: 1.17em;
    font-weight: bold;
}
header ul {
    list-style: none;
}

header li {
  display: inline-block;
}

header a {
	display: inline-block;
  color: #2d2d2d;
  text-decoration: none;
}

header .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header .right {
  float: right;
}

header .left {
  float: left;
}

header .relative {
  position: relative;
}

header .container {
  margin: 0 auto;
}

.primary-menu {
  position: relative;
  z-index: 1;
	margin: 0 auto;
	width: 100%;
	background: #f7f7f7;
  border-radius: 3px;
  transition: .3s ease-in both;
}

.primary-menu .clearfix section {
	height: 100%;
	min-height: 48px;
}
header .flight-logo-block, header .hotel-logo-block {
  width: 50%;
  text-align: center;
  padding: 12px 0;
}
header .flight-logo-block .logo, header .hotel-logo-block .logo {
  width: 180px;
	height: 40px;
}
header .flight-logo-block .mobile-logo, header .hotel-logo-block .mobile-logo {
  width: 45px;
	height: 45px;
	display: block;
	overflow: hidden;
}
header .mobile-logo img {
	width: 100%;
    height: 100%;
}
header .hotel-logo-block a {
  opacity: 0.5;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
header .hotel-logo-block a:hover {
  opacity: 1;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.default-city .mobile-header,
.default-calendar .mobile-header,
.guest-dropdown-block .mobile-header,
.guest-dropdown-block .mobile-footer {
  display: none;
}
.guest-dropdown-block.fixed .mobile-footer {
  display: block;
  margin-top: 30px;
}
.guest-dropdown-block.fixed .mobile-footer button {
  width: 100%;
  background: #007dff;
  border-color: #007dff;
}
.guest-dropdown-block.fixed .mobile-footer button::before,
.guest-dropdown-block.fixed .mobile-footer button::after {
  background: #007dff;
}
.guest-dropdown-block .mobile-footer button:hover {
  background: transparent;
  color: #007dff;
}
.default-city.fixed .mobile-header,
.default-calendar.fixed .mobile-header,
.guest-dropdown-block.fixed .mobile-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  padding-bottom: 25px;
  color: #000000;
  border-radius: 0;
}
.default-city.fixed div:not(:first-child),
.default-calendar.fixed div:not(:first-child) {
  padding: 10px;
  border: 1px solid #007dff6e;
}
.guest-dropdown-block.fixed .mobile-header {
  border-bottom: 1px solid #007dff6e;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.default-city.fixed .mobile-header h2,
.default-calendar.fixed .mobile-header h2,
.guest-dropdown-block.fixed .mobile-header  h2 {
  font-size: inherit;
}
.index-menu ul {
  padding: 15px 0;
  text-align: center;
  margin: 0 auto;
}
.index-menu ul li {
  padding: 0 12px;
}
.index-menu ul li a {
	font-family: Geometria, 'Open Sans', Helvetica, sans-serif;
  	color: #007aff;
  	display: flex;
    align-items: center;
    font-size: 14px;
}
.index-menu ul li a:hover,
.index-menu ul li a:active,
.index-menu ul li a:focus {
	text-decoration: none;
}
.index-menu ul li a img {
	margin-right: 5px;
    width: 16px;
}
.index-menu ul li a .flag-block {
	width: 32px;
}
.index-menu {
  background: #fff;
  text-align: center;
  border-radius: 3px;
  max-width: none;
}
.index-menu .mobile-menu {
  padding: 15px 0;
  font-size: 20px;
  max-width: 90%;
  margin: 0 auto;
}

.containertp {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.searchWrapper .rs_searchbox .rs_air_form .rs_air_options {
    width: max-content;
    display: flex;
    margin: 0 auto 20px auto;
    justify-content: center;
    border: 6px solid #f7f7f7;
    background: #f7f7f7;
}
.searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option.rs_air_highlight {
	background: #fff;
    color: #7000bf!important;
}
.searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option.rs_air_highlight::before,
.searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option.rs_air_highlight::after {
	display: none;
}
.searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option label {
	font-size: 12px;
}
.rs_searchbox #air_round_trip input,
#rs_multi select,
.searchWrapper .rs_searchbox .travelers {
	background-color: #fff!important;
	border: 2px solid #dcdcdc!important;
    border-radius: 4px!important;
}

#air_round_trip .row {
	margin-bottom: 20px;
}
.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search,
.searchWrapper .rs_searchbox #air_round_trip input.rs_search {
	background: #7000d1!important;
}

#air_round_trip input, 
#rs_multi input, 
.travelers, 
#rs_multi select {
	height: 44px;
	text-align: left;
}

.searchWrapper .rs_searchbox .rs_autosuggest, 
.searchWrapper .rs_searchbox .rs_from, 
.searchWrapper .rs_searchbox .rs_to, 
.searchWrapper .rs_searchbox .rs_advisorid_input {
	paddding: 5px 10px;
}

.searchWrapper .rs_searchbox .rs_button_row {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search,
.searchWrapper .rs_searchbox #air_round_trip input.rs_search {
	position: relative;
	margin: 0 auto;
	float: none;
	padding: 0;
	min-height: 48px;
	width: 214px;
	display: block;
	border-radius: 3px!important;
	outline: none;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	z-index: 1;
	cursor: pointer;
	background: #7000d1;
	border: 3px solid #7000d1!important;
	transition: all .1s ease-in-out;
}

.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search::before,
.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search::after {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	width: 50%;
	background-color: #7000d1;
	content: '';
	transition: all 300ms ease-in-out;
}
.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search::before {
	left: 0;
}

.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search::after {
	right: 0;
}

.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search:hover::before,
.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search:hover::after {
	width: 0;
}

.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search:hover,
.searchWrapper .rs_searchbox #air_round_trip input.rs_search:hover {
  	background: transparent!important;
	color: #7000d1;
}
.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search.active {
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%!important;
}
.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search.active:hover {
  background: #7000d1;
}
.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search.active::before,
.searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search.active::after {
  display: none;
}
/* Button Animation */
.lds-ring {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: #7000d1;
  border-radius: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  margin-top: 8px;
  margin-left: 7px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* /Button Animation */
.primary-menu .primary-menu-wrap {
	max-width: 1040px;
	margin: 0 auto;
}
.primary-menu::before,
.primary-menu::after {
    content: "";
    width: 50%;
    position: absolute;
    border-bottom: 1px solid #000;
    top: 64px;
    z-index: 1;
}
.primary-menu::before {
	border-color: #7000d1;
	left: 0
}
.primary-menu::after {
	border-color: #ff00ff;
	right: 0;
}
.primary-menu .primary-menu-wrap::before{
	content: "";
    position: absolute;
    top: 100%;
    z-index: 2;
    left: 25%;
    border-top: solid 5px #7000d1;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}
.mobile-menu-toggle {
  width: 24px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.mobile-menu-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2d2d2d;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.mobile-menu-toggle span:nth-child(1) {
  top: 0px;
}
.mobile-menu-toggle span:nth-child(2),
.mobile-menu-toggle span:nth-child(3) {
  top: 10px;
}
.mobile-menu-toggle span:nth-child(4) {
  top: 20px;
}
.mobile-menu-toggle.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.mobile-menu-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-menu-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-menu-toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.index-menu .currency-container {
  display: none;
  position: absolute;
  background: #fff;
  width: 400px;
  left: -182px;
  flex-wrap: wrap;
  top: 35px;
  border-radius: 3px;
  padding: 10px;
  justify-content: flex-start;
  border: 1px solid #5bbaff;
  -webkit-box-shadow: 0 0 8px #5bbaff;
  box-shadow: 0 0 8px #5bbaff;
}
.index-menu .currency-container.toggle {
  display: flex!important;
}
.index-menu .currency-container li {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  min-height: 38px;
  font-weight: 600;
  font-size: 12px;
  color: #07c;
  padding: 0;
}
.index-menu .currency-container li a {
	color: inherit;
    font-size: inherit;
    font-weight: 600;
    width: 100%;
    padding: 6px 8px;
}
.index-menu .currency-container li .symbol {
	width: 24px;
	font-size: 11px;
	margin-right: 12px;
	font-weight: bold;
	color: #000;
}
.index-menu .currency-container li .symbol img {
	width: 100%;
}
.index-menu .currency-container li.active,
.index-menu .currency-container li.active:hover,
.index-menu .currency-container li:hover {
  background: #ededed;
  color: #000;
}
.index-menu .currency-container::before {
	position: absolute;
  	display: inline-block;
  	top: -3px;
  	left: 50%;
  	border-right: 6px solid transparent;
  	border-bottom: 6px solid #fff;
 	border-left: 6px solid transparent;
  	content: '';
  	transform: translate(0, -50%);
}
@media (max-width: 1199px) {
	.primary-menu .primary-menu-wrap {
	    max-width: 960px;
	}
}
@media (max-width: 991px) {
	.primary-menu .primary-menu-wrap {
	    max-width: 720px;
	}
}
@media (min-width: 769px) {
	header .flight-logo-block .mobile-logo,
	header .hotel-logo-block .mobile-logo,
	.mobile-menu-close,
	.index-menu .mobile-menu {
		display: none;
	}
	header .flight-logo-block .logo,
	header .hotel-logo-block .logo {
		display: block;
	}
	.index-menu ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 768px) {
	.primary-menu .primary-menu-wrap {
	    max-width: none;
	}
	header .flight-logo-block .mobile-logo,
	header .hotel-logo-block .mobile-logo,
	.mobile-menu-close,
	.index-menu .mobile-menu {
		display: block;
	}
	header .flight-logo-block .logo,
	header .hotel-logo-block .logo,
	.page-heading p,
	.index-menu ul,
	.primary-menu .primary-menu-wrap::before,
	.banner_bottom_left,
	.banner_bottom_right {
		display: none;
	}
	.primary-menu::before,
	.primary-menu::after {
		top: 73px;
	}
	.currency-header {
		display: flex;
    	justify-content: space-between;
	}
	.currency-header::after {
		content: "\f078";
		font-family: "FontAwesome";
		font-size: 16px;
    	font-weight: bold;
	}
	.currency-header.toggle::after {
		content: "\f077";
	}
	.index-menu .currency-container {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
		border: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		overflow-y: auto;
		height: auto;
	}
	.index-menu .currency-container li {
	    width: 100%;
	    margin: 0;
	    border-bottom: 1px solid #fff;
	}
	.index-menu .currency-container li a {
		padding: 15px 0 15px 30px;
	}
	.index-menu .currency-container li .symbol {
		vertical-align: middle;
		font-size: 14px;
		display: inline-block;
	}
	.index-menu .currency-container li {
		font-size: 14px;
	}
	header .flight-logo-block::after {
	    content: '';
	    position: absolute;
	    top: 100%;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    width: 0;
	    height: 0;
	    border-top: solid 5px #7000d1;
	    border-left: solid 8px transparent;
	    border-right: solid 8px transparent;
	    z-index: 1;
	}
	.usp-inner-block {
		margin: 45px 0 45px 0;
	}
	header .flight-logo-block {
		border-right: 1px solid #7000d1;
	}
	header .hotel-logo-block {
		position: relative;
	}
	header .hotel-logo-block::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -1px;
		right: 0;
		width: 0;
		height: 50%;
		border-left: solid 1px #ff00ff;
		z-index: 1;
	}
	.index-menu ul {
	    width: 100%;
	    height: calc( 100vh - 136px );
	    background: #fff;
	    z-index: 2;
	    padding: 0;
	    box-sizing: border-box;
	    max-width: 100vw;
	    overflow-y: auto;
	    padding-bottom: 75px;
	}
	.index-menu ul li {
	    width: 100%;
	    text-align: left;
	    padding: 0;
	    border-bottom: 1px solid #cacaca;
	    font-weight: 600;
	    font-size: 20px;
	    opacity: 0;
	    -ms-transform: scale(1.15) translateY(-3rem) translateX(-3rem);
	    transform: scale(1.15) translateY(-3rem) translateX(-3rem);
	    transition: transform .5s cubic-bezier(.4,.01,.165,.99),opacity .6s cubic-bezier(.4,.01,.165,.99);
	}
	.index-menu ul li:hover,
	.index-menu ul li.hover {
		background: #f7f7f7;
	}
	.index-menu ul li.show,
	.likes-container-wrap .likes-container li {
		opacity: 1;
	    -ms-transform: scale(1) translateY(0) translateX(0);
	    transform: scale(1) translateY(0) translateX(0);
	}
	.index-menu ul li:nth-child(1) {
		transition-delay: .49s;
	}
	.index-menu ul li.show:nth-child(1) {
		transition-delay: .27s;
	}
	.index-menu ul li:nth-child(2) {
		transition-delay: .42s;
	}
	.index-menu ul li.show:nth-child(2) {
		transition-delay: .34s;
	}
	.index-menu ul li:nth-child(3) {
		transition-delay: .35s;
	}
	.index-menu ul li.show:nth-child(3) {
		transition-delay: .41s;
	}
	.index-menu ul li:nth-child(4) {
		transition-delay: .28s;
	}
	.index-menu ul li.show:nth-child(4) {
		transition-delay: .47s;
	}
	.index-menu ul li:nth-child(5) {
		transition-delay: .21s;
	}
	.index-menu ul li.show:nth-child(5) {
		transition-delay: .54s;
	}
	.index-menu .index-menu-wraper .mobile-menu-close  {
		text-align: right;
	    margin: 0;
	    padding: 0;
	    font-size: 30px;
	}
	.index-menu ul li a {
	    color: #2d2d2d;
	    font-size: 20px;
	    width: 100%;
	    padding: 15px 30px 20px 30px;
	}
}
@media (max-width: 576px) {
	header .flight-logo-block .mobile-logo,
	header .hotel-logo-block .mobile-logo {
  		width: 30px;
		height: 30px;
	}
	.primary-menu::before,
	.primary-menu::after {
	    top: 58px;
	}
	.index-menu ul {	
    	height: calc( 100vh - 115px );
    }
}