/* CSS Document */
.loaderwrapper {
  position: relative;
  width: 200px;
  height: 28px;
  padding: 10px 0;
  box-sizing: border-box;
  display: block; }
  .loaderwrapper * {
    box-sizing: border-box; }
  .loaderwrapper .loader {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #e5e5e5;
    display: block; }
    .loaderwrapper .loader:after {
      position: absolute;
      z-index: 1;
      top: 0;
      height: 100%;
      transition: all 600ms ease-in-out;
      content: '';
      background: #da1cdc;
      background: -moz-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
      background: -webkit-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
      background: linear-gradient(135deg, #da1cdc 0%, #ff390d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorstop-dark', endColorstr='$colorstop-light',GradientType=1 );
      border-radius: 4px;
      animation-name: animationbar;
      animation-duration: 2s;
      animation-iteration-count: infinite; }

@media (max-width: 768px) {
  .loading-image.text-center .load-text {
    text-align: left; } }

@keyframes animationbar {
  10% {
    width: 0;
    left: 0;
    right: auto; }
  45% {
    width: 100%;
    left: 0;
    right: auto; }
  55% {
    width: 100%;
    left: auto;
    right: 0; }
  90% {
    width: 0;
    left: auto;
    right: 0; } }
