
a {
  color: #ff390d; }
  a:hover, a:focus, a:active {
    color: #ff390d;
    text-decoration: underline; }

.stopcircle {
  bottom: -4px;
  width: 9px;
  height: 9px;
  background-color: #2d2d2d;
  border-radius: 3px;
  transform: rotate(45deg);
  border: 2px solid #fff;
  box-sizing: border-box; }

.arrowline {
  background: #2d2d2d; }

.arrow-small {
  display: none; }

.flighrr .btn-primary,
.agent-deals .btn-primary {
  position: relative;
  margin-bottom: 8px;
  padding: 6px 20px !important;
  width: auto;
  box-sizing: border-box;
  border-radius: 20px;
  border: 0px solid transparent;
  background: #ff390d;
  background: -moz-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
  background: -webkit-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
  background: linear-gradient(135deg, #da1cdc 0%, #ff390d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorstop-dark', endColorstr='$colorstop-light',GradientType=1 );
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.8px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  transition: all 300ms eas-in-out; }
  .flighrr .btn-primary:hover,
  .agent-deals .btn-primary:hover {
    border-radius: 20px;
    background: -moz-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
    background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
    background: linear-gradient(135deg, #c419c5 0%, #f32c00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken($colorstop-dark,5%)', endColorstr='darken($colorstop-light,5%)',GradientType=1 ); }
  @media (min-width: 900px) {
    .flighrr .btn-primary,
    .agent-deals .btn-primary {
      padding: 6px 10px;
      width: 85px;
      border-radius: 16px; } }

.flightmore {
  margin-left: 0; }

.border p > b {
  font-weight: bold; }

.aside li > h5 {
  margin: 10px 0 20px; }

@media (min-width: 900px) {
  .fiterbox .aside {
    padding-top: 0; } }
@media (min-width: 900px) {
  .fiterbox .aside h3.filter-by {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #ff390d;
    background: -moz-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
    background: -webkit-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
    background: linear-gradient(135deg, #da1cdc 0%, #ff390d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorstop-dark', endColorstr='$colorstop-light',GradientType=1 ); } }
@media (min-width: 900px) {
  .fiterbox .aside h3.filter-by + ul {
    margin-top: -15px; } }
@media (min-width: 900px) {
  .fiterbox .aside h3.filter-by + ul h5 {
    font-weight: 500; } }
@media (min-width: 900px) {
  .fiterbox .aside .checkbox input[type="checkbox"] {
    margin-top: -1px;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 2px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 1px solid #ff390d; } }
@media (min-width: 900px) {
  .fiterbox .aside .checkbox input[type="checkbox"]:checked {
    background: transparent url(//www.discountflights.com/assets/checkbox-check-t.svg) 50% 50%/14px 12px no-repeat; } }

.nav-drop-menu.listtitle {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

#page-selection {
  background-color: #2d2d2d;
  border-radius: 5px; }

@media (min-width: 900px) {
  .booking-title .changesrc {
    position: absolute;
    z-index: 1;
    right: 18px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 7px 25px;
    border: 2px solid #ff390d;
    border-radius: 20px;
    font: 10px 'Roboto', Helvetica, Arial, sans-seruf;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.8px;
    transition: all 300ms ease-in-out; } }
@media (min-width: 900px) {
  .booking-title .changesrc:hover {
    background-color: #ff390d;
    color: #fff; } }
@media (max-width: 599px) {
  .booking-title .changesrc.min {
    position: absolute;
    top: -13px;
    right: 15px;
    padding: 0;
    border: 0px solid transparent;
    text-decoration: underline; } }
@media (min-width: 900px) {
  .booking-title .row .col-md-12 + .col-md-3 {
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: #fff; } }
@media (min-width: 900px) {
  .booking-title .row .trinfo h5 {
    margin-top: -40px;
    max-width: 750px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }

@media (min-width: 900px) {
  .AdsenseBlock {
    top: 87px; } }

.iwrapper div {
  vertical-align: top; }

.PageIdlist .iwrapper {
  margin: 0;
  max-width: 1280px; }
.PageIdlist .global-wrap {
  margin-top: 50px; }

.flightrow {
  transition: all 300ms ease-in-out; }
  .flightrow:hover {
    border-color: #2d2d2d;
    box-shadow: 0 10px 20px 0 #e5e5e5; }
  .flightrow:focus {
    border-color: #2d2d2d;
    box-shadow: 0 10px 20px 0 #2d2d2d; }

.agent-deals li {
  padding: 10px 0;
  border-top-width: 0; }

.dlbox {
  margin-top: 50px; }

.arrive li {
  color: #ff390d; }

.infopad {
  padding-bottom: 40px; }

.row.connect-airport {
  border-radius: 5px; }

.ListLoading {
  padding: 20px 30px;
  margin-left: -92px !important;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  text-align: center; }
  @media (max-width: 599px) {
    .ListLoading {
      margin-top: 0 !important; } }

@media (max-width: 599px) {
  .booking-title a {
    margin: 10px 0;
    padding: 2px 30px;
    border: 2px solid #ff390d;
    border-radius: 20px; } }

@media (max-width: 599px) {
  .mobilecollapse > a {
    color: #ff390d; } }

.trinfo h5,
.trinfo h6 {
  font-weight: 600; }
  @media (max-width: 599px) {
    .trinfo h5,
    .trinfo h6 {
      font-size: 16px;
      line-height: 1.5; }
      .trinfo h5 .mh,
      .trinfo h6 .mh {
        display: none; } }

@media (max-width: 599px) {
  .trinfo h6 {
    padding-bottom: 10px; } }

@media (max-width: 599px) {
  .PageIdlist .global-wrap {
    margin-top: 1px; } }

@media (max-width: 599px) {
  .booking-title {
    margin-left: -5px;
    width: calc(100% + 10px); } }

@media (max-width: 599px) {
  .agent-deals {
    margin-top: 25px; } }

@media (max-width: 599px) {
  .infopad {
    max-height: 100%; } }

@-webkit-keyframes circleloader {
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes loading {
  to {
    -moz-transform: rotate(360deg); } }
@-ms-keyframes loading {
  to {
    -ms-transform: rotate(360deg); } }
@keyframes loading {
  to {
    transform: rotate(360deg); } }
.circlespinner {
  position: relative;
  margin: 15px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  border-top: 4px solid #ff390d;
  border-right: 4px solid #ff390d;
  border-bottom: 4px solid #c419c5;
  border-left: 4px solid #c419c5;
  -webkit-animation: circleloader 1.2s infinite linear;
  -moz-animation: circleloader 1.2s infinite linear;
  -ms-animation: circleloader 1.2s infinite linear;
  animation: circleloader 1.2s infinite linear; }

.searchWrapper .rs_searchbox .rs_air_form .rs_air_options {
  margin-bottom: 20px;
  border-radius: 3px;
  border: 0px solid transparent;
  overflow: visible; }
  .searchWrapper .rs_searchbox .rs_air_form .rs_air_options span {
    padding: 6px 15px; }
  .searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option {
    position: relative;
    border: 0px solid transparent; }
    .searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option label {
      margin: 0 auto;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.8px; }
    .searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option.rs_air_highlight {
      background-color: transparent;
      background: transparent;
      color: #2d2d2d !important; }
      .searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option.rs_air_highlight:after {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        content: '';
        border-radius: 2px;
        background: #ff390d;
        background: -moz-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
        background: -webkit-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
        background: linear-gradient(135deg, #da1cdc 0%, #ff390d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorstop-dark', endColorstr='$colorstop-light',GradientType=1 ); }
      .searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option.rs_air_highlight:before {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -4px;
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
        border-width: 4px 3px 0 3px;
        border-color: #ed2b71 transparent transparent transparent;
        content: ''; }
.searchWrapper .rs_searchbox .rs_button_row {
  margin-top: 5px; }
  .searchWrapper .rs_searchbox .rs_button_row.newbtn .rs_search {
    border-radius: 22px !important;
    background: #ff390d;
    background: -moz-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
    background: -webkit-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
    background: linear-gradient(135deg, #da1cdc 0%, #ff390d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorstop-dark', endColorstr='$colorstop-light',GradientType=1 ); }
  .searchWrapper .rs_searchbox .rs_button_row.newbtn i.fa-search {
    right: 20px;
    transform: scale(0.75); }

@media (max-width: 599px) {
  .bookindividual {
    float: left !important;
    clear: both !important;
    margin: 20px auto !important;
    padding: 12px 30px !important;
    font-size: 14px !important; } }

.bookindividual:active,
a[data-test="booksingle"]:active,
a[data-alength="1"]:active,
.bookindividual:focus,
a[data-test="booksingle"]:focus,
a[data-alength="1"]:focus {
  text-decoration: none;
  background: #4800ff;
  background: -moz-linear-gradient(-45deg, #4800ff 0%, #7a14e3 100%) !important;
  background: -webkit-linear-gradient(-45deg, #4800ff 0%, #7a14e3 100%) !important;
  background: linear-gradient(135deg, #4800ff 0%, #7a14e3 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorstopalt-light', endColorstr='$colorstopalt-dark',GradientType=1 ); }

.datepicker {
  padding: 15px;
  border-radius: 5px; }
  .datepicker.dropdown-menu {
    border-radius: 6px;
    border: 2px solid #b0b0b0; }
  .datepicker th.datepicker-switch:hover, .datepicker th.datepicker-switch:active, .datepicker th.datepicker-switch:focus {
    background-color: transparent !important; }
  .datepicker th.prev, .datepicker th.next {
    position: relative;
    padding: 0 !important;
    width: 40px;
    height: 30px; }
    .datepicker th.prev:hover, .datepicker th.prev:active, .datepicker th.prev:focus, .datepicker th.next:hover, .datepicker th.next:active, .datepicker th.next:focus {
      background-color: transparent !important; }
    .datepicker th.prev:before, .datepicker th.prev:after, .datepicker th.next:before, .datepicker th.next:after {
      position: absolute;
      content: "" !important; }
    .datepicker th.prev:before, .datepicker th.next:before {
      z-index: 1;
      top: 14px;
      right: 0;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      background: #ff390d;
      background: -moz-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
      background: -webkit-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
      background: linear-gradient(135deg, #da1cdc 0%, #ff390d 100%); }
    .datepicker th.prev:after, .datepicker th.next:after {
      z-index: 2;
      right: 12px;
      top: 24px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 6px;
      border-color: transparent transparent transparent #ffffff; }
  .datepicker th.prev:before {
    right: auto;
    left: 0; }
  .datepicker th.prev:after {
    right: auto;
    left: 12px;
    border-width: 6px 6px 6px 0;
    border-color: transparent #ffffff transparent transparent; }
  .datepicker .table-condensed > thead > tr > th:not(.dow) {
    line-height: 50px;
    font-size: 20px; }
  .datepicker .table-condensed > thead > tr > th.datepicker-switch {
    white-space: nowrap; }
  .datepicker table tr td.day.active, .datepicker table tr td.day.active:hover, .datepicker table tr td.day.active:focus, .datepicker table tr td.day.active:active {
    border-radius: 0;
    border-color: #ff390d;
    background: #ff390d;
    background: -moz-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
    background: -webkit-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
    background: linear-gradient(135deg, #da1cdc 0%, #ff390d 100%); }
  .datepicker.datepicker-dropdown.datepicker-orient-top:before {
    border-top-color: #b0b0b0; }
  .datepicker.datepicker-dropdown.datepicker-orient-top:after {
    bottom: -5px; }
  .datepicker.datepicker-dropdown.datepicker-orient-bottom:before {
    border-bottom-color: #b0b0b0; }
  .datepicker.datepicker-dropdown.datepicker-orient-bottom:after {
    top: -5px; }

#air_round_trip input,
#rs_multi input,
.travelers,
#rs_multi select {
  box-shadow: none;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  transition: border-color 300ms ease-in-out; }
  #air_round_trip input:focus,
  #rs_multi input:focus,
  .travelers:focus,
  #rs_multi select:focus {
    box-shadow: none;
    border-color: #b0b0b0; }

#air_round_trip input[type=button] {
  border: 0px solid transparent; }

.closebox span {
  background: #ff390d;
  background: -moz-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
  background: -webkit-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
  background: linear-gradient(135deg, #da1cdc 0%, #ff390d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorstop-dark', endColorstr='$colorstop-light',GradientType=1 ); }

.TotalFlightCount {
  color: #da1cdc; }
  @media (min-width: 900px) {
    .TotalFlightCount {
      font-size: 46px;
      line-height: 1;
      display: block;
      background: -webkit-linear-gradient(178deg, #da1cdc, #ff390d);
      background: linear-gradient(178deg, #da1cdc, #ff390d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; } }

body.PageIdlist .datepicker:before, body.PageIdlist .datepicker:after {
  display: none; }

@media (max-width: 599px) {
  .searchWrapper {
    padding: 35px 0 0; } }
.searchWrapper .rs_searchbox .rs_air_form .formpromo {
  position: absolute;
  z-index: 0;
  top: -83px;
  right: 15px;
  width: 202px;
  height: 158px; }
  @media (max-width: 599px) {
    .searchWrapper .rs_searchbox .rs_air_form .formpromo {
      z-index: -1; } }
  @media (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 900px), (min-resolution: 120dpi) and (min-width: 900px) {
    .searchWrapper .rs_searchbox .rs_air_form .formpromo {
      background-image: url(https://a2b6m4h9.hostrycdn.com/assets/promo/homepromo_2x.png); } }
  @media (orientation: landscape) {
    .searchWrapper .rs_searchbox .rs_air_form .formpromo {
      top: -83px;
      right: 30px;
      width: 215px;
      height: 168px; } }
  @media (min-width: 600px) {
    .searchWrapper .rs_searchbox .rs_air_form .formpromo {
      background: transparent url(https://a2b6m4h9.hostrycdn.com/assets/promo/homepromo.png) 0 0/cover no-repeat;
      top: -83px;
      right: 30px;
      width: 215px;
      height: 168px; } }
  @media (min-width: 900px) {
    .searchWrapper .rs_searchbox .rs_air_form .formpromo {
      top: -85px;
      right: 45px;
      width: 235px;
      height: 185px; } }
  .searchWrapper .rs_searchbox .rs_air_form .formpromo h1, .searchWrapper .rs_searchbox .rs_air_form .formpromo h2 {
    position: relative;
    margin: 20px 0 0 25px;
    text-align: center;
    width: 110px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    color: #fff;
    letter-spacing: 0.8px; }
    .searchWrapper .rs_searchbox .rs_air_form .formpromo h1:after, .searchWrapper .rs_searchbox .rs_air_form .formpromo h2:after {
      position: absolute;
      z-index: 1;
      bottom: -8px;
      left: 50%;
      height: 3px;
      width: 20px;
      transform: translate(-50%, 0);
      background-color: #fff;
      content: ''; }
    @media (orientation: landscape) {
      .searchWrapper .rs_searchbox .rs_air_form .formpromo h1, .searchWrapper .rs_searchbox .rs_air_form .formpromo h2 {
        margin-left: 30px; } }
    @media (min-width: 600px) {
      .searchWrapper .rs_searchbox .rs_air_form .formpromo h1, .searchWrapper .rs_searchbox .rs_air_form .formpromo h2 {
        margin-left: 30px; } }
    @media (min-width: 900px) {
      .searchWrapper .rs_searchbox .rs_air_form .formpromo h1, .searchWrapper .rs_searchbox .rs_air_form .formpromo h2 {
        margin: 25px 0 0 27px;
        width: 130px;
        font-size: 18px; } }
    @media (min-width: 1200px) {
      .searchWrapper .rs_searchbox .rs_air_form .formpromo h1, .searchWrapper .rs_searchbox .rs_air_form .formpromo h2 {
        margin: 23px 0 0 28px; } }
  .searchWrapper .rs_searchbox .rs_air_form .formpromo + .rs_air_options {
    position: relative;
    z-index: 9;
    background-color: transparent; }

.searchWrapper .rs_searchbox .rs_chk_in,
.searchWrapper .rs_searchbox .rs_chk_out {
  background-image: url(//www.discountflights.com/assets/calendar-icon.png);
  background-size: 27px 22px; }
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .searchWrapper .rs_searchbox .rs_chk_in,
    .searchWrapper .rs_searchbox .rs_chk_out {
      background-image: url(//www.discountflights.com/assets/calendar-icon_2x.png); } }
.searchWrapper .travelers img[alt="down arrow"] {
  width: 16px;
  height: 16px; }
.searchWrapper .row.PaxBlock label {
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: bold;
  color: #2d2d2d;
  text-transform: uppercase;
  letter-spacing: 0.8px; }
  .searchWrapper .row.PaxBlock label:after {
    content: ':'; }
.searchWrapper .row.PaxBlock input,
.searchWrapper .row.PaxBlock select {
  background-color: #fff; }

footer ul.imagelinks {
  position: relative;
  margin: 60px auto;
  width: 100%;
  max-width: 1059px;
  text-align: center;
  list-style: none; }
  footer ul.imagelinks li {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 350px;
    height: 220px;
    display: inline-block; }
    @media (min-width: 1200px) {
      footer ul.imagelinks li:nth-child(3n+1) {
        margin-left: -1px; } }
  footer ul.imagelinks a {
    position: relative;
    width: 350px;
    height: 220px;
    display: inline-block;
    overflow: hidden; }
    footer ul.imagelinks a span {
      position: absolute;
      z-index: 5;
      padding: 10px 0;
      width: 100%;
      height: auto;
      display: block;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      line-height: 1;
      transition: all 300ms ease-in-out; }
    footer ul.imagelinks a img {
      transition: all 450ms ease-in-out; }
    footer ul.imagelinks a:after {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0);
      transition: all 300ms ease-in-out;
      content: ''; }
    @media (min-width: 1200px) {
      footer ul.imagelinks a:hover img, footer ul.imagelinks a:focus img, footer ul.imagelinks a:active img {
        transform: scale(1.025); } }
    footer ul.imagelinks a:hover:after, footer ul.imagelinks a:focus:after, footer ul.imagelinks a:active:after {
      background: rgba(0, 0, 0, 0.25); }
    footer ul.imagelinks a:hover span, footer ul.imagelinks a:focus span, footer ul.imagelinks a:active span {
      background: #ff390d;
      background: -moz-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
      background: -webkit-linear-gradient(-45deg, #da1cdc 0%, #ff390d 100%);
      background: linear-gradient(135deg, #da1cdc 0%, #ff390d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorstop-dark', endColorstr='$colorstop-light',GradientType=1 ); }
footer ul.last {
  margin-top: 60px; }
footer .iwrapper h2 {
  margin-top: 40px; }
footer .iwrapper p {
  font-size: 14px; }

img[alt="jetBlue"] {
  width: 72px;
  height: 36px;
  display: inline-block;
  content: url("https://www.discountflights.com/images/jeblue-airways.png"); }

img[alt="Southwest Airlines"] {
  width: 72px;
  height: 36px;
  display: inline-block;
  content: url("https://www.discountflights.com/images/southwest-airlines.png"); }

/* new form below */
.containertp {
	background: url(../images/formg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
body.alt header .iwrapper .column.logo img {
    vertical-align: baseline; }

@media (max-width: 599px) {
  header .iwrapper {
    height: 75px; } }

@media (max-width: 599px) {
  header .iwrapper .column.utilitynav {
    margin-top: -10px; } }

@media (min-width: 900px) {
  .searchWrapper .rs_searchbox .rs_air_form .formpromo {
    right: 30px; } }

@media (max-width: 599px) {
  .searchWrapper .rs_searchbox .rs_air_form .formpromo h1,
  .searchWrapper .rs_searchbox .rs_air_form .formpromo h2 {
    display: none;
    margin-left: -2px;
    font-size: 14px;
    line-height: 1.2; } }

.searchWrapper .rs_searchbox {
  background-color: transparent; }

@media (max-width: 599px) {
  .searchWrapper .rs_searchbox .rs_air_form .rs_air_options .rs_air_option.rs_air_highlight:before {
    bottom: -3px; } }

.searchWrapper .rs_searchbox #air_round_trip input,
.searchWrapper .rs_searchbox #rs_multi input,
.searchWrapper .rs_searchbox .travelers,
.searchWrapper .rs_searchbox #rs_multi select,
#rs_multi select,
#rs_multi select:focus,
#rs_multi select:active {
  color: #2d2d2d;
  border-radius: 0;
  border: 0px solid transparent;
  border-bottom: 2px solid #2d2d2d;
  background-color: transparent;
  font-weight: 500; }
  @media (min-width: 900px) {
    .searchWrapper .rs_searchbox #air_round_trip input,
    .searchWrapper .rs_searchbox #rs_multi input,
    .searchWrapper .rs_searchbox .travelers,
    .searchWrapper .rs_searchbox #rs_multi select,
    #rs_multi select,
    #rs_multi select:focus,
    #rs_multi select:active {
      font-size: 18px; } }

@media (min-width: 900px) {
  .searchWrapper .rs_searchbox #air_round_trip input[name="to"] {
    padding-right: 115px; } }

.searchWrapper .rs_searchbox .rs_button_row {
  margin-top: 15px; }

.searchWrapper .rs_searchbox #air_round_trip input.rs_search {
  color: #fff;
  border-bottom: 0px solid transparent; }

@media (max-width: 599px) {
  #rs_multi input.rs_search {
    height: 54px;
    border-radius: 32px !important; } }

@media (max-width: 599px) {
  #rs_multi input.rs_search + .fa.fa-search.plf-search {
    display: none; } }
@media (max-width: 768px) {
  #rs_multi input.rs_search + .fa.fa-search.plf-search {
    margin: -1px 0 0 12px; } }

.searchWrapper .rs_searchbox form {
  margin-top: -41px; }
  @media (min-width: 900px) {
    .searchWrapper .rs_searchbox form {
      padding-bottom: 70px; } }
  @media (max-width: 599px) {
    .searchWrapper .rs_searchbox form {
      margin-top: 7px; } }

.mfp-content .searchWrapper .rs_searchbox form {
  margin-top: 0; }

.searchWrapper .rs_searchbox .rs_chk_in,
.searchWrapper .rs_searchbox .rs_chk_out {
  background-image: url(//www.discountflights.com/assets/calendar-icon-nf.png); }
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .searchWrapper .rs_searchbox .rs_chk_in,
    .searchWrapper .rs_searchbox .rs_chk_out {
      background-image: url(//www.discountflights.com/assets/calendar-icon-nf_2x.png); } }

@media (min-width: 600px) {
  .containertp .anchorwrapper {
    margin-top: 40px; } }

/**/
li.bubbleresults > div {
  position: relative;
  margin: -5px 0 0 0;
  width: 50%;
  width: calc(50% - 5px);
  display: inline-block;
  vertical-align: top;
  text-align: center; }
  @media (min-width: 900px) {
    li.bubbleresults > div {
      margin-top: 3px; } }
  li.bubbleresults > div.shortest {
    margin-right: 5px; }
  li.bubbleresults > div.cheapest {
    margin-left: 5px; }
  li.bubbleresults > div a {
    padding: 8px;
    width: 100%;
    min-height: 85px;
    display: block;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 0;
    background: #f3f3f3;
    color: #666;
    transition: all 300ms ease-out; }
    @media (min-width: 900px) {
      li.bubbleresults > div a {
        min-height: none; } }
    li.bubbleresults > div a span {
      display: block; }
      li.bubbleresults > div a span.title {
        font-size: 9px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        color: #737373; }
      li.bubbleresults > div a span.value {
        font-size: 20px;
        font-weight: bold;
        line-height: 0.8;
        min-height: 20px; }
        @media (min-width: 900px) {
          li.bubbleresults > div a span.value small {
            font-size: 12px; } }
        @media (min-width: 900px) {
          li.bubbleresults > div a span.value {
            font-size: 36px;
            line-height: 1.2; } }
      li.bubbleresults > div a span.details {
        font-size: 12px;
        color: #737373; }
    @media (min-width: 900px) {
      li.bubbleresults > div a:hover, li.bubbleresults > div a:focus, li.bubbleresults > div a:active {
        background: -moz-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
        background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
        background: linear-gradient(135deg, #c419c5 0%, #f32c00 100%);
        color: #fff; } }
    @media (min-width: 900px) {
      li.bubbleresults > div a:hover span, li.bubbleresults > div a:focus span, li.bubbleresults > div a:active span {
        color: #fff; } }
    li.bubbleresults > div a:hover span small, li.bubbleresults > div a:focus span small, li.bubbleresults > div a:active span small {
      color: #fff; }
    li.bubbleresults > div a.bubblecheap {
      /*
      background: -moz-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
      background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
      background: linear-gradient(135deg, #c419c5 0%, #f32c00 100%);
      color: #fff;
      span {
      		color: #fff;
      	small {
      		color: #fff;
      	}
      }
      */ }
    li.bubbleresults > div a:focus, li.bubbleresults > div a:active {
      background: -moz-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
      background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
      background: linear-gradient(135deg, #c419c5 0%, #f32c00 100%);
      color: #fff; }
      li.bubbleresults > div a:focus span, li.bubbleresults > div a:active span {
        color: #fff; }

@media (max-width: 599px) {
  .booking-sort .booking-sort-title > a {
    font-weight: bold; } }

header .iwrapper .column {
  width: 40%; }
  @media (min-width: 900px) {
    header .iwrapper .column {
      width: 50%; } }
  header .iwrapper .column.utilitynav {
    width: 60%; }
    @media (min-width: 900px) {
      header .iwrapper .column.utilitynav {
        width: 50%; } }
    header .iwrapper .column.utilitynav ul li {
      margin: 0 2px; }
      @media (min-width: 900px) {
        header .iwrapper .column.utilitynav ul li {
          margin: 0 10px;
          font-size: 14px;
          letter-spacing: 0.4px; } }
      @media (max-width: 599px) {
        header .iwrapper .column.utilitynav ul li {
          margin: 0; } }
      header .iwrapper .column.utilitynav ul li.gnav {
        font-weight: 500; }
        @media (min-width: 900px) {
          header .iwrapper .column.utilitynav ul li.gnav {
            text-transform: uppercase;
            line-height: 100px;
            vertical-align: middle; } }
        header .iwrapper .column.utilitynav ul li.gnav.active {
          display: none; }
          @media (min-width: 900px) {
            header .iwrapper .column.utilitynav ul li.gnav.active {
              display: inline-block; } }
          header .iwrapper .column.utilitynav ul li.gnav.active a {
            position: relative;
            cursor: default; }
            header .iwrapper .column.utilitynav ul li.gnav.active a:after {
              position: absolute;
              z-index: 0;
              bottom: -5px;
              left: -10px;
              width: 100%;
              width: calc(100% + 20px);
              height: 1px;
              background: -moz-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
              background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
              background: linear-gradient(135deg, #c419c5 0%, #f32c00 100%);
              content: ''; }
            header .iwrapper .column.utilitynav ul li.gnav.active a:hover, header .iwrapper .column.utilitynav ul li.gnav.active a:active, header .iwrapper .column.utilitynav ul li.gnav.active a:focus {
              color: #2d2d2d;
              background-color: none;
              -webkit-background-clip: none;
              -webkit-text-fill-color: #2d2d2d; }
        header .iwrapper .column.utilitynav ul li.gnav a {
          position: relative;
          padding: 8px 18px;
          border-radius: 34px;
          font-size: 12px;
          font-weight: 700;
          background: -moz-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
          background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
          background: linear-gradient(135deg, #c419c5 0%, #f32c00 100%); }
          header .iwrapper .column.utilitynav ul li.gnav a span {
            line-height: 1;
            vertical-align: baseline;
            background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; }
            @media (min-width: 900px) {
              header .iwrapper .column.utilitynav ul li.gnav a span {
                background: none;
                -webkit-background-clip: none;
                -webkit-text-fill-color: #2d2d2d; } }
          @media (min-width: 900px) {
            header .iwrapper .column.utilitynav ul li.gnav a {
              padding: 0;
              border: 0px solid transparent;
              border-radius: 0;
              font-size: 14px;
              background: none;
              -webkit-background-clip: none;
              -webkit-text-fill-color: #2d2d2d; }
              header .iwrapper .column.utilitynav ul li.gnav a span.mobile-only {
                display: none; } }
          header .iwrapper .column.utilitynav ul li.gnav a span {
            position: relative;
            z-index: 2; }
            header .iwrapper .column.utilitynav ul li.gnav a span.mobile-only:after {
              position: absolute;
              z-index: 1;
              top: 0;
              left: -2px;
              width: 2px;
              height: 100%;
              background-color: #fff;
              content: ''; }
          header .iwrapper .column.utilitynav ul li.gnav a:before {
            position: absolute;
            z-index: 0;
            top: 2px;
            left: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            border-radius: 32px;
            background-color: #fff;
            content: ''; }
            @media (min-width: 900px) {
              header .iwrapper .column.utilitynav ul li.gnav a:before {
                display: none; } }
          header .iwrapper .column.utilitynav ul li.gnav a:hover span, header .iwrapper .column.utilitynav ul li.gnav a:active span, header .iwrapper .column.utilitynav ul li.gnav a:focus span {
            background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; }
      header .iwrapper .column.utilitynav ul li a {
        display: block; }
        @media (max-width: 599px) {
          header .iwrapper .column.utilitynav ul li a {
            margin: 0px;
            padding: 0 2px; } }
  @media (max-width: 599px) {
    header .iwrapper .column.logo img {
      max-width: 165px;
      margin-top: 3px; } }

.footer .iwrapper h4.center {
  position: relative;
  text-align: center;
  margin: 30px 0;
  font-size: 24px; }
  @media (min-width: 900px) {
    .footer .iwrapper h4.center {
      font-size: 36px; } }
  .footer .iwrapper h4.center:after {
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    transform-origin: center;
    width: 30px;
    height: 3px;
    background-color: #2d2d2d;
    content: ''; }
    @media (min-width: 900px) {
      .footer .iwrapper h4.center:after {
        top: 85%; } }
.footer .iwrapper ul.cityhotelcards {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .footer .iwrapper ul.cityhotelcards * {
    box-sizing: border-box; }
  .footer .iwrapper ul.cityhotelcards li {
    position: relative;
    margin: 0 20px 20px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(100% - 40px);
    box-shadow: 0 10px 20px 0 rgba(229, 229, 229, 0.7);
    border-radius: 6px;
    text-align: center;
    font-size: 14px; }
    @media (min-width: 900px) {
      .footer .iwrapper ul.cityhotelcards li {
        flex: 0 0 50%;
        max-width: calc(50% - 40px); } }
    .footer .iwrapper ul.cityhotelcards li a {
      position: relative;
      display: flex;
      flex: 0 0 100%;
      width: 100%;
      display: block;
      font-size: 24px;
      font-weight: 600;
      text-decoration: none;
      color: #ff390d; }
      @media (min-width: 900px) {
        .footer .iwrapper ul.cityhotelcards li a:after {
          position: absolute;
          z-index: 1;
          top: 92%;
          left: 50%;
          transform: translate(-50%, 0);
          transform-origin: center;
          width: 0;
          height: 2px;
          background: -moz-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
          background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
          background: linear-gradient(135deg, #c419c5 0%, #f32c00 100%);
          content: '';
          transition: all 200ms ease-in-out; }
        .footer .iwrapper ul.cityhotelcards li a:hover, .footer .iwrapper ul.cityhotelcards li a:focus, .footer .iwrapper ul.cityhotelcards li a:active {
          background: -webkit-linear-gradient(-45deg, #c419c5 0%, #f32c00 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
          .footer .iwrapper ul.cityhotelcards li a:hover:after, .footer .iwrapper ul.cityhotelcards li a:focus:after, .footer .iwrapper ul.cityhotelcards li a:active:after {
            width: 40px; } }
    .footer .iwrapper ul.cityhotelcards li span {
      position: relative;
      display: flex;
      flex: 0 0 100%;
      width: 100%;
      display: block; }

body.csmodalactive {
  overflow: hidden; }
  @media only screen and (max-width: 960px) {
    body.csmodalactive {
      position: fixed; } }

.csmodal {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0;
  transition: opacity 300ms ease-out; }
  .csmodal.loaded {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    opacity: 1; }
    .csmodal.loaded.hidden {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: none; }
      .csmodal.loaded.hidden * {
        display: none; }
    @media (min-width: 600px) {
      .csmodal.loaded .csclose {
        animation: rotateclosebutton 1s 1;
        animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
        animation-delay: 250ms; } }
  .csmodal .csmodal-masthead h4 {
    position: relative;
    padding: 25px;
    width: 100%;
    font-family: Montserrat, 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #2d2d2d; }
    @media (min-width: 600px) {
      .csmodal .csmodal-masthead h4 {
        padding: 50px;
        font-size: 42px;
        text-align: center; }
        .csmodal .csmodal-masthead h4:before {
          position: relative;
          display: block;
          content: 'Regions';
          text-transform: uppercase;
          line-height: 2;
          font-size: 12px;
          font-weight: normal;
          opacity: 0.5;
          letter-spacing: 0.8px; } }
    .csmodal .csmodal-masthead h4 .csclose {
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 25px;
      transform: translate(0, -50%);
      width: 22px;
      height: 22px; }
      @media (min-width: 600px) {
        .csmodal .csmodal-masthead h4 .csclose {
          right: 50px; }
          .csmodal .csmodal-masthead h4 .csclose img {
            position: relative;
            top: -24px; } }
  .csmodal .row {
    margin: 0; }
  .csmodal .cs-continents {
    padding: 0 25px 25px; }
    .csmodal .cs-continents .mapwrapper {
      display: none; }
      @media (min-width: 1200px) {
        .csmodal .cs-continents .mapwrapper {
          position: absolute;
          z-index: 1;
          top: 120px;
          left: 0;
          width: 100%;
          height: 100%;
          display: block; }
          .csmodal .cs-continents .mapwrapper svg {
            margin: auto 20%;
            width: 60%; } }
    @media (min-width: 600px) {
      .csmodal .cs-continents ul.cs-continents-select {
        position: relative;
        z-index: 4; } }
    .csmodal .cs-continents ul.cs-continents-select li {
      margin: 12px 0; }
      @media (min-width: 600px) {
        .csmodal .cs-continents ul.cs-continents-select li {
          display: inline-block; } }
      .csmodal .cs-continents ul.cs-continents-select li a {
        position: relative;
        padding: 8px 32px;
        width: 100%;
        display: block;
        border: 1px solid #c3c9d3;
        border-radius: 36px;
        background-color: #fff;
        box-shadow: 0 16px 30px 0px rgba(0, 0, 0, 0.08);
        color: #2d2d2d;
        text-transform: uppercase;
        text-decoration: none;
        font: 16px Montserrat, 'Roboto', Helvetica, Arial, sans-serif;
        letter-spacing: 0.3px;
        line-height: 1; }
        @media (min-width: 600px) {
          .csmodal .cs-continents ul.cs-continents-select li a {
            padding: 6px 26px;
            font-size: 12px;
            width: auto;
            display: inline-block; } }
        .csmodal .cs-continents ul.cs-continents-select li a.active, .csmodal .cs-continents ul.cs-continents-select li a:hover, .csmodal .cs-continents ul.cs-continents-select li a:focus, .csmodal .cs-continents ul.cs-continents-select li a:active {
          color: #da1cdc;
          text-decoration: none; }
  .csmodal .cs-countries .list {
    margin: 0 auto;
    padding: 0 15px 15px;
    display: none; }
    .csmodal .cs-countries .list.active {
      display: block; }
    @media (min-width: 600px) {
      .csmodal .cs-countries .list.list-europe.active {
        min-height: 850px; } }
  .csmodal .cs-countries .cs-countries-select {
    margin: 0; }
    .csmodal .cs-countries .cs-countries-select li {
      margin: 0 0 0 16px;
      padding: 0;
      width: calc(50% - 18px);
      display: inline-block; }
      .csmodal .cs-countries .cs-countries-select li:nth-child(odd) {
        margin: 0 16px 0 0; }
        @media (min-width: 600px) {
          .csmodal .cs-countries .cs-countries-select li:nth-child(odd) {
            margin: 0 0 0 16px; } }
      @media (min-width: 600px) {
        .csmodal .cs-countries .cs-countries-select li {
          width: calc(33% - 18px); } }
      .csmodal .cs-countries .cs-countries-select li a {
        margin: 4px 0;
        padding: 4px 12px;
        width: 100%;
        box-sizing: border-box;
        display: block;
        color: #2d2d2d;
        text-transform: uppercase;
        font: 13px Montserrat, 'Roboto', Helvetica, Arial, sans-serif;
        letter-spacing: 0.3px;
        line-height: 1;
        text-overflow: ellipsis;
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap; }
        .csmodal .cs-countries .cs-countries-select li a span {
          line-height: 1;
          display: inline-block;
          vertical-align: middle; }
          .csmodal .cs-countries .cs-countries-select li a span:last-child {
            display: inline;
            width: calc(100% - 28px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
          .csmodal .cs-countries .cs-countries-select li a span img {
            padding-right: 8px;
            width: auto;
            height: auto; }
        .csmodal .cs-countries .cs-countries-select li a.active {
          padding: 4px 12px;
          width: 100%;
          display: block;
          border: 1px solid #c3c9d3;
          border-radius: 36px;
          background-color: #fff;
          box-shadow: 0 16px 30px 0px rgba(0, 0, 0, 0.08);
          color: #da1cdc; }

.Flightsearchnew .dlbox .row {
  margin-left: 0 !important; }
  .Flightsearchnew .dlbox .row p {
    margin-left: 15px !important; }
  .Flightsearchnew .dlbox .row.connect-airport {
    border-radius: 0; }
    .Flightsearchnew .dlbox .row.connect-airport .pull-right {
      margin-right: 20px; }
  .Flightsearchnew .dlbox .row.arrive .list-inline li {
    float: right;
    margin-right: 20px; }
  .Flightsearchnew .dlbox .row.nomargin.depart, .Flightsearchnew .dlbox .row.nomargin.arrive {
    background-color: #2d2d2d;
    color: #fff; }
    .Flightsearchnew .dlbox .row.nomargin.depart h5, .Flightsearchnew .dlbox .row.nomargin.arrive h5 {
      color: #fff; }
      .Flightsearchnew .dlbox .row.nomargin.depart h5 b, .Flightsearchnew .dlbox .row.nomargin.arrive h5 b {
        color: #fff; }

.flightnewinfo {
  background-size: 38px 116px; }

.itinerarywrapper {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #f7f5f5;
  cursor: default; }
  .itinerarywrapper h5 {
    font-weight: bold; }

.Flightcode > .flightnamenew {
  display: block !important; }

.mobileonly {
  display: none; }
  @media (max-width: 599px) {
    .mobileonly {
      padding: 5px 5px 0;
      width: 100%;
      display: block;
      text-align: right;
      font-size: 10px;
      line-height: 1.5; }
      .mobileonly strong {
        font-weight: bold; } }

@media (max-width: 599px) {
  body > .ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
    max-width: calc(100% - 110px); } }

@media (max-width: 599px) {
  .Newbacktoresult.closenew {
    display: block;
    width: 40px;
    height: 40px;
    transform: translate(0, 10px); }
    .Newbacktoresult.closenew:before {
      top: 15px;
      left: 4px; } }

@keyframes rotateclosebutton {
  from {
    transform: rotate(0deg) translate(0, -50%);
    transform-origin: 50% -25%; }
  to {
    transform: rotate(360deg) translate(0, -50%);
    transform-origin: 50% -25%; } }
@-webkit-keyframes rotateclosebutton {
  from {
    -webkit-transform: rotate(0deg) translate(0, -50%);
    transform-origin: 50% -50%; }
  to {
    -webkit-transform: rotate(360deg) translate(0, -50%);
    transform-origin: 50% -50%; } }
@-moz-keyframes rotateclosebutton {
  from {
    -moz-transform: rotate(0deg) translate(0, -50%);
    transform-origin: 50% -50%; }
  to {
    -moz-transform: rotate(360deg) translate(0, -50%);
    transform-origin: 50% -50%; } }
/*flags*/
span.flag {
  margin-right: -12px;
  width: 44px;
  height: 30px;
  max-height: 29.8px;
  display: inline-block;
  transform: scale(0.5);
  transform-origin: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25); }

img.flag {
  width: 30px; }

.flag {
  background: url("https://a2b6m4h9.hostrycdn.com/images/flags_responsive-2.png") no-repeat;
  background-size: 100%;
  background-size: 88px 7290px; }

.flag-ad {
  background-position: 0 0.413223%; }

.flag-ae {
  background-position: 0 0.826446%; }

.flag-af {
  background-position: 0 1.239669%; }

.flag-ag {
  background-position: 0 1.652893%; }

.flag-ai {
  background-position: 0 2.066116%; }

.flag-al {
  background-position: 0 2.479339%; }

.flag-am {
  background-position: 0 2.892562%; }

.flag-an {
  background-position: 0 3.305785%; }

.flag-ao {
  background-position: 0 3.719008%; }

.flag-aq {
  background-position: 0 4.132231%; }

.flag-ar {
  background-position: 0 4.545455%; }

.flag-as {
  background-position: 0 4.958678%; }

.flag-at {
  background-position: 0 5.371901%; }

.flag-au {
  background-position: 0 5.785124%; }

.flag-aw {
  background-position: 0 6.198347%; }

.flag-az {
  background-position: 0 6.61157%; }

.flag-ba {
  background-position: 0 7.024793%; }

.flag-bb {
  background-position: 0 7.438017%; }

.flag-bd {
  background-position: 0 7.85124%; }

.flag-be {
  background-position: 0 8.264463%; }

.flag-bf {
  background-position: 0 8.677686%; }

.flag-bg {
  background-position: 0 9.090909%; }

.flag-bh {
  background-position: 0 9.504132%; }

.flag-bi {
  background-position: 0 9.917355%; }

.flag-bj {
  background-position: 0 10.330579%; }

.flag-bm {
  background-position: 0 10.743802%; }

.flag-bn {
  background-position: 0 11.157025%; }

.flag-bo {
  background-position: 0 11.570248%; }

.flag-br {
  background-position: 0 11.983471%; }

.flag-bs {
  background-position: 0 12.396694%; }

.flag-bt {
  background-position: 0 12.809917%; }

.flag-bv {
  background-position: 0 13.22314%; }

.flag-bw {
  background-position: 0 13.636364%; }

.flag-by {
  background-position: 0 14.049587%; }

.flag-bz {
  background-position: 0 14.46281%; }

.flag-ca {
  background-position: 0 14.876033%; }

.flag-cc {
  background-position: 0 15.289256%; }

.flag-cd {
  background-position: 0 15.702479%; }

.flag-cf {
  background-position: 0 16.115702%; }

.flag-cg {
  background-position: 0 16.528926%; }

.flag-ch {
  background-position: 0 16.942149%; }

.flag-ci {
  background-position: 0 17.355372%; }

.flag-ck {
  background-position: 0 17.768595%; }

.flag-cl {
  background-position: 0 18.181818%; }

.flag-cm {
  background-position: 0 18.595041%; }

.flag-cn {
  background-position: 0 19.008264%; }

.flag-co {
  background-position: 0 19.421488%; }

.flag-cr {
  background-position: 0 19.834711%; }

.flag-cu {
  background-position: 0 20.247934%; }

.flag-cv {
  background-position: 0 20.661157%; }

.flag-cx {
  background-position: 0 21.07438%; }

.flag-cy {
  background-position: 0 21.487603%; }

.flag-cz {
  background-position: 0 21.900826%; }

.flag-de {
  background-position: 0 22.31405%; }

.flag-dj {
  background-position: 0 22.727273%; }

.flag-dk {
  background-position: 0 23.140496%; }

.flag-dm {
  background-position: 0 23.553719%; }

.flag-do {
  background-position: 0 23.966942%; }

.flag-dz {
  background-position: 0 24.380165%; }

.flag-ec {
  background-position: 0 24.793388%; }

.flag-ee {
  background-position: 0 25.206612%; }

.flag-eg {
  background-position: 0 25.619835%; }

.flag-eh {
  background-position: 0 26.033058%; }

.flag-er {
  background-position: 0 26.446281%; }

.flag-es {
  background-position: 0 26.859504%; }

.flag-eu {
  background-position: 100% 0; }

.flag-et {
  background-position: 0 27.272727%; }

.flag-fi {
  background-position: 0 27.68595%; }

.flag-fj {
  background-position: 0 28.099174%; }

.flag-fk {
  background-position: 0 28.512397%; }

.flag-fm {
  background-position: 0 28.92562%; }

.flag-fo {
  background-position: 0 29.338843%; }

.flag-fr {
  background-position: 0 29.752066%; }

.flag-ga {
  background-position: 0 30.165289%; }

.flag-gd {
  background-position: 0 30.578512%; }

.flag-ge {
  background-position: 0 30.991736%; }

.flag-gf {
  background-position: 0 31.404959%; }

.flag-gh {
  background-position: 0 31.818182%; }

.flag-gi {
  background-position: 0 32.231405%; }

.flag-gl {
  background-position: 0 32.644628%; }

.flag-gm {
  background-position: 0 33.057851%; }

.flag-gn {
  background-position: 0 33.471074%; }

.flag-gp {
  background-position: 0 33.884298%; }

.flag-gq {
  background-position: 0 34.297521%; }

.flag-gr {
  background-position: 0 34.710744%; }

.flag-gs {
  background-position: 0 35.123967%; }

.flag-gt {
  background-position: 0 35.53719%; }

.flag-gu {
  background-position: 0 35.950413%; }

.flag-gw {
  background-position: 0 36.363636%; }

.flag-gy {
  background-position: 0 36.77686%; }

.flag-hk {
  background-position: 0 37.190083%; }

.flag-hm {
  background-position: 0 37.603306%; }

.flag-hn {
  background-position: 0 38.016529%; }

.flag-hr {
  background-position: 0 38.429752%; }

.flag-ht {
  background-position: 0 38.842975%; }

.flag-hu {
  background-position: 0 39.256198%; }

.flag-id {
  background-position: 0 39.669421%; }

.flag-ie {
  background-position: 0 40.082645%; }

.flag-il {
  background-position: 0 40.495868%; }

.flag-in {
  background-position: 0 40.909091%; }

.flag-io {
  background-position: 0 41.322314%; }

.flag-iq {
  background-position: 0 41.735537%; }

.flag-ir {
  background-position: 0 42.14876%; }

.flag-is {
  background-position: 0 42.561983%; }

.flag-it {
  background-position: 0 42.975207%; }

.flag-jm {
  background-position: 0 43.38843%; }

.flag-jo {
  background-position: 0 43.801653%; }

.flag-jp {
  background-position: 0 44.214876%; }

.flag-ke {
  background-position: 0 44.628099%; }

.flag-kg {
  background-position: 0 45.041322%; }

.flag-kh {
  background-position: 0 45.454545%; }

.flag-ki {
  background-position: 0 45.867769%; }

.flag-km {
  background-position: 0 46.280992%; }

.flag-kn {
  background-position: 0 46.694215%; }

.flag-kp {
  background-position: 0 47.107438%; }

.flag-kr {
  background-position: 0 47.520661%; }

.flag-kw {
  background-position: 0 47.933884%; }

.flag-ky {
  background-position: 0 48.347107%; }

.flag-kz {
  background-position: 0 48.760331%; }

.flag-la {
  background-position: 0 49.173554%; }

.flag-lb {
  background-position: 0 49.586777%; }

.flag-lc {
  background-position: 0 50%; }

.flag-li {
  background-position: 0 50.413223%; }

.flag-lk {
  background-position: 0 50.826446%; }

.flag-lr {
  background-position: 0 51.239669%; }

.flag-ls {
  background-position: 0 51.652893%; }

.flag-lt {
  background-position: 0 52.066116%; }

.flag-lu {
  background-position: 0 52.479339%; }

.flag-lv {
  background-position: 0 52.892562%; }

.flag-ly {
  background-position: 0 53.305785%; }

.flag-ma {
  background-position: 0 53.719008%; }

.flag-mc {
  background-position: 0 54.132231%; }

.flag-md {
  background-position: 0 54.545455%; }

.flag-me {
  background-position: 0 54.958678%; }

.flag-mg {
  background-position: 0 55.371901%; }

.flag-mh {
  background-position: 0 55.785124%; }

.flag-mk {
  background-position: 0 56.198347%; }

.flag-ml {
  background-position: 0 56.61157%; }

.flag-mm {
  background-position: 0 57.024793%; }

.flag-mn {
  background-position: 0 57.438017%; }

.flag-mo {
  background-position: 0 57.85124%; }

.flag-mp {
  background-position: 0 58.264463%; }

.flag-mq {
  background-position: 0 58.677686%; }

.flag-mr {
  background-position: 0 59.090909%; }

.flag-ms {
  background-position: 0 59.504132%; }

.flag-mt {
  background-position: 0 59.917355%; }

.flag-mu {
  background-position: 0 60.330579%; }

.flag-mv {
  background-position: 0 60.743802%; }

.flag-mw {
  background-position: 0 61.157025%; }

.flag-mx {
  background-position: 0 61.570248%; }

.flag-my {
  background-position: 0 61.983471%; }

.flag-mz {
  background-position: 0 62.396694%; }

.flag-na {
  background-position: 0 62.809917%; }

.flag-nc {
  background-position: 0 63.22314%; }

.flag-ne {
  background-position: 0 63.636364%; }

.flag-nf {
  background-position: 0 64.049587%; }

.flag-ng {
  background-position: 0 64.46281%; }

.flag-ni {
  background-position: 0 64.876033%; }

.flag-nl {
  background-position: 0 65.289256%; }

.flag-no {
  background-position: 0 65.702479%; }

.flag-np {
  background-position: 0 66.115702%; }

.flag-nr {
  background-position: 0 66.528926%; }

.flag-nu {
  background-position: 0 66.942149%; }

.flag-nz {
  background-position: 0 67.355372%; }

.flag-om {
  background-position: 0 67.768595%; }

.flag-pa {
  background-position: 0 68.181818%; }

.flag-pe {
  background-position: 0 68.595041%; }

.flag-pf {
  background-position: 0 69.008264%; }

.flag-pg {
  background-position: 0 69.421488%; }

.flag-ph {
  background-position: 0 69.834711%; }

.flag-pk {
  background-position: 0 70.247934%; }

.flag-pl {
  background-position: 0 70.661157%; }

.flag-pm {
  background-position: 0 71.07438%; }

.flag-pn {
  background-position: 0 71.487603%; }

.flag-pr {
  background-position: 0 71.900826%; }

.flag-pt {
  background-position: 0 72.31405%; }

.flag-pw {
  background-position: 0 72.727273%; }

.flag-py {
  background-position: 0 73.140496%; }

.flag-qa {
  background-position: 0 73.553719%; }

.flag-re {
  background-position: 0 73.966942%; }

.flag-ro {
  background-position: 0 74.380165%; }

.flag-rs {
  background-position: 0 74.793388%; }

.flag-ru {
  background-position: 0 75.206612%; }

.flag-rw {
  background-position: 0 75.619835%; }

.flag-sa {
  background-position: 0 76.033058%; }

.flag-sb {
  background-position: 0 76.446281%; }

.flag-sc {
  background-position: 0 76.859504%; }

.flag-sd {
  background-position: 0 77.272727%; }

.flag-se {
  background-position: 0 77.68595%; }

.flag-sg {
  background-position: 0 78.099174%; }

.flag-sh {
  background-position: 0 78.512397%; }

.flag-si {
  background-position: 0 78.92562%; }

.flag-sj {
  background-position: 0 79.338843%; }

.flag-sk {
  background-position: 0 79.752066%; }

.flag-sl {
  background-position: 0 80.165289%; }

.flag-sm {
  background-position: 0 80.578512%; }

.flag-sn {
  background-position: 0 80.991736%; }

.flag-so {
  background-position: 0 81.404959%; }

.flag-sr {
  background-position: 0 81.818182%; }

.flag-ss {
  background-position: 0 82.231405%; }

.flag-st {
  background-position: 0 82.644628%; }

.flag-sv {
  background-position: 0 83.057851%; }

.flag-sy {
  background-position: 0 83.471074%; }

.flag-sz {
  background-position: 0 83.884298%; }

.flag-tc {
  background-position: 0 84.297521%; }

.flag-td {
  background-position: 0 84.710744%; }

.flag-tf {
  background-position: 0 85.123967%; }

.flag-tg {
  background-position: 0 85.53719%; }

.flag-th {
  background-position: 0 85.950413%; }

.flag-tj {
  background-position: 0 86.363636%; }

.flag-tk {
  background-position: 0 86.77686%; }

.flag-tl {
  background-position: 0 87.190083%; }

.flag-tm {
  background-position: 0 87.603306%; }

.flag-tn {
  background-position: 0 88.016529%; }

.flag-to {
  background-position: 0 88.429752%; }

.flag-tp {
  background-position: 0 88.842975%; }

.flag-tr {
  background-position: 0 89.256198%; }

.flag-tt {
  background-position: 0 89.669421%; }

.flag-tv {
  background-position: 0 90.082645%; }

.flag-tw {
  background-position: 0 90.495868%; }

.flag-ty {
  background-position: 0 90.909091%; }

.flag-tz {
  background-position: 0 91.322314%; }

.flag-ua {
  background-position: 0 91.735537%; }

.flag-ug {
  background-position: 0 92.14876%; }

.flag-gb,
.flag-uk {
  background-position: 0 92.561983%; }

.flag-um {
  background-position: 0 92.975207%; }

.flag-us {
  background-position: 0 93.38843%; }

.flag-uy {
  background-position: 0 93.801653%; }

.flag-uz {
  background-position: 0 94.214876%; }

.flag-va {
  background-position: 0 94.628099%; }

.flag-vc {
  background-position: 0 95.041322%; }

.flag-ve {
  background-position: 0 95.454545%; }

.flag-vg {
  background-position: 0 95.867769%; }

.flag-vi {
  background-position: 0 96.280992%; }

.flag-vn {
  background-position: 0 96.694215%; }

.flag-vu {
  background-position: 0 97.107438%; }

.flag-wf {
  background-position: 0 97.520661%; }

.flag-ws {
  background-position: 0 97.933884%; }

.flag-ye {
  background-position: 0 98.347107%; }

.flag-za {
  background-position: 0 98.760331%; }

.flag-zm {
  background-position: 0 99.173554%; }

.flag-zr {
  background-position: 0 99.586777%; }

.flag-zw {
  background-position: 0 100%; }

@media (max-width: 576px) {
  .searchWrapper {
    padding: 20px 0 0;
  }
  body > .ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
    max-width: calc( 100vw - 10% );
  }
}