body {
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}

.clear {
  clear: both;
}

.searchWrapper {
  width: inherit;
  max-width: 1000px;
  padding: 0;
}

.searchProduct {
  max-width: 856px;
}

.searchWrapper .rs_searchbox {
  margin: 0;
  color: black;
  background-color: #fff;
  border:0px;
  font-weight: 400;
  text-align: left;
  padding: 25px 30px;
  position: relative;
  font-size: 14px;
  font-family: 'Carme', sans-serif;
  vertical-align: middle;
}

.searchWrapper .rs_searchbox form {
  clear: both;
  padding-top: 15px;
}

.searchWrapper .rs_searchbox .rs_searchbox_hide {
  display: none;
}

.searchWrapper .rs_searchbox .rs_search_input {
  position: absolute;
  top: 18px;
  right: 30px;
}

.searchWrapper .rs_products {
  margin: 0;
  padding: 0 0 20px;
  list-style: none;
  color: #5e5442;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}

.searchWrapper .rs_products li {
  display: inline-block;
  padding: 0;
  margin: 0 25px 0 0;
  cursor: pointer;
}

.searchWrapper .rs_products li.last_tab {
  margin-right: 0;
}

.searchWrapper .rs_products li.highlight_tab {
  color: #1B7CC5;
}

.searchWrapper .rs_products li .rs_product_icon {
  display: inline-block;
  *float: left;
  vertical-align: middle;
  height: 20px;
  margin: 0 8px 0 0;
  margin-top: -5px;
  background-image: url(../images/products.png);
  background-repeat: no-repeat;
}

.searchWrapper .rs_products li.highlight_tab .rs_product_icon {
  background-image: url(../images/products_highlight.png);
}

.searchWrapper .rs_products li #iconHotel {
  width: 23px;
  background-position: -0px -0px;
}

.searchWrapper .rs_products li #iconCar {
  width: 22px;
  background-position: -25px -0px;
}

.searchWrapper .rs_products li #iconAir {
  width: 20px;
  background-position: -49px -0px;
}

.searchWrapper .rs_products li #iconVP {
  width: 23px;
  background-position: -71px -0px;
}

.searchProduct .rs_searchbox h2 {
  margin: 0;
  padding-bottom: 15px;
  color: black;
  font-family: 'Carme', sans-serif;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

.searchWrapper .rs_searchbox .rs_no_margin {
  margin-right: 0 !important;
}

.searchWrapper .rs_searchbox .last_margin {
  margin-right: inherit;
}

input[type='text']::-ms-clear {
  display: none;
}

select,
.searchWrapper .rs_searchbox .rs_autosuggest,
.searchWrapper .rs_searchbox .rs_from,
.searchWrapper .rs_searchbox .rs_to,
.searchWrapper .rs_searchbox .rs_chk_in,
.searchWrapper .rs_searchbox .rs_chk_out,
.searchWrapper .rs_searchbox .rs_rooms,
.searchWrapper .rs_searchbox .rs_time_in,
.searchWrapper .rs_searchbox .rs_time_out,
.searchWrapper .rs_searchbox .rooms,
.searchWrapper .rs_searchbox .rs_advisorid_input,
.searchWrapper .rs_searchbox .rs_select_box {
  border: 1px solid #ebebeb;
  font-size: 13px;
  color: #777;
}

.searchWrapper .rs_searchbox .rs_form_row {
  margin-bottom: 10px;
}

.searchWrapper .rs_searchbox .rs_vp_form .rs_origin_row {
  display: inline-block;
  float: left;
  width: 15%;
  vertical-align: middle;
}

.searchProduct .rs_searchbox .rs_vp_form .rs_origin_row {
  width: 49.5%;
}

.searchWrapper .rs_searchbox .rs_vp_form .rs_destination_row {
  display: inline-block;
  float: left;
  width: 15%;
  margin-left: -1px;
  vertical-align: middle;
}

.searchProduct .rs_searchbox .rs_vp_form .rs_destination_row {
  width: 49.5%;
}

.searchWrapper .rs_searchbox .rs_vp_form .rs_date {
  width: 13%;
}

.searchProduct .rs_searchbox .rs_vp_form .rs_date {
  width: 19%;
}

.searchWrapper .rs_searchbox .rs_vp_form .rs_rooms_row {
  width: 10.5%;
}

.searchProduct .rs_searchbox .rs_vp_form .rs_rooms_row {
  width: 14%;
}

.searchWrapper .rs_searchbox .rs_air_form .rs_air_options {
  width: 155px;
  color: #777;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #ddd;
}

.searchProduct .rs_searchbox .rs_air_form .rs_air_options {
  float: left;
}

.searchWrapper .rs_searchbox .rs_air_form .rs_air_highlight {
  color: #1B7CC5;
}

.searchWrapper .rs_searchbox .rs_air_form .rs_air_options input {
  display: none;
}

.searchWrapper .rs_searchbox .rs_air_form .rs_air_options label {
  cursor: pointer;
  margin-right: 10px;
}

.searchWrapper .rs_searchbox .rs_air_form .rs_origin_row {
  display: inline-block;
  float: left;
  width: 15%;
  vertical-align: middle;
}

.searchProduct .rs_searchbox .rs_air_form .rs_origin_row {
  width: 49.5%;
}

.searchWrapper .rs_searchbox .rs_air_form .rs_destination_row {
  display: inline-block;
  float: left;
  width: 15%;
  margin-left: -1px;
  vertical-align: middle;
}

.searchProduct .rs_searchbox .rs_air_form .rs_destination_row {
  width: 49.5%;
}

.searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_origin_row,
.searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_destination_row {
  width: 25%;
}

.searchProduct .rs_searchbox .rs_air_form #air_multi_dest .rs_origin_row,
.searchProduct .rs_searchbox .rs_air_form #air_multi_dest .rs_destination_row {
  width: 49.5%;
}

.searchWrapper .rs_searchbox .rs_air_form .rs_date {
  width: 13%;
}

.searchProduct .rs_searchbox .rs_air_form .rs_date {
  width: 19%;
}

.searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_date {
  width: 15%;
}

.searchProduct .rs_searchbox .rs_air_form #air_multi_dest .rs_date {
  width: 49.5%;
}

.searchWrapper .rs_searchbox .rs_air_form .rs_rooms_row {
  width: 10.5%;
}

.searchProduct .rs_searchbox .rs_air_form .rs_rooms_row {
  width: 14%;
}

.searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_rooms_row {
  width: 15%;
}

.searchWrapper .rs_searchbox .air_flight_3,
.searchWrapper .rs_searchbox .air_flight_4,
.searchWrapper .rs_searchbox .air_flight_5 {
  display: none;
}

.searchWrapper .rs_searchbox .rs_air_form h3 {
  margin: 0 0 10px;
  color: #1B7CC5;
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.searchWrapper .rs_searchbox .add_rem_flight {
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #1B7CC5;
  display: inline-block;
  border-radius: 3px;
}

.searchWrapper .rs_searchbox .rs_car_form {
  padding-bottom: 5px;
}

.searchWrapper .rs_searchbox .rs_car_form .rs_pickup_div {
  display: inline-block;
  width: 35%;
  vertical-align: middle;
  float: left;
}

.searchProduct .rs_searchbox .rs_car_form .rs_pickup_div {
  width: 100%;
  margin-right: 0;
  margin-bottom: 5px;
}

.searchWrapper .rs_searchbox .rs_car_form .rs_droppff_div {
  clear: left;
  display: inline-block;
  width: 35%;
  margin-bottom: 5px;
  vertical-align: middle;
  float: left;
}

.searchProduct .rs_searchbox .rs_car_form .rs_droppff_div {
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 0;
}

.searchWrapper .rs_searchbox .rs_car_form .rs_different_location {
  position: absolute;
  bottom: 5px;
  left: 30px;
}

.searchProduct .rs_searchbox .rs_car_form .rs_different_location {
  position: relative;
  bottom: inherit;
  left: inherit;
}

.searchWrapper .rs_searchbox .rs_car_form .rs_different_location input {
  float: left;
  margin-top: 0;
  vertical-align: middle;
}

.searchWrapper .rs_searchbox .rs_autosuggest,
.searchWrapper .rs_searchbox .rs_from,
.searchWrapper .rs_searchbox .rs_to,
.searchWrapper .rs_searchbox .rs_advisorid_input {
  height: 28px;
  width: 100%;
  width: calc(100% - 22px);
  width: -webkit-calc(100% - 22px);
  padding: 5px 10px;
}

.searchWrapper .rs_searchbox .rs_advisorid_input {
  width: 200px;
  height: 24px;
  margin-left: 10px;
}

.searchWrapper .rs_searchbox .rs_car_form .rs_droppff_div,
#air_one_way,
#air_multi_dest {
  display: none;
}

.searchWrapper .rs_searchbox .rs_date_input_container {
  position: relative;
  cursor: pointer;
}

.searchWrapper .rs_searchbox .rs_date_input_container input {
  display: block;
}

.searchWrapper .rs_searchbox .rs_chk_in,
.searchWrapper .rs_searchbox .rs_chk_out {
  cursor: pointer;
  background-image: url(../images/calendar.gif);
  background-position: right;
  background-repeat: no-repeat;
  height: 28px;
  width: 100%;
  width: calc(100% - 22px);
  width: -webkit-calc(100% - 22px);
  padding: 5px 10px;
}

.searchWrapper .rs_searchbox .rs_mobi {
  display: none;
}

.searchWrapper .rs_searchbox .rs_mobi_date_container {
  width: 48.5%;
  color: #777;
  background-color: white;
  display: inline-block;
  border-radius: 0;
  zoom: 1;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
}

.searchWrapper .rs_searchbox .rs_mobi_title {
  padding: 3px 0;
}

.searchWrapper .rs_searchbox .rs_mobi_chk_day {
  font-size: 40px;
  font-weight: bold;
}

.searchWrapper .rs_searchbox .rs_mobi_chk_month {
  margin-bottom: 5px;
}

.searchWrapper .rs_searchbox .rs_mobi_in {
  float: left;
}

.searchWrapper .rs_searchbox .rs_mobi_out {
  float: right;
}

.searchWrapper .rs_searchbox .rs_autosuggest_row {
  display: inline-block;
  width: 35%;
  vertical-align: middle;
  float: left;
}

.searchProduct .rs_searchbox .rs_autosuggest_row {
  width: 100%;
  margin-right: 0;
}

.searchWrapper .rs_searchbox .rs_date,
.searchWrapper .rs_searchbox .rs_people {
  display: inline-block;
  width: 15%;
  margin-left: -1px;
  vertical-align: middle;
  float: left;
}

.searchProduct .rs_searchbox .rs_date,
.searchProduct .rs_searchbox .rs_people {
  width: 22%;
}

.searchWrapper .rs_searchbox .rs_rooms_row {
  display: inline-block;
  width: 11%;
  margin-left: -1px;
  vertical-align: middle;
  float: left;
}

.searchProduct .rs_searchbox .rs_rooms_row {
  width: 18%;
}

.searchWrapper .rs_searchbox .rs_guest_row {
  display: inline-block;
  width: 11%;
  margin-left: -1px;
  vertical-align: middle;
  float: left;
}

.searchProduct .rs_searchbox .rs_guest_row {
  width: 18%;
}

.searchWrapper .rs_searchbox .rs_select_box,
.searchWrapper .rs_searchbox .rs_rooms,
.searchWrapper .rs_searchbox .pax,
.searchWrapper .rs_searchbox .rs_time,
.searchWrapper .rs_searchbox .rooms {
  width: 100%;
  display: inline-block;
  height: 40px;
  padding: 0 5px;
}

#childrens_ages {
  display: none;
}

.searchWrapper .rs_searchbox .rs_button_row {
  width: 13%;
  float: left;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.searchProduct .rs_searchbox .rs_button_row {
  width: 20%;
}

.searchWrapper .rs_searchbox .rs_search {
  border: none;
  background-color: #619e29;
  outline: none;
  width: 100%;
  height: 40px;
  line-height: 37px;
  float: right;
  font-weight: 400;
  margin: 0;
  color: white;
  font-family: 'Carme', sans-serif;
  font-size: 21px;
  cursor: pointer;
  text-align: center;
}

.searchWrapper .rs_searchbox .rs_search:hover {
  background-color: #578e25;
}

@media only screen and (max-width:880px) {
  .searchWrapper .rs_searchbox .rs_vp_form .rs_origin_row {
    width: 49.5%;
  }
  .searchWrapper .rs_searchbox .rs_vp_form .rs_destination_row {
    width: 49.5%;
  }
  .searchWrapper .rs_searchbox .rs_vp_form .rs_date {
    width: 19%;
  }
  .searchWrapper .rs_searchbox .rs_vp_form .rs_rooms_row {
    width: 14%;
  }
  .searchWrapper .rs_searchbox .rs_air_form .rs_origin_row {
    width: 49.5%;
  }
  .searchWrapper .rs_searchbox .rs_air_form .rs_destination_row {
    width: 49.5%;
  }
  .searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_origin_row,
  .searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_destination_row {
    width: 49.5%;
  }
  .searchWrapper .rs_searchbox .rs_air_form .rs_date {
    width: 19%;
  }
  .searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_date {
    width: 49.5%;
  }
  .searchWrapper .rs_searchbox .rs_air_form .rs_rooms_row {
    width: 14%;
  }
  .searchWrapper .rs_searchbox .rs_car_form .rs_pickup_div {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .searchWrapper .rs_searchbox .rs_car_form .rs_droppff_div {
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 0;
  }
  .searchWrapper .rs_searchbox .rs_car_form .rs_different_location {
    position: relative;
    bottom: inherit;
    left: inherit;
  }
  .searchWrapper .rs_searchbox .rs_autosuggest_row {
    width: 100%;
    margin-right: 0;
  }
  .searchWrapper .rs_searchbox .rs_date,
  .searchWrapper .rs_searchbox .rs_people {
    width: 22%;
  }
  .searchWrapper .rs_searchbox .rs_rooms_row {
    width: 18%;
  }
  .searchWrapper .rs_searchbox .rs_guest_row {
    width: 18%;
  }
  .searchWrapper .rs_searchbox .rs_button_row {
    width: 20%;
  }
  .searchWrapper .rs_searchbox form {
    padding-top: 0;
    border-top: none
  }
  .searchWrapper .rs_searchbox .rs_search_input {
    position: relative;
    top: inherit;
    right: inherit;
    padding: 15px 0;
    border-top: 1px solid white;
  }
}

@media only screen and (max-width:600px) {
  .searchWrapper .rs_products {
    padding: 0;
  }
  .searchWrapper .rs_products li {
    margin: 0 15px 10px 0;
  }
  .searchWrapper .rs_searchbox .last_margin {
    margin-right: 0;
  }
  .searchWrapper .rs_searchbox .rs_vp_form .rs_date {
    width: 49.5%;
  }
  .searchWrapper .rs_searchbox .rs_vp_form .rs_rooms_row {
    width: 33%;
  }
  .searchWrapper .rs_searchbox .rs_air_form .rs_date {
    width: 49.5%;
  }
  .searchWrapper .rs_searchbox .rs_air_form .rs_rooms_row {
    width: 33%;
  }
  .searchWrapper .rs_searchbox .rs_air_form .clear_air {
    clear: both;
  }
  .searchWrapper .rs_searchbox .rs_date,
  .searchWrapper .rs_searchbox .rs_people {
    width: 28%;
  }
  .searchWrapper .rs_searchbox .rs_rooms_row {
    width: 22%;
  }
  .searchWrapper .rs_searchbox .rs_guest_row {
    width: 22%;
    margin-right: 0;
  }
  .searchWrapper .rs_searchbox .rs_button_row {
    clear: both;
    width: 25%;
    float: right;
  }
}

@media only screen and (max-width:450px) {
  .searchWrapper .rs_searchbox {
    padding: 15px;
  }
  .searchWrapper .rs_products {
    border-bottom: none;
    font-size: 16px;
  }
  .searchWrapper .rs_products li {
    float: left;
    width: 50%;
    margin: 0 0 15px;
  }
  .searchWrapper .rs_searchbox form {
    padding-top: 0;
    border-top: none;
  }
  .searchWrapper .rs_searchbox h2 {
    font-size: 18px;
  }
  .searchWrapper .rs_searchbox .rs_vp_form .rs_origin_row {
    margin-right: 1%;
  }
  .searchWrapper .rs_searchbox .rs_vp_form .rs_rooms_row {
    width: 100%;
    margin-right: 0;
  }
  .searchWrapper .rs_searchbox .rs_air_form .rs_origin_row {
    margin-right: 1%;
  }
  .searchWrapper .rs_searchbox .rs_air_form .rs_rooms_row {
    width: 100%;
    margin-right: 0;
  }
  .searchWrapper .rs_searchbox .rs_air_form #air_multi_dest .rs_rooms_row {
    width: 100%;
  }
  .searchWrapper .rs_searchbox .rs_car_form {
    padding: 0;
  }
  .searchWrapper .rs_searchbox .rs_car_form .rs_time_out_row {
    margin-right: 0;
  }
  .searchWrapper .rs_searchbox .rs_date {
    display: none;
  }
  .searchWrapper .rs_searchbox .rs_rooms_row {
    width: 49.5%;
    margin-left: 0;
    margin-right: 1%;
  }
  .searchWrapper .rs_searchbox .rs_guest_row {
    width: 49.5%;
    margin-left: 0;
  }
  .searchWrapper .rs_searchbox .rs_mobi {
    display: block;
  }
  .searchWrapper .rs_searchbox .rs_button_row {
    float: none;
    width: 100%;
  }
  .searchWrapper .rs_searchbox .rs_search {
    width: 100%;
    padding: 0;
  }
  .searchWrapper .rs_searchbox .rs_search_input {
    clear: both;
    border-top: none;
    padding: 10px 0;
    font-size: 12px;
  }
  .searchWrapper .rs_searchbox .rs_advisorid_input {
    width: 45%;
  }
}
