
.usp > figure {
  width: 33.33%;
  text-align: center;
  float: left;
}

.usp-block {
  width: 72%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.usp {
  margin: -50px auto 0;
  padding: 50px 0;
  max-width: 940px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  color: #2d2d2d;
}

.usp > figure >figcaption > b {
  padding: 30px 0 5px 0;
  font-size: 20px;
  display: block;
  font-weight: bold;
}

.usp > figure >figcaption > p {
  font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
  line-height: 24px;
  font-size: 16px;
}

.usp > figure > .relative {
  line-height: 46px;
  height: 46px;
}

.usp > figure > .relative > img {
  vertical-align: middle;
}

.usp-inner-block {
  margin: 120px 0 155px 0;
  display: flex;
  justify-content: space-between;
}

.usp-inner-block .image-block {
  width: 40%;
  overflow: hidden;
}

.usp-inner-block .image-block img {
  width: 100%;
  height: 100%;
  transform: scale(1.3);
  object-fit: cover;
}

.usp-inner-block .usp-contents-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.usp-contents-block h2 {
  font-size: 28px;
  font-weight: 900;
  width: 100%;
  margin: -10px 0 5px 0;
}

.usp-contents-block p {
  font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #2d2d2d;
  width: 100%;
  line-height: 20px;
}

.usp-contents-inner-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.curved-usp-block {
  width: 100%;
  background: url(https://www.businesshotels.com/newdemo/img/curved_usp.jpg);
  height: 510px;
  margin-bottom: 80px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 250px;
  border-bottom-right-radius: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.curved-usp-block .usp-contents-block {
  width: 510px;
}

.curved-usp-block .usp-contents-block p {
  font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 35px 0 65px 0;
}

.curved-usp-block .usp-contents-inner-block {
  justify-content: center;
  align-items: center;
}

.usp .search {
  width: 46px;
  margin: 0 auto;
  background: url(../images/search.png);
  background-size: contain;
}

.usp .comfort {
  width: 41px;
  margin: 0 auto;
  background: url(../images/secure_payment.png);
  background-size: contain;
}

.usp .perfect-occasion {
  width: 49px;
  margin: 0 auto;
  background: url(../images/inventory.png);
  background-size: contain;
}

@media (min-width: 1440px) {

.usp-contents-block h2 {
  margin-bottom: 25px;
}

.usp-contents-block p {
  font-size: 16px;
}

.usp_shape_bg {
  width: 720px;
  top: 5%;
}
}

@media (max-width: 1199px) {

.usp {
  max-width: 90%;
  justify-content: space-between;
}
.usp > figure {
  width: 30%;
}

.usp_shape_bg {
  top: 20%;
}

.usp-inner-block {
  margin: 90px 0 125px 0;
}

.usp-inner-block .image-block {
  width: 45%;
}

.usp-inner-block .usp-contents-block {
  width: 50%;
}

.usp-contents-block .site-primary-button {
  margin-top: 10px;
}

.usp-contents-block p {
  line-height: normal;
}

.usp-block {
  width: 80%;
}

.usp_shape_bg {
  width: 46vw;
}
}

@media (max-width: 991px) {

.usp-block {
  width: 90%;
}

.usp-inner-block .image-block img {
  transform: scale(1);
}

.usp_shape_bg {
  top: 25%;
}
	.usp {
  margin: 0 auto;
	}
}

@media (max-width: 767px) {

.usp-container {
  overflow: hidden;
}

.usp > figure {
  margin-bottom: 80px;
}

.usp figure:last-child {
  margin: 0;
}

.usp-inner-block {
  margin: 105px 0 45px 0;
  flex-wrap: wrap;
}

.usp-inner-block .image-block,  .usp-inner-block .usp-contents-block,  .usp > figure,  .footer-content .footer-logo-wrap,  .footer-content .footer-menu {
  width: 100%;
}

.usp-contents-inner-block {
  margin: 80px 0 35px 0;
}

.usp-contents-block p {
  font-size: 14px;
}

.usp-contents-block h2 {
  margin: 0 0 45px 0;
}

.usp-contents-block .site-primary-button {
  margin: 0 0 60px 0;
}

.usp_shape_bg {
  width: 100vw;
  left: -30px;
  top: 29%;
}
}

@media (max-width: 576px) {

.usp-inner-block {
  margin: 45px 0 45px 0;
}

.usp-inner-block .image-block {
  height: 350px;
}

.usp_shape_bg {
  width: 110%;
  left: -10%;
  top: 37%;
}

.usp-contents-block h2 {
  font-size: 30px;
}
}

@media (max-width: 500px) {

.usp_shape_bg {
  top: 41%;
}
}

@media (max-width: 400px) {

.usp_shape_bg {
  left: -30%;
  width: 140vw;
  top: 40%;
}
}
