@font-face {
    font-family: Geometria;
    src: url(font/FontsFree-Net-Geometria-Light.ttf);
  }
  * {
      margin: 0px;
      padding: 0px;
   }
   body {
      font-family: 'Open Sans', sans-serif!important;
      font-size: 14px;
      color: #2d2d2d;
  }
  ul {
      list-style: none;
  }
  li {
      display: inline-block;}
  a {
      display: inline-block;
      color: #2d2d2d;
      text-decoration: none;
  }
  .primary-menu header {
      background: #f7f7f7;
  }
  .relative {
      position: relative;
  }
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }
  .right {
      float: right;
  }
  .left {
      float: left;
  }
  .container {
      margin: 0 auto;
  }
  header .flight-logo-block,
  header .hotel-logo-block {
      width: 50%;
      text-align: center;
      padding: 12px 0;	
      box-sizing: border-box;
  }
  header .flight-logo-block .logo,
  header .hotel-logo-block .logo {
      width: 180px;
      height: 40px;
  }
  header .flight-logo-block .mobile-logo,
  header .hotel-logo-block .mobile-logo {
      width: 30px;
      height: 30px;
  }
  header .hotel-logo-block a {
      opacity: 0.5;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;	
  }
  header .hotel-logo-block a:hover {
      opacity: 1;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
  }
  .index-menu ul {
      padding: 15px 0;
    text-align: center;
  }
  .index-menu ul li {
      padding: 0 17px;
  }
  .index-menu ul li a {
    cursor: pointer;
  }
  .index-menu {
    box-shadow: 0 0px 45px 0 #e4e4e4;
    text-align: center;
  }
  .page-heading {
      text-align: center;
    padding: 40px 0;
  }
  .page-heading h1 {
      font-size: 54px;
      font-weight: 900;
  }
  .page-heading p {
      font-size: 25px;
      font-weight: 100;
      padding: 5px 0 0 0;
  }
  .form-block nav {
      width: 31%;
      margin: 0 auto;
  }
  .form-block nav ul,
  .form-inner-block {
      border: 6px solid #f7f7f7;
      background: #f7f7f7;
  }
  .form-block nav ul li {
      padding: 6px 12px;
      background: #f7f7f7;
      color: #ababab;
      font-weight: 600;
      cursor: pointer;
  }
  .form-block nav ul .active {
      background: #fff;
      color: #7000bf;
  }
  .multicity-block > .form-inner-block > div,
  .hotel-block > div,
  .round-trip-block > div {
      float: left;
      background: #fff;
      border-right: 6px solid #f7f7f7;
      padding: 4px 8px;
  }
  .round-trip-block > div:last-child {
      border: 0;
  }
  .form-inner-block {
      margin: 10px 0 0 0;
      text-align: left;
      display: inline-block;
      width: fit-content;
      width: -moz-fit-content;
  }
  .round-trip-block > div .right {
      padding: 0 20px;
  }
  .round-trip-block > div .left {
      padding-right: 20px;
  }
  .form-inner-block p {
      font-size: 10px;
      font-weight: 600;
  }
  .form-inner-block p:last-child {
      margin: 5px 0 0 0;
      font-size: 14px;
  }
  .form-inner-block h3,
  .form-inner-block input {
      font-weight: 900;
      font-size: 26px;
      cursor: pointer;
  }
  .form-inner-block input {
      border: 0;
      width: 100%;
      color: #2d2d2d;
  }
  .form-inner-block input:focus {
      outline: unset;
  }
  .round-trip-block .from-block,
  .round-trip-block .to-block {
      width: 19.5%;
  }
  .round-trip-block .passenger-economy-block {
      width: 33%;
  }
  .form-block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
  }
  .button-block {
      margin: 40px 0;
      width: 100%;	
  }
  .site-primary-button {
      padding: 14px 75px;
      border-radius: 25px;
      outline: none;
      border: 0;
      font-size: 20px;
      font-weight: 400;
      background: #7000d1;
      color: #fff;
      cursor: pointer;
      transition-timing-function: ease-in-out;
      transition-duration: 300ms;
  }
  .site-primary-button:hover,
  .site-primary-button:focus {
      background: #ff00ff;
      transition-timing-function: ease-in-out;
      transition-duration: 300ms;	
  }
  .site-primary-button:active {
      background: #7000d1;
  }
  aside > figure {
      width: 33.33%;
      text-align: center;
      float: left;
  }
  aside {
      margin: 80px 0 40px 0;
      display: flex;
      flex-wrap: wrap;
  }
  aside > figure >figcaption > b {
      padding: 30px 0 5px 0;
      font-size: 20px;
      display: block;
  }
  aside > figure >figcaption > p {
      font-size: 16px;
      width: 80%;
      margin: 0 auto;
  }
  aside > figure > .relative {
      line-height: 49px;
      vertical-align: middle;
  }
  .button-block .button-comingsoon {
      position: absolute;
      left: 42%;
      top: -19%;
  }
  header .menu-bottom-bar {
      position: absolute;
      left: 0;
      width: 100%;
      top: 100%;
  }
  .hotel-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .hotel-block .checkin-checkout-block .right {
      padding: 0 30px 0 50px;
  }
  .hotel-block .checkin-checkout-block .left {
      padding-right: 50px;
  }
  .hotel-block .guest-room-block {
      padding-right: 40px;
      border: 0;
  }
  .one-way-block .depart-return-block {
      width: 20%;
  }
  .multicity-block .form-inner-block .to-block {
      border: 0;
  }
  .multicity-block .action-block {
      border-left: 6px solid #f7f7f7;
      border-right: 0!important;
      background: transparent!important;
      padding: 0!important;
  }
  .multicity-block .action-block div {
      margin-bottom: 5px;
  }
  .multicity-block .action-block div img {
      vertical-align: middle;
  }
  .multicity-block .action-block div:last-child {
      margin: 0;
  }
  .multicity-block .from-block,
  .multicity-block .to-block {
      min-height: 83px;
  }
  .multicity-block .depart-return-block,
  .multicity-block .from-block,
  .multicity-block .to-block,
  .multicity-block .passenger-economy-block {
      width: 45.6%;
  }
  .multicity-block .depart-return-block .right {
      padding-right: 75px;
  }
  .multicity-block .passenger-economy-block .right {
      padding-right: 30px;
  }
  .multicity-block .form-inner-block {
      width: 80%;
      margin: 10px 0 0 10%;
  }
  .multicity-block .form-inner-block:last-child {
      width: 76%;
      margin: 10px 0 0 6%;
  }
  .multicity-block .depart-return-block {
      width: 48%;
  }
  .multicity-block .passenger-economy-block {
      border-right: 0!important;
      width: 47.1%;
  }
  .mobile-menu {
      padding: 15px 0;
      font-size: 20px;
  }
  .depart-return-mobile-block,
  .passenger-economy-mobile-block {
      width: 50%;
      box-sizing: border-box;
  }
  .tab-content {
      display: none;
  }
  .tab-content.current{
      display: block;
      width: 100%;
      box-sizing: border-box;
  }
  .passenger-economy-mobile-block {
      border: 0!important;
  }
  .flights-main-container {
      background: url(../img/flight_banner_background.png);
      background-repeat: no-repeat;
      background-position: top center;
  }
  .hotels-main-container {
      background: url(../img/hotel_banner_background.png);
      background-repeat: no-repeat;
      background-position: top center;	
  }
  .action-button {
      padding: 6px 10px;
      cursor: pointer;
      background: #fff;
      border: 0;
  }
  .action-button i {
      font-size: 10px;
  }
  /* */
  .site-primary-button p {
      opacity: 1;
  }
  .site-primary-button.active {
      width: 50px;
      background:#7000d1;
      padding: 0;
  }
  .site-primary-button.active p{
        opacity: 0;
        transition:all 0.5s ease-in-out;
  }
  .lds-ring {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    margin-top: 8px;
    margin-left: 7px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .mobile-menu-toggle,
  .mobile-menu-close,
  .modify-search-block .calendar-block,
  .modify-search-block .occupancy-block,
  .modify-search-block .calendar-block input,
  .modify-search-block .occupancy-block input,
  .filter-show-more {
      cursor: pointer;
  }
  .modify-search-container {
    padding: 15px 0;
    background: #f4f6f8;
  }
  .modify-search-container nav {
    text-align: center;
  }
  .modify-search-container nav ul li {
    margin-right: 20px;
    cursor: pointer;
  }
 
  .modify-search-container nav ul li img {
    margin-right: 5px;
    vertical-align: middle;
    width: 16px;
  }
  .modify-search-container nav ul li,
  .modify-search-container nav ul li a {
    color: #007aff;
  }
  .modify-search-container nav ul li::after,
  .modify-search-mobile-container li a::after,
  .mobile-menu .user-login a::after {
    content: "\f0d7";
    font-family: FontAwesome;
    padding-left: 5px;
  }
  .modify-search-mobile-container li a {
    width: 100%;
    position: relative;
  }
  .modify-search-mobile-container li a::after {
    position: absolute;
    right: 5px;
  }
  .modify-search-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    margin: 20px auto 0 auto;
    max-width: 1235px;
  }
  .modify-search-block .mobile-search-close-wrap,
  .modify-search-block .search-block,
  .modify-search-block .calendar-block,
  .modify-search-block .occupancy-block,
  .modify-search-block .update-search-block {
    margin-right: 5px;
    flex: 2;
  }
  .modify-search-container nav ul li:last-child,
  .modify-search-block .update-search-block {
    margin: 0;
  }
  .modify-search-block .update-search-block {
    flex: 1;
  }
  .modify-search-block div input,
  .sidebar-search-block input {
    height: 50px;
    width: 100%;
    padding-left: 40px;
    border: 1px solid #c0cad5;
    color: #464646;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    border-radius: 3px;
    box-sizing: border-box;
  }
  .modify-search-block .update-search-button {
    justify-content: center;
    display: flex;
    padding: 13px 0;
    border: 2px solid #007aff;
    color: #0f82ff;
    background: #fff;
    cursor: pointer;
    border-radius: 2px;
    font-size: 15px;
  }
  .modify-search-block div img,
  .sidebar-search-block img {
    position: absolute;
    left: 0;
    top: 15px;
    width: 20px;
    padding: 0 10px;
  }
  .modify-search-block .occupancy-block::after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 17px;
    color: #5a7896;
    font-weight: bold;
    font-size: 18px;
  }
  .list-content-block {
    width: 90%;
    margin: 20px auto;
    border-top: 1px solid #c0cad5;
    display: flex;
    max-width: 1235px;
  }
  .list-content-block .sidebar {
    width: 30%;
    flex: 1;
    padding: 15px 0;
  }
  .list-content-block .list-content-inner-block {
    flex: 3;
    width: 70%;
  }
  .sidebar-heading {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #c0cad5;
  }
  .sidebar-checkbox-elements {
    margin: 15px 0;
    padding-left: 5px;
  }
  .filter-checkbox {
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    flex-direction: row-reverse;
    position: relative;
    cursor: pointer;  
    width: 100%;
    margin-bottom: 15px;
  }
  .filter-checkbox-item {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .filter-custom-checkbox {
    background-clip: content-box;
    background-color: #ffffff;
    border-radius: 3px;
    border: 2px solid #4f6f8f;
    box-sizing: border-box;
    display: inline-block;
    flex: 0 0 auto;
    height: 16px;
    margin-right: 15px;
    margin-top: 1px;
    position: relative;
    transform: translateZ(0);
    transition: all .16s;
    width: 16px;
    will-change: background;
  }
  .filter-checkbox-item:checked ~ .filter-custom-checkbox {
    background-color: #007aff;
    border-color: #007aff;
  }
  .filter-checkbox-item ~ .filter-custom-checkbox::after {
    background: url('../img/tick.svg') 50% 50% no-repeat;
    background-size: contain;
    content: '';
    height: 9px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    opacity: 0;
  }
  .filter-checkbox-item:disabled ~ .filter-custom-checkbox {
    opacity: 0.5;
  }
  .filter-checkbox-item:disabled ~ .filter-custom-checkbox {
    border-color: #4f6f8f!important;
  }
  .filter-checkbox-item:checked ~ .filter-custom-checkbox::after {
    opacity: 1;
  }
  .filter-checkbox:hover .filter-custom-checkbox {
    border-color: #007aff;
  }
  .filter-checkbox-content {
    width: 100%;
    color: #001833;
  }
  .filter-checkbox-content img,
  .filter-checkbox-content p {
    display: inline-block;
    vertical-align: text-bottom;
  }
  .filter-checkbox-content img {
    width: 16px;
    margin-right: 5px;
  }
  .filter-checkbox:last-child {
    margin: 0;
  }
  .filter-show-more p {
    color: #007aff;
    font-weight: 600;
  }
  .filter-show-more p::after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 18px;
    position: relative;
    left: 10px;
    top: 2px;
  }
  .filter-show-more { 
    width: fit-content;
  }
  .filter-checkbox-price {
    letter-spacing: -1.5px;
    font-weight: 600;
  }
  .filter-checkbox-price .active {
    color: #000;
  }
  .filter-checkbox-price .deactive {
    color: #4f7492a6;
  }
  .sidebar-price-range-block {
    margin: 10px 0;
  }
  .list-content-inner-block {
    margin: 30px 0 0 50px;
  }
  .sidebar-inner-block:not(:first-child) {
    margin-top: 35px;
  }
  .list-content-option-block .left {
    width: 78%;
  }
  .list-content-option-block .right {
    width: 20%;
  }
  .hotel-count-show-block {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #001833;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 65%;
  }
  .toggle-view-block div {
    cursor: pointer;
  }
  .toggle-view-block p,
  .map-redo-search-block {
    padding: 5px 15px;
    border-radius: 2px;
    border: 1px solid #c0cad5;
    color: #007aff;
    background: #fff;
    font-weight: 400;
  }
  .toggle-view-block p {
    padding: 5px 11px;
    min-width: 77px;
  }
  .toggle-view-block .active p {
    background: #007aff;
    border-color: #007aff;
    color: #fff;
  }
  .toggle-view-block p::before,
  .hotel-address span::before {
    font-family: FontAwesome;
    margin-right: 5px;
  }
  .list-view-block p::before {
    content: "\f03a";
  }
  .map-view-block p::before,
  .hotel-address span::before {
    content: "\f041";
  }
  .list-content-option-inner-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list-content-option-inner-block .toggle-view-block {
    display: inline-flex;
  }
  .toggle-view-block .map-view-block {
    margin-left: 5px;
  }
  .hotel-search-block-value {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAP1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACzJYIvAAAAFHRSTlMAAQMFHR40ODk6O0FfqKrKzM75+5C9CoQAAAA/SURBVAhbY2AgCXCzwVgsPECCV4QdwmMV4mdkYGDkE+GA8ASYQTSQz4nggflcCB6YLywI54H4yDwgn4mBdAAA0/AB43Qzbm0AAAAASUVORK5CYII=');
    background-position: 93% center;
    background-repeat: no-repeat;
    min-width: 160px;
    cursor: pointer;
    padding: 11px 10px;
    border: 1px solid #c0cad5;
    border-radius: 2px;
    font-size: 16px;
    -webkit-appearance: none;
  }
  .hotel-sort-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;
  }
  .hotel-sort-dropdown ul {
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(45, 49, 55, 0.3);
    padding: 5px 0;
  }
  .hotel-sort-dropdown ul li {
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }
  .hotel-sort-dropdown ul li:hover {
    background: #007aff2e;
  }
  .list-content-option-block {
    margin-bottom: 30px;
  }
  .hotels-block {
    width: 100%;
    height: 265px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
    margin-bottom: 16px;
    display: flex;
  }
  .hotels-block:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.24) 0px 4px 16px 0px;
  }
  .hotels-block .hotels-gallery-block {
    width: 30%;
    flex: 1;
  }
  .hotels-block .hotels-price-block {
    width: 20%;
  }
  .hotels-block .hotels-details-block {
    width: 50%;
  }
  .hotels-gallery-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
  }
  .hotels-details-block {
    padding: 20px 15px;
  }
  .hotels-details-block .hotel-title,
  .hotel-address p,
  .hotel-amenities-list li { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hotels-details-block .hotel-title {
    color: #000;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .hotel-address p {
    display: inline-block;
    color: #4f6f8f;
    font-weight: bold;
    margin-right: 10px;
    max-width: 75%;
    vertical-align: middle;
  }
  .hotel-address span {
    color: #007aff;
    font-weight: bold;
    cursor: pointer;
  }
  .hotel-address {
    margin-bottom: 20px;
  }
  .hotel-amenities-list li {
    background: url("../img/tick.png") no-repeat 0 50%;
    padding-left: 23px;
    width: 100%;
  }
  .hotel-amenities-list li:first-child {
    position: absolute;
    top: 0;
    right: 0;
    color: #007aff;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    width: auto;
    background: none;
  }
  .hotel-amenities-list li:nth-child(2) {
    width: 77%;
  }
  .hotel-amenities-list {
    margin-bottom: 15px;
  }
  .top-booked-block {
    color: #7700bb;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #c0cad5;
    border-radius: 2px;
    background: #f4f6f8;
    padding: 2px 4px;
    font-size: 12px;
  }
  .top-booked-block img {
    vertical-align: middle;
    margin-right: 2px;
  }
  .hotel-reviews-block {
    position: absolute;
    bottom: 20px;
  }
  .hotel-reviews-block ul li:not(:last-child) {
    border-right: 1px solid #000;
    padding-right: 5px;
  }
  .hotel-reviews-block .review {
    color: #007aff;
    font-weight: bold;
  }
  .hotel-reviews-block .rating {
    padding: 2px 10px;
    background: #f68013;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    margin-right: 5px;
  }
  .hotel-reviews-block .hotel-type {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 5px 0 2px;
    color: #292929;
  }
  .hotel-reviews-block .filter-checkbox-price {
    letter-spacing: -2px;
  }
  .hotels-price-block {
    border-left: 1px solid #c0cad5;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    text-align: center;
  }
  .hotels-price-block .choose-button {
    background: #7000d1;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    border: 0;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  .hotel-price-wrap .price-per-night,
  .hotel-price-wrap .vip-type {
    color: #4f6f8f;
  }
  .hotel-price-wrap .vip-type {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -5px;  
  }
  .hotel-price-wrap .price {
    font-size: 34px;
    color: #00aa00;
  }
  .hotel-price-wrap .price span {
    font-size: 18px;
    vertical-align: super;
  }
  .hotel-price-wrap {
    margin-top: 10px;
  }
  .preferred-hotel-title img {
    width: 14px;
    height: 100%;
  }
  .preferred-hotel-title span {
    background: #f4f7f9;
    text-transform: uppercase;
    color: #007aff;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 2px;
  }
  .hotel-price-wrap .price-per-night {
    margin-top: -8px;
  }
  .preferred-hotel-title {
    margin-bottom: 5px;
  }
  .preferred-hotel-content {
    color: #0044b3;
    font-weight: bold;
    font-size: 15px;
  }
  .preferred-hotel-link {
    color: #007aff;
    text-decoration: underline; 
  }
  .hotel-price-wrap .left-count {
    color: #d60000;
  }
  .list-map-block,
  .map-reviews-block,
  .map-hotel-name {
    display: none;
  }
  .sidebar-popup-button button {
    width: 100%;
    margin-top: 20px;
    padding: 15px 10px;
    background: #007aff;
    border: 0;
    font-size: 16px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  .sidebar-popup-close {
    text-align: right;
  }
  .sidebar-popup-close i {
    font-size: 30px;
    cursor: pointer;
  }
  .mobile-modify-search-container {
    background: #fafafa;
    text-align: center;
    padding: 5px 0;
  }
  .mobile-modify-search-container h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #2c3a44;
  }
  .mobile-modify-search-container img {
    width: 16px;
    margin-left: 5px;
  }
  .mobile-modify-search-container h5 {
    margin-top: 5px;
    font-size: 15px;
    color: #303d48;
  }
  .hotel-view-container {
    background: #f5f5f5;
  }
  .hotel-view-container div {
    float: left;
    width: 50%;
    text-align: center;
  }
  .hotel-view-container div p {
    font-size: 18px;
    font-weight: bold;
    color: #888da2;
    padding: 10px 0;
    border-bottom: 2px solid #888da2;
  }
  .hotel-view-container .active p {
    color: #000;
    border-color: #000;
  }
  .mobile-list-option {
    margin-bottom: 15px;
  }
  .mobile-list-option .mobile-sort-value {
    display: inline-block;
  }
  .mobile-sort-block p::after {
    content: "\f0d7";
    font-family: FontAwesome;
    padding-left: 10px;
  }
  .mobile-menu .user-login a {
    font-size: 14px;
    color: #007aff;
    margin-right: 20px;
  }
  .mobile-menu .user-login img {
    width: 16px;
    vertical-align: middle;
    padding-right: 3px;
  }
  .sidebar-search-block input {
    box-sizing: border-box;
  }
  .login-popup,
  .register-popup {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0,0,0,.7);
  }
  .login-popup .relative,
  .register-popup .relative {
    width: 100%;
    height: 100%;
  }
  .login-popup-inner,
  .register-popup-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 410px;
    background: #fff;
    max-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
  }
  .popup-header-title {
    text-align: center;
    padding: 15px 0;
    background: #f5f5f5;
  }
  .popup-header-title img {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    cursor: pointer;
    width: 14px;
  }
  .popup-social-media {
    margin: 40px 50px;
  }
  .popup-social-media ul {
    text-align: center;
  }
  .popup-social-media ul li {
    width: 100%;
    border-radius: 3px;
  }
  .popup-social-media ul li a {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    color: inherit;
    font-weight: 600;
    font-size: 12px;
  }
  .popup-social-media ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .popup-social-media .facebook-block {
    background: #3b579d;
    border: 1px solid #3b579d;
    color: #fff;
  }
  .popup-social-media ul li img {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -12px;
  }
  .popup-social-media .twitter-block img {
    margin-top: -10px;
  }
  .popup-social-media .twitter-block {
    background: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
  }
  .popup-social-media .google-block {
    background: #fff;
    border: 1px solid #ddd;
  }
  .popup-separator {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #e6e8e9;
    border-bottom: 1px solid #e6e8e9;
    background: #f2faff;
    font-size: 12px;
  }
  .login-form-block,
  .register-form-block {
    margin: 20px 45px;
  }
  .login-form-block label,
  .login-form-block input,
  .register-form-block label,
  .register-form-block input {
    width: 100%;
  }
  .login-form-block input,
  .register-form-block input {
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
  }
  .login-form-block label:not(:last-child) input,
  .login-form-block label:not(:last-child) a,
  .register-form-block label:not(:last-child) input,
  .register-form-block label:not(:last-child) a {
    margin-bottom: 10px;
  }
  .login-form-block input[type="submit"],
  .register-form-block input[type="submit"] {
    background: #24a9ff;
    border: 1px solid #24a9ff;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: 600;
    height: 100%;
    cursor: pointer;
  }
  .login-form-block .forgot-password a {
    color: #53bbff;
    float: right;
    font-size: 12px;
  }
  .popup-footer {
    background: #f5f5f5;
    padding: 10px 0;
    text-align: center;
  }
  .popup-footer a,
  .popup-footer p {
    display: inline;
  }
  .popup-footer a {
    color: #3ab1fd; 
    font-weight: 600; 
    cursor: pointer;
  }
  .register-form-block .left,
  .register-form-block .right {
    width: calc(50% - 5px);
  }
  .register-form-block .clearfix {
    margin-bottom: 10px;
  }
  .guest-dropdown-block {
    display: none;
    position: absolute;
    top: 118%;
    left: -15px;
    right: -15px;
    background: #fff;
    z-index: 2;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 16px rgba(0,0,0,0.15);
    box-shadow: 0 2px 16px rgba(0,0,0,0.15);
    padding: 21px;
    font-weight: 700;
  }
  .modify-search-block .occupancy-block {
    background: #fff;
    border: 1px solid #c0cad5;
    color: #464646;
    border-radius: 3px;
  }
  .default-guest-wrap div {
    display: block;
    margin: 2px 0 2px 40px;
  }
  .modify-search-contents {
    width: 100%;
  }
  .default-guest-wrap {
    display: flex;
  }
  .guest-dropdown-block::before,
  .ui-widget.ui-widget-content::before {
    position: absolute;
    display: inline-block;
    top: -3px;
    left: 50%;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
    transform: translate(0, -50%);    
  }
  .ui-widget.ui-widget-content::before {
    left: 10px;
  }
  .ui-menu .ui-menu-item-wrapper.ui-state-active::before {
    color: #fff;
  }
  .guest-dropdown-inner-block {
    display: flex;
    justify-content: space-between;
  }
  .guest-dropdown-inner-block:not(:last-child) {
    margin-bottom: 16px;
  }
  .guest-dropdown-inner-block .row-content button {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 0;
    width: 32px;
    height: 32px;
    background: #fff;
    border: 2px solid #007dff;
    color: #007dff;
    cursor: pointer;
    border-radius: 50%;
  }
  .guest-dropdown-inner-block .row-content .limit {
    border-color: #d4d4d4;
    color: #d4d4d4;
    cursor: no-drop;
  }
  .guest-dropdown-inner-block .row-content span {
    width: 32px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #000;
  }
  .child-age-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .guest-dropdown-inner-block.child-block {
    width: 50%;
  }
  /* .guest-dropdown-inner-block.child-block .row-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .guest-dropdown-inner-block.child-block .select-wrap {
    width: 100px;
  } */
  .guest-dropdown-inner-block .row-label p {
    font-size: 14px;
    color: #2d2d2d;
    margin: 0;
    line-height: 32px;
  }
  .child-block select {
    padding: 6px;
    width: 100%;
    border-radius: 3px;
    border-color: #007dff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAP1BMVEUAAAAAff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff+5imNFAAAAFHRSTlMAAQMFHR40ODk6O0FfqKrKzM75+5C9CoQAAAA/SURBVAhbY2AgCXCzwVgsPECCV4QdwmMV4mdkYGDkE+GA8ASYQTSQz4nggflcCB6YLywI54H4yDwgn4mBdAAA0/AB43Qzbm0AAAAASUVORK5CYII=);
    background-position: 90% center;
    background-repeat: no-repeat;
  }
  .guest-dropdown-inner-block .row-content button:focus {
    outline: 0;
  }
  .default-guest-wrap div p {
    font-size: 12px;
    font-weight: 600;
    color: #2d2d2d;
    margin: 2px 0 3px 0;
  }
  /* .modify-search-block .search-block,
  .modify-search-block .calendar-block,
  .modify-search-block .occupancy-block {
    font-family: 'Montserrat';
  } */
  .modify-search-trigger {
    padding: 8px 24px 5px 24px;
    background-color: rgb(0, 122, 255);
    color: #fff;
  }
  .modify-search-trigger .modify-search-trigger-wrap {
    width: 85%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.16);
    padding: 8px 0;
    display: flex;
    align-items: center;
  }
  .modify-search-trigger-wrap svg {
    margin: 0 8px;
    min-width: 24px;
  }
  .modify-search-trigger .filter-view-trigger {
    width: 15%;
  }
  .modify-search-contents .city-name {
    font-size: 12px;
    font-weight: 700;
  }
  .modify-search-contents .check-in-out {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
    overflow: hidden;
    font-weight: 500;
    width: 85%;
  }
  .modify-search-trigger .filter-view-trigger {
    display: flex;
  }
  .filter-view-trigger .trigger-link {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui-widget.ui-widget-content {
    z-index: 1;
    border: 0!important;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 16px rgba(0,0,0,0.15);
    box-shadow: 0 2px 16px rgba(0,0,0,0.15);
  }
  .ui-widget.ui-widget-content li {
    width: 100%;
  }
  .ui-widget.ui-widget-content li {
    font-size: 18px;
  }
  .ui-widget.ui-widget-content li.ui-autocomplete-category {
    font-size: 20px;
  }
  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }
  .ui-menu .ui-menu-item-wrapper {
    padding: 12px 1em 12px 30px!important;
    position: relative;
  }
  .ui-menu .ui-menu-item-wrapper::before {
    font-family: FontAwesome;
    position: absolute;
    left: .4em;
    top: 10px;
    font-size: 20px;
    color: #007dff;
    font-weight: 500;
  }
  .ui-menu li[aria-label^="City"] .ui-menu-item-wrapper::before {
    content: "\f0f7";
  }
  .ui-menu li[aria-label^="Hotels"] .ui-menu-item-wrapper::before {
    content: "\f041";
  }
  .ui-menu li[aria-label^="Airports"] .ui-menu-item-wrapper::before {
    content: "\f072";
  }
  .error::placeholder {
    color: #ed4337;
  }
  /* List page loader */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #007aff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* /List page loader */
.hotel-sort-block {
  text-align: right;
}
/* Autocomplete loader */
.autocompleteloader {
  display: none;
  position: absolute;
  margin: 0px auto;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 8px;
  transform: translate(0, -50%);
}
.autocompleteloader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #007aff;
  }
  40% {
    stroke: #007aff;
  }
  66% {
    stroke: #007aff;
  }
  80%, 90% {
    stroke: #007aff;
  }
}
@keyframes color {
  0% {
    stroke: #007aff;
  }
  40% {
    stroke: #007aff;
  }
  66% {
    stroke: #007aff;
  }
  80%, 90% {
    stroke: #007aff;
  }
}
/* /Autocomplete loader */
.favourite {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.favourite:hover .heart_inner_fill {
  fill: #000;
}
.favourite.active .heart_inner_fill,
.favourite.active .heart_outer_fill {
  fill: #007aff;
} 
.modify-search-block .mobile-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: #000000;
  border-radius: 0;
}
.modify-search-block .mobile-header h2 {
  font-size: inherit;
}
.trigger-link.map-view-trigger.active,
.trigger-link.list-view-trigger.active {
  display: none;
}
.mobile-list-filter {
  min-height: 53px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 20px 0;
}
.mobile-list-filter .sidebar-search-block {
  min-width: 50%;
}
.mobile-list-filter .mobile-filter-icon {
  width: 25px;
}
.mobile-list-filter .mobile-filter-icon img {
  width: 100%;
}
.amenities-popup-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 10px;
}
.amenities-popup-container .title {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.amenities-popup-container .title h2 {
  font-size: inherit;
}
.amenities-popup-container .title i {
  cursor: pointer;
}
.amenities-popup-container ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  max-height: 84%;
  overflow-y: auto;
}
.amenities-popup-container ul li {
  width: 49%;
  margin-bottom: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.amenities-popup-container .amenity-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.amenities-popup-container .amenity-icon img {
  width: 100%;
}
.filter-checkbox.toggle {
  display: none;
}
#slider-range {
  margin: 20px 0;
  box-shadow: unset;
  background: #f4f6f8;
  height: 5px;
}
#slider-range .ui-state-default,
#slider-range .ui-widget-content .ui-state-default {
  border-radius: 50%;
  background: #fff;
  border: 2px solid #007aff;
}
#slider-range .ui-widget-header {
  background: #007aff;
}
#slider-range .ui-slider-handle {
  cursor: grab;
  top: -8px;
}
#slider-range .ui-slider-handle:focus {
  outline: 0;
  box-shadow: #007aff 0 0 0 2px;
}
.filter-show-more p.down::after {
  content: "\f106";
}
.list-view-button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #007aff;
  color: #fff;
  display: flex;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.list-view-button .inner-wrap {
  display: none;
}
.list-view-button .default {
  padding: 10px;
  font-size: 30px;
}
.list-view-button .inner-wrap a {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  padding: 0 10px;
}
.list-view-button .inner-wrap a i {
  font-size: 18px;
  padding: 0 5px 0 0;
}
.hotel-detail-main-container {
  width: 90%;
  margin: 20px auto;
}
.hotel-short-content-block {
  display: flex;
  justify-content: space-between;
}
.hotel-short-content-block .hotel-name {
  font-size: 24px;
}
.hotel-short-content-block .hotel-type {
  margin: 8px 0;
  font-size: 12px;
  font-weight: 700;
}
.hotel-short-content-block .hotell-address {
  padding-bottom: 8px;
  font-weight: 700;
}