@media (min-width: 1200px) {
	.container {
		max-width: 1040px;
	}
	.round-trip-block .passenger-economy-block {
		border: 0;
	}
	#ui-id-1 {
		width: 500px!important;
		top: 179px!important;
	}
}

@media (max-width: 1300px) {
	.hotel-price-wrap .price {
		font-size: 24px;
	}
}

@media (max-width: 1199px) {
	.form-block nav {
		display: flex;
		justify-content: center;
	}
	#ui-id-1 {
		width: 500px!important;
		top: 179px!important;
	}
	.form-block nav {
    	width: 33%;
	}
	.container {
		max-width: 960px;
	}
	.round-trip-block .from-block,
	.round-trip-block .to-block {
		margin-bottom: 10px;
	}
	.round-trip-block .from-block,
	.round-trip-block .depart-return-block {
		width: 46.5%;
	}
	.round-trip-block .to-block,
	.round-trip-block .passenger-economy-block {
		border-right: 0;
    	width: 48.9%;
	}
	.round-trip-block .depart-return-block .left,
	.round-trip-block .depart-return-block .right,
	.round-trip-block .passenger-economy-block .left,
	.round-trip-block .passenger-economy-block .right {
		padding: 0;
		width: 50%;
	}
	.multicity-block .from-block,
	.multicity-block .to-block {
		width: 47.7%;
    	box-sizing: border-box;
	}
	.multicity-block .depart-return-block,
	.multicity-block .passenger-economy-block {
		width: 50%;
		box-sizing: border-box;
	}
	.multicity-block .form-inner-block:last-child {
    	width: 76.5%;
	}
	.action-button {
    padding: 4px 8px;
    }
    .multicity-block .action-block div {
    	margin-bottom: 7px;
	}
	.filter-checkbox-content img {
		vertical-align: text-top;
	}
	.filter-checkbox-content .left p {
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    width: 12vw;
	}
	.filter-checkbox-price {
		width: 25%;
	}
	.filter-checkbox-price-content {
		width: 75%;
		text-align: right;
	}
	.filter-custom-checkbox {
		margin-right: 10px;
	}
	.sidebar-amenities .left {
		width: 80%;
	}
	.sidebar-amenities .right {
		width: 20%;
		text-align: right;
	}
	.list-content-option-block {
		display: flex;
    	flex-direction: column-reverse;
    	align-items: flex-end;
    	position: relative;
	}
	.list-content-option-block .left {
		width: 100%;
    	margin-top: 10px;
	}
	.hotel-count-show-block {
		width: 100%;
	}
	.list-content-option-inner-block .toggle-view-block {
		position: absolute;
    	top: 0;
    	left: 0;
	}
	.list-content-option-block .right {
		width: 30%;
	}
	.toggle-view-block p {
		padding: 11px 15px;
	}
	.hotel-reviews-block .filter-checkbox-price {
		width: 100%;
	}
	.hotel-amenities-list li:nth-child(2) {
		width: 70%;
	}
	.hotel-price-wrap {
    	margin-top: 10px;
	}
	.hotel-price-wrap .price-per-night,
	.hotel-price-wrap .vip-type {
		font-size: 12px;
    	font-weight: 600;
	}
	.hotel-price-wrap .price-per-night {
		margin-top: -5px;
	}
	.hotels-price-block {
		padding: 10px;
	}
	.preferred-hotel-title span,
	.preferred-hotel-link {
		font-size: 12px;
	}
	.preferred-hotel-content {
		font-size: 13px;
	}
}

@media (min-width: 992px) {
	.sidebar-filter-icon,
	.sidebar-popup-button,
	.sidebar-popup-close,
	.modify-search-trigger,
	.modify-search-block .mobile-header {
		display: none;
	}	
}

@media (max-width: 991px) {
	.sidebar-checkbox-elements {
		padding: 0;
	}
	.sidebar-filter-icon,
	.sidebar-popup-button,
	.sidebar-popup-close  {
		display: block;
	}
	.modify-search-trigger,
	.modify-search-block .mobile-header {
		display: flex;
	}
	.modify-search-block .guest-dropdown-block {
		overflow: scroll;
		overflow-x: hidden;
		max-height: 52vh;
	}
	.modify-search-block .search-block,
	.modify-search-block .calendar-block,
	.modify-search-block .occupancy-block,
	.modify-search-block .update-search-block {
		margin-right: 0;
	}
	.toggle-view-block {
		display: none!important;
	}
	.filter-checkbox-content .left p {
		width: unset;
	}
	.update-search-block .update-search-button {
		margin: 0;
		width: 100%;
	}
	#ui-id-1 {
		width: 97.1%!important;
		top: 120px!important;
		max-height: 75vh;
		overflow: scroll;
		overflow-x: hidden;
	}
	.list-content-option-block {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.list-content-block .sidebar {
		display: none;
		position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    overflow: scroll;
	    background: #fff;
	    z-index: 1;
	    padding: 20px 40px;
	    box-sizing: border-box;
	    float: none;
	}
	.list-content-block .list-content-inner-block {
		margin-left: 0;
	}
	.multicity-block .form-inner-block:last-child {
		margin: 10px 0 0 5%;
	}
	.container {
		max-width: 720px;
	}	
	.form-block nav {
    	width: 44%;
	}
	.hotel-block > div {
		width: 97.5%!important;
	    border: 0;
	    margin-bottom: 10px;
	}
	.hotel-block > div > .right,
	.hotel-block > div > .left {
		padding: 0!important;
		width: 50%!important;
	}
	.hotel-block > div:last-child {
		padding-right: 8px;
	}
	.button-block .button-comingsoon {
		left: 38%;
	}
	.round-trip-block .from-block,
	.round-trip-block .depart-return-block {
    	width: 46.5%;
	}
	.round-trip-block .to-block,
	.round-trip-block .passenger-economy-block {
	   	width: 47.9%;
	}
	.multicity-block .from-block,
	.multicity-block .to-block {
    	width: 46.9%;
    }
    .multicity-block .form-inner-block:last-child {
    	width: 75%;
	}
	.multicity-block .passenger-economy-block .right,
	.multicity-block .passenger-economy-block .left,
	.multicity-block .depart-return-block .left,
	.multicity-block .depart-return-block .right {
		padding: 0;
		width: 50%;
	}
	.multicity-block .depart-return-block {
		min-height: 82px;
	}
	.modify-search-block div,
	.modify-search-block div:last-child {
		flex: none;
    	flex-basis: 100%;
		margin: 0 0 2% 0;
		box-sizing: border-box;
	}
	.modify-search-block {
		display: none;
		padding: 16px;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: #fff;
		min-height: 100vh;
		margin: 0;
		width: 100%;
		z-index: 1;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		box-sizing: border-box;
	}
	.modify-search-block .default-guest-wrap {
		margin: 0;
		min-height: 50px;
	}
	.modify-search-block .default-guest-wrap div {
		margin: 3px 0 3px 40px;
    	flex-basis: 96%;
	}
	.modify-search-block .guest-dropdown-inner-block,
	.modify-search-block .guest-dropdown-inner-block .row-label,
	.modify-search-block .guest-dropdown-inner-block .row-content {
		flex-basis: unset;
	}
	.modify-search-block .guest-dropdown-inner-block.child-block {
		flex-basis: 50%;
	}
}

@media (min-width: 577px) and (max-width: 991px) {
	.sidebar .stteer {
		position: relative;
		padding-top: 30px;
	}
	.sidebar-popup-close {
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media (max-width: 767px) {
	.modify-search-trigger .modify-search-trigger-wrap,
	.list-content-option-block .left {
		width: 70%;
	}
	.modify-search-trigger .filter-view-trigger {
		width: 30%;
	}
	.hotel-reviews-block ul li:last-child,
	.hotel-amenities-list li:first-child,
	.hotel-amenities-list li:last-child,
	.hotel-address span,
	.top-booked-block,
	.hotels-price-block .choose-button,
	.hotels-price-block .choose-button
	.hotels-price-block .choose-button {
		display: none;
	}
	.hotels-block .hotels-gallery-block {
		width: 40%;
		flex: 1;
	}
	.hotel-reviews-block {
		bottom: 15px;
	}
	.hotels-block .hotels-details-block {
		width: 60%;
	}
	.hotels-block {
		position: relative;
	}
	.hotels-block .hotels-price-block {
		position: absolute;
		padding: 0;
		border: 0;
		flex-direction: row-reverse;
	    top: 48%;
	    width: 62%;
    	left: 38%;
	    padding-right: 15px;
	}
	.hotels-block .hotel-price-wrap {
		width: 35%;
		text-align: right;
		margin: 0;
	}
	.hotels-block .preferred-hotel {
    	width: 65%;
    	text-align: left;
	}
	.hotels-details-block .hotel-title {
    	margin-bottom: 5px;
	}
	.hotel-address {
		margin-bottom: 10px;
	}
	.hotels-block {
		height: 230px;
	}
	.hotel-reviews-block ul li:nth-child(2) {
    	border: 0;
	}
	.container {
		max-width: 540px;
	}	
	.form-block nav {
    	width: 58%;
	}
	.hotel-block > div {
    	width: 97%!important;
    }
    aside > figure {
    	width: 100%;
    	margin-bottom: 60px;
    }
    aside > figure:last-child {
    	margin: 0;
    }
    .button-block .button-comingsoon {
    	left: 33%;
	}
	.round-trip-block .to-block,
	.round-trip-block .passenger-economy-block {
    	width: 47%;
	}
	.round-trip-block .from-block,
	.round-trip-block .depart-return-block {
    	width: 45.8%;
	}
	.round-trip-block .depart-return-block {
		min-height: 81px;
	}
	.multicity-block .from-block,
	.multicity-block .to-block {
    	width: 45.9%;
	}
	.form-inner-block h3, .form-inner-block input {
    	font-size: 18px;
	}
	.multicity-block .depart-return-block {
    	min-height: 89px;
	}
	.hotel-amenities-list li:nth-child(2) {
		width: 90%;
	}
	.preferred-hotel-title {
		margin: 0;
	}
}

@media (min-width: 577px) {
	.mobile-menu,
	.depart-return-mobile-block,
	.passenger-economy-mobile-block,
	header .flight-logo-block .mobile-logo,
	header .hotel-logo-block .mobile-logo,
	.mobile-menu-close,
	.modify-search-mobile-container,
	.mobile-modify-search-container,
	.mobile-search-close-wrap,
	.hotel-view-container,
	.mobile-search-close-wrap,
	.mobile-list-option {
		display: none!important;
	}
	.index-menu ul,
	.depart-return-block,
	.passenger-economy-block,
	header .flight-logo-block .logo,
	header .hotel-logo-block .logo {
		display: block;
	}
}

@media (max-width: 576px) {
	#ui-id-1 {
		width: 86.1%!important;
	}
	.daterangepicker {
		max-height: 67vh;
		overflow: scroll;
	}
	.hotels-details-block .hotel-address,
	.hotels-details-block .hotel-title {
		margin: 0;		
	}
	.hotels-details-block .hotel-title {
		font-size: 16px;
		margin-bottom: 10px;
		text-transform: capitalize;
	}
	.hotels-block .hotels-details-block {
		width: 75%;
	}
	.hotels-block .hotels-gallery-block {
		width: 25%;
	}
	.hotels-gallery-block img {
		border-bottom-left-radius: 0;
	}
	.hotels-details-block {
    	padding: 10px 5px;
	}
	.hotels-block .hotels-gallery-block,
	.hotels-block .hotels-details-block {
		height: 140px;
		box-sizing: border-box;
	}
	.hotels-block .hotels-details-block {
		border-bottom: 1px solid #c4cecd;
	}
	.mobile-filter-icon {
		padding: 0;
	}
	.mobile-list-option span {
		color: #757575;
	    font-weight: 600;
	    font-size: 13px;
	}
	.mobile-sort-block span,
	.mobile-sort-block select {
	  font-size: 15px;
	  color: #142b99;
	  font-weight: bold;
	}
	.mobile-sort-block select {
		border: 0;
		background: #fff;
		-webkit-appearance: none;
		padding-right: 25px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAGFBMVEUAAAAUK5kUK5kUK5kUK5kUK5kUK5kUK5nEYvHNAAAAB3RSTlMAGjG+6/P1wTTolgAAACVJREFUCFtjYEAC5uXl5Q4MYkBSgYExvbwIKCQGZDIwMAYxYAEA1swFyXm1qtoAAAAASUVORK5CYII=');
	    background-repeat: no-repeat;
    	background-position: 96% center;
	}
	.mobile-list-option .current-hotel-count {
		color: #000;
	}
	.list-content-block .list-content-inner-block {
		margin: 0;
	}
	.list-content-block {
		border: 0;
		width: 95%;
		margin: 10px auto;
	}
	header .hotel-logo-block a {
		opacity: 0.25;
	}
	.form-block nav {
    	width: 100%;
	}
	.mobile-menu,
	.depart-return-mobile-block,
	.passenger-economy-mobile-block,
	header .flight-logo-block .mobile-logo,
	header .hotel-logo-block .mobile-logo,
	.modify-search-mobile-container,
	.mobile-modify-search-container,
	.mobile-search-close-wrap,
	.hotel-view-container,
	.mobile-search-close-wrap,
	.mobile-list-option {
		display: block;
	}
	.index-menu ul,
	.depart-return-block,
	.passenger-economy-block,
	header .flight-logo-block .logo,
	header .hotel-logo-block .logo,
	.modify-search-container nav,
	.modify-search-container .modify-search-block,
	.list-content-option-block {
		display: none;
	}	
	.preferred-hotel-content {
		margin: -2px 0;
	}
	.preferred-hotel-title {
		margin: 0;
	}
	.hotel-reviews-block {
		position: unset;
		margin-top: 10px;
	}
	.hotels-block .hotels-price-block {
		top: auto;
		bottom: 10px;
		width: 100%;
		right: 0;
		left: 0;
		padding: 0 20px;
	}
	.hotels-block .preferred-hotel {
		width: 50%;
    	text-align: center;
	}
	.hotels-block .hotel-price-wrap {
		width: 50%;
	}
	.hotel-reviews-block .review {
		color: #001024;
	}
	.mobile-search-close-wrap i {
		font-size: 30px;
	}
	.mobile-search-close-wrap {
		justify-content: flex-end;
	}
	.depart-return-mobile-block h3,
	.passenger-economy-mobile-block h3 {
		font-size: 22px;
	}	
	.container {
		max-width: 90%;
	}
	.page-heading h1 {
    	font-size: 30px;
    }
    .page-heading p,
    header .menu-bottom-bar {
    	display: none;
    }
    header a .left {
    	float: none;
    }
    .page-heading {
    	padding: 20px 0;
	}
	.hotel-block > div {
    	width: 100%!important;
    	box-sizing: border-box;
	}
	.round-trip-block .from-block,
	.round-trip-block .to-block {
		border: 0;
		width: 100%;
    	box-sizing: border-box;
	}
	.button-block .button-comingsoon {
    	left: 30%;
	}
	header .container {
		max-width: none;
	}
	header .flight-logo-block {
		padding : 7.5px 0;
		border-bottom: 1px solid #fa352b;
		border-right: 1px solid #fa352b;
	}
	header .hotel-logo-block {
		padding : 7.5px 0;
		width: calc( 50% - 1px );
		border-bottom: 1px solid #ff00ff;
	}
	header .flight-logo-block:after {
	    content:'';
	    position: absolute;
	    top: 100%;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    width: 0;
	    height: 0;
	    border-top: solid 5px #fa352b;
	    border-left: solid 8px transparent;
	    border-right: solid 8px transparent;
	}
	header .hotel-logo-block:before {
	    content:'';
	    position: absolute;
	    top: 50%;
	    left: -1px;
	    right: 0;
	    width: 0;
	    height: 50%;
	    border-left: solid 1px #ff00ff;
	}
	.depart-return-mobile-block .left,
	.depart-return-mobile-block .right {
		width: 50%;
		padding: 0!important;
	}
	.form-block nav,
	.mobile-menu-close {
		display: block;
	}
	.form-block nav ul li {
    	padding: 6px 0;
    	width: 33.33%;
    	float: left;
    }
    .form-block nav ul:after {
    	display: table;
    	content: '';
    	clear: both;
    }
    .multicity-block {
    	margin: 10px 0 0 0;
    }
    .multicity-block .form-inner-block {
    	width: 100%;
    	margin: 0;
    	box-sizing: border-box;
	}
	.multicity-block .form-inner-block:last-child {
		width: 100%;
	}
	.multicity-block .from-block {
		margin-bottom: 10px;
	}
	.multicity-block .from-block,
	.multicity-block .to-block {
    	width: 94%;
    	border-right: 6px solid #f7f7f7!important;
	}
	.multicity-block .form-inner-block {
		position: relative;
	}
	.multicity-block .action-block {
		position: absolute;
	    right: 0;
	    top: 0;
	    border: 0;
	    margin: auto;
	    bottom: 0;
	    height: 83px;
	}
	.flights-main-container,
	.hotels-main-container {
		background: unset;
	}
	.index-menu ul,
	.modify-search-mobile-container,
	.modify-search-block {
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    background: #fff;
	    z-index: 1;
	    padding: 20px 40px;
	    box-sizing: border-box;
	}
	.modify-search-mobile-container {
		z-index: 3;
	}
	.list-main-container .modify-search-container {
		padding: 0;
	}
	.modify-search-container.modify-search-mobile-container {
		padding: 20px 40px;
	}
	.modify-search-block {
		margin: 0;
		z-index: 3;
	}
	.index-menu ul li,
	.modify-search-mobile-container li {
	    width: 100%;
	    text-align: left;
	    margin-bottom: 20px;
	    padding: 15px 0;
	    font-weight: 600;
	    font-size: 20px;
	}
	.index-menu ul li:first-child,
	.modify-search-mobile-container li:first-child {
		text-align: right;
	    margin: 0;
	    padding: 0;
	    font-size: 30px;
	}
	.mobile-logo img {
		width: 100%;
		height: 100%;
	}
	.multicity-block .form-inner-block:last-child {
		margin: 0;
	}
	.hotel-amenities-list {
		margin: 10px 0 0 0;
	}
	.register-popup-inner,
	.login-popup-inner {
		top: 0;
		left: 0;
		transform: translate(0, 0);
		width: 100%;
		height: 100vh;
	}
	.login-popup .relative,
	.register-popup .relative {
		height: auto;
	}
	.register-form-block .left,
	.register-form-block .right {
		width: 100%;
	}
	.register-form-block .left {
		margin-bottom: 10px;
	}
	.login-popup,
	.register-popup {
		background: #fff;
	}
	.register-popup-inner,
	.login-popup-inner {
		overflow-y: scroll;
		overflow-x: hidden
	}

	/*  */
	.list-content-block {
		flex-wrap: wrap;
    	position: relative;
	}
	.list-content-block .sidebar {
		display: flex;
	    padding: 0;
	    position: absolute;
	    top: -13px;
	    z-index: 1;
	    width: unset;
		height: unset;
		overflow: hidden;
	    background: unset;
	}
	.sidebar .stteer .sidebar-inner-block:first-child,
	.modify-search-trigger {
		display: block;
	}
	.sidebar .stteer .sidebar-inner-block:first-child .sidebar-heading,
	.modify-search-trigger {
		display: none;
	}
	.sidebar .stteer .filter-except-hotelname {
		position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    overflow: scroll;
	    background: #fff;
	    z-index: 1;
	    padding: 20px 40px;
	    box-sizing: border-box;
	    float: none;
	    display: none;
	}
	/*  */
}

@media (max-width: 475px) {
	.hotel-reviews-block ul li {
    	font-size: 12px;
	}
	.sidebar-filter-icon, .mobile-filter-icon {
		left: 42%;
	}
}

@media (max-width: 450px) {
	.button-block .button-comingsoon {
    	left: 26%;
	}
	.multicity-block .from-block, .multicity-block .to-block {
    	width: 93%;
	}
	.modify-search-trigger .modify-search-trigger-wrap {
		width: 65%;
	}
	.modify-search-trigger .filter-view-trigger {
		width: 35%;
	}
}

@media (max-width: 375px) {
	.button-block .button-comingsoon {
    	left: 23%;
	}
	.multicity-block .from-block, .multicity-block .to-block {
    	width: 92%;
	}	
	.mobile-menu h3 {
		font-size: 20px;
	}
}










