#map {
    height: 500px;
  }
.list-content-block {
    max-width: 100%;
    margin: 0 auto;
	border: 0;
}
.modify-search-container {
    -webkit-box-shadow: 0 5px 4px -6px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 5px 4px -6px rgba(0,0,0,0.8);
    box-shadow: 0 5px 4px -6px rgba(0,0,0,0.8);
}
.list-content-block .sidebar {
    width: 15%;
    padding: 10px 15px;
    max-height: 68vh;
    overflow: scroll;
    overflow-x: hidden;
    flex: none;
}
.list-content-block .list-content-inner-block {
	width: 20%;
	padding: 10px 15px;
    margin: 0;
    flex: none;
    max-height: 68vh;
    overflow: scroll;
    overflow-x: hidden;
}
.list-map-block {
	width: 65%;
    display: block;
}
.map-reviews-block,
.list-map-block,
.map-hotel-name {
	display: block;	
}
.map-hotel-name {
	position: absolute;
    color: #fff;
    left: 0;
    right: 0;
	bottom: 0;
	padding: 5px 10px;
}
.map-hotel-name p {
	text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}
.map-hotel-name .hotel-title {
    width: 99%;
	font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hotels-block {
	flex-direction: column;
    max-height: 100%;
    border-radius: 3px;
    overflow: hidden;
    height: auto;
    height: -moz-available;
}
.hotels-block .hotels-gallery-block {
    height: 135px;
}
.hotels-gallery-block img {
	border-bottom-left-radius: 0;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.hotels-price-block { 
	border-left: 0;
}
.list-content-option-block,
.hotels-price-block .preferred-hotel,
.hotels-price-block .left-count,
.hotels-details-block .hotel-title,
.hotel-address span,
.hotel-amenities-list,
.top-booked-block,
.hotels-price-block .choose-button,
.hotel-price-wrap .vip-type,
.hotel-price-wrap .price-per-night,
.hotel-reviews-block {
	display: none;
}
.filter-custom-checkbox {
	margin-right: 10px;
}
.filter-checkbox-content .left,
.filter-checkbox-content .left p {
	width: 80%;
}
.filter-checkbox-content .left p {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    font-weight: 600;
}
.filter-checkbox-content p,
.sidebar-price-range-block p {
    font-size: 12px;
}
.sidebar-heading,
.hotel-price-wrap .price span {
	font-size: 14px;
}
.filter-show-more {
	font-size: 13px;
}
.filter-show-more p::after {
	font-size: 16px;
}
.filter-checkbox-content .filter-checkbox-price {
	width: 30%;
}
.filter-checkbox-content .filter-checkbox-price-content {
	width: 70%;
	text-align: right;
}
.hotels-block .hotels-gallery-block {
    width: 100.5%;
}
.hotels-block .hotels-price-block,
.hotels-block .hotels-details-block,
.list-content-block  {
	width: 100%;	
}
.hotels-block .hotels-details-block {
	box-sizing: border-box;
	border-bottom: 2px solid #f0f2f5;
}
.map-reviews-block .review {
  font-weight: 600;
  font-weight: 600;
  font-size: 12px;
}
.map-reviews-block .rating {
  padding: 2px 6px;
  background: #f68013;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 5px;
  font-size: 12px;
}
.map-reviews-block img {
	width: 12px;
}
.map-reviews-block ul li:not(:last-child) {
    border-right: 1px solid #000;
    padding-right: 5px;
}
.hotels-details-block {
    padding: 5px 10px;
}
.map-reviews-block {
	margin-bottom: 5px;
}
.hotel-address,
.hotel-price-wrap {
	margin: 0;
}
.hotel-address p {
	font-weight: 600;
    font-size: 12px;
}
.hotel-price-wrap .price {
	font-size: 20px;
	text-align: right;
}
.hotel-address p {
	max-width: 100%;
}
.list-map-block {
	background-size: cover;
}
.list-map-block .toggle-view-block {
	position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}
.toggle-view-block p,
.map-redo-search-block {
	font-size: 12px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.map-hotel-toggle,
.map-filter-toggle {
    position: absolute;
    top: 10px;
    left: 0;
    width: 32px;
    height: 32px;
    background: #0078fe;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}
.map-filter-toggle {
    top: 50px;
    font-size: 15px;
}
.map-hotel-toggle::before,
.map-filter-toggle::before {
    content: "\f053";
    padding: 0px 10px;
    font-family: FontAwesome;
    vertical-align: sub;
}
.map-filter-toggle::before {
    content: "\f0b0";
}
.list-map-block .modify-search-block {
	position: absolute;
    top: 9px;
    left: 45px;
    width: 18vw;
    margin: 0;
}
.list-map-block .modify-search-block input {
	height: 40px;
    color: #456688;
    font-size: 13px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	padding: 0 10px 0 40px;
}
.list-map-block .modify-search-block img {
	top: 10px;
}
.map-redo-search-block {
    position: absolute;
    top: 50px;
    right: 10px;
    text-transform: capitalize;
    padding: 5px 13px;
}

@media (min-width: 1440px) {
    .list-content-block .sidebar,
    .list-content-block .list-content-inner-block {
        width: 312px;
    }
    .list-map-block {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .filter-checkbox-content .left p {
        width: 75%;
    }
    .filter-show-more p {
        font-size: 12px;
    }
    .filter-show-more p::after {
        font-size: 14px;
    }
    .map-hotel-name .hotel-title {
        width: 95%;
    }
    .map-reviews-block ul {
        text-align: left;
    }
    .map-reviews-block ul li {
        width: 100%;
    }
    .map-reviews-block ul li:not(:last-child) {
        border: 0;
        padding: 0;
        margin-bottom: 5px
    }
    .map-redo-search-block {
        top: 60px;
        padding: 11px 13px;
    }
}

@media (min-width: 992px) {
    .map-filter-toggle {
        display: none;
    }    
}

@media (max-width: 991px) {
    .list-map-block {
        width: 80%;
    }
    .list-map-block .modify-search-block .search-block {
        flex-basis: 100%!important;
    }
    .list-map-block .modify-search-block {
        justify-content: flex-start;
    }
    .map-filter-toggle {
        display: block;
    }
    .list-content-block .sidebar {
        width: 100%;
        max-height: 100vh;
    }
}

@media (max-width: 767px) {
    .hotels-block .hotels-gallery-block {
        flex: none;
    }
    .modify-search-container {
        display: none
    }
    .list-content-block {
        position: relative;
    }
    .list-content-block .list-content-inner-block {
        position: absolute;
        z-index: 1;
        bottom: 0;
        padding: 0;
        width: 100%;
        overflow-y: hidden;
    }
    .list-map-block {
        width: 100%;
        height: calc(100vh - 70px);
    }
    .primary-menu header {
        z-index: 2;
    }
    .list-content-block .sidebar {
        z-index: 3;
    }
    .list-map-block .modify-search-block {
        width: 50vw;
    }
    .hotel-wrap {
        display: flex;
        overflow: scroll;
        overflow-y: hidden;
        margin: 0 5px;
    }
    .hotels-block {
        margin: 5px 10px 5px 0;
        width: 40%;
        flex-shrink: 0;
    }
    .hotels-block .hotels-price-block {
        position: static;
    }
    .hotels-block .hotels-details-block,
    .hotels-block .hotels-price-block {
        background: #fff;
        height: auto;
    }
    .hotels-block .hotel-price-wrap {
        width: 100%;
        padding: 10px 0;
    }
    .map-reviews-block ul li:not(:last-child) {
        border-right: 1px solid #000;
        padding-right: 5px;
        margin: 0;
    }
    .map-reviews-block ul li {
        width: auto;
    }
}

@media (max-width: 588px) {
    .map-reviews-block ul li:not(:last-child) {
        border-right: 0;
        padding-right: 0;
        margin-bottom: 5px;
    }
    .map-reviews-block ul li {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .hotels-block .hotels-gallery-block {
        height: 110px;
    }
    .list-map-block .modify-search-block {
        padding: 0;
        background: unset;
        height: auto;
    }
    .mobile-list-option,
    .hotel-view-container,
    .mobile-modify-search-container,
    .list-main-container .container,
    .map-view-block,
    .map-redo-search-block {
        display: none;
    }
    .list-map-block {
        height: calc(100vh - 50px);
    }
    .hotels-block {
        width: 50%;
    }
    .list-map-block .toggle-view-block {
        flex-direction: column;
    }
    .toggle-view-block .map-view-block {
        margin: 10px 0 0 0;
    }
    .map-redo-search-block {
        top: 110px;
    }
}