@media (min-width: 1200px) {
	#ui-id-1 {
		width: 500px!important;
		top: 14.5%!important;
		left: 20%!important;
		overflow-x: hidden;
		max-height: 270px;
	}
	.daterangepicker {
		margin: 0!important;
		top: 14.5%!important;
		left: 39%!important;
	}
}

@media (min-width: 1440px) {
	.usp-contents-block h2 {
		margin-bottom: 25px;
	}
	.usp-contents-block p {
		font-size: 16px;
	}
	.footer-logo-wrap img {
		width: 15vw;
	}
	.usp_shape_bg {
		width: 720px;
		top: 5%;
	}
	.curved-usp-block {
		height: 690px;
	}
	#ui-id-1 {
		width: 500px!important;
		top: 13.5%!important;
		left: 20%!important;
	}
	.daterangepicker {
		top: 13.5%!important;
	}
}

@media (min-width: 1620px) {
	body {
		margin: 0 auto;
	}
	#ui-id-1 {
		width: 500px!important;
		top: 13.2%!important;
		left: 20%!important;
	}
	.daterangepicker {
		top: 12.2%!important;
	}
	.home-banner {
		height: 850px;
	}
}

@media (max-width: 1619px) {
	.checkin-checkout-block {
		margin: 0 3px;
	}
	.hotel-block {
		background: #ebebeb;
	}
}


@media (max-width: 1199px) {
	.daterangepicker {
		margin: 0!important;
		top: 15.5%!important;
		left: 36%!important;
	}
	#ui-id-1 {
		width: 500px!important;
		top: 15.5%!important;
		left: 12.5%!important;
	}
	.usp_shape_bg {
		top: 20%;
	}
	.banner_bottom_left,
	.banner_bottom_right {
		width: 418px;
	}
	.banner_bottom_left {
		height: 183px;
	}
	.banner_bottom_right {
    	height: 134px;
	}
	.form-inner-block {
		width: 75%;
	}
	.usp-inner-block {
		margin: 90px 0 125px 0;
	}
	.usp-inner-block .image-block {
		width: 45%;
	}
	.usp-inner-block .usp-contents-block {
		width: 50%;
	}
	.usp-contents-block .site-primary-button {
		margin-top: 10px;
	}
	.usp-contents-block p {
		line-height: normal;
	}
	.usp-block {
		width: 80%;
	}
	.usp_shape_bg {
	    width: 46vw;
	}
	.footer-log-inner-wrap p {
		font-size: 30px;
		margin-bottom: 25px;
	}
	.footer-logo-wrap img {
		height: 220px;
	}
	.footer-social-block p {
		margin: 30px 0 35px 0;
	}
}

@media (max-width: 991px) {
	#ui-id-1 {
		width: 75%!important;
		top: 14.5%!important;
		left: 12.5%!important;
	}
	.daterangepicker {
		top: 18.5%!important;
		left: 13%!important;
		width: 74%!important;
	}
	.daterangepicker .drp-calendar {
		max-width: 50%!important;
		width: 50%!important;
	}
	.hotel-block {
		flex-wrap: wrap;
	}
	.hotel-block .city-block,
	.hotel-block .checkin-checkout-block,
	.hotel-block .guest-room-block,
	.hotel-block .default-city {
		width: 100%;
	}
	.hotel-block .city-block,
	.hotel-block .checkin-checkout-block,
	.hotel-block .default-city {
		border-right: 0;
		border-bottom: 6px solid #ebebeb;
	}
	.form-inner-block {
		border-width: 6px;
	}
	.hotel-block .checkin-checkout-block .right,
	.hotel-block .checkin-checkout-block .left {
		width: 50%;
	}
	.banner_bottom_left,
	.banner_bottom_right {
		width: 350px;
	}
	.banner_bottom_right {
		height: 112px;
	}
	.banner_bottom_left {
		height: 153px;
	}
	.usp-block {
		width: 90%;
	}
	.banner_bottom_left,
	.banner_bottom_right {
		width: 250px;
	}
	.banner_bottom_right {
		height: 80px;
	}
	.banner_bottom_left {
		height: 109.5px;
	}
	.usp-inner-block .image-block img {
		transform: scale(1);
	}
	.footer-logo-wrap img {
		width: 185px;
		height: 185px;
	}
	.footer-log-inner-wrap p {
		font-size: 24px;
	}
	.footer-content .footer-logo-wrap {
		padding: 40px 20px;
	}
	.footer-social-block p {
		margin: 20px 0 25px 0;
	}
	.usp_shape_bg {
		top: 25%;
	}
}

@media (max-width: 767px) {
	#ui-id-1 {
		width: 89%!important;
		top: 10%!important;
		left: 5.5%!important;
	}
	.daterangepicker {
		top: 12.4%!important;
		left: 5%!important;
		width: 90%!important;
	}
	.usp-container {
		overflow: hidden;
	}
	.form-inner-block {
		width: 90%;
	}
	.banner_bottom_left,
	.banner_bottom_right {
		width: 200px;
	}
	.banner_bottom_right {
		height: 64px;
	}
	.banner_bottom_left {
		height: 87.5px;
	}
	.usp > figure {
		margin-bottom: 80px;
	}
	.usp figure:last-child {
		margin: 0;
	}
	.usp-inner-block {
		margin: 105px 0 45px 0;
		flex-wrap: wrap;
	}
	.usp-inner-block .image-block,
	.usp-inner-block .usp-contents-block,
	.usp > figure,
	.footer-content .footer-logo-wrap,
	.footer-content .footer-menu {
		width: 100%;
	}
	.usp-contents-inner-block {
		margin: 80px 0 35px 0;
	}
	.usp-contents-block p {
		font-size: 14px;
	}
	.usp-contents-block h2 {
		margin: 0 0 45px 0;
	}
	.curved-usp-block {
		margin: 0;
		height: auto;
		border-bottom-right-radius: 0;
	}
	.curved-usp-block .usp-contents-block {
		width: 70%;
	}
	.curved-usp-block .usp-contents-inner-block {
		margin-bottom: 0;
	}
	.usp-contents-block .site-primary-button {
		margin: 0 0 60px 0;
	}
	.usp_shape_bg {
		width: 100vw;
		left: -30px;
		top: 29%;
	}
	.footer-content {
		flex-wrap: wrap;
	}
	.footer-content .footer-logo-wrap {
		justify-content: flex-start;
	}
	.footer-log-inner-wrap p {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.footer-content .footer-menu {
		padding: 40px 20px;
		align-items: flex-start;
	}
	.footer-social-block p {
		margin: 55px 0 25px 0;
	}
	.footer-logo-wrap img {
		width: unset;
		height: 220px;
		margin-right: 30px;
	}
}

@media (min-width: 577px) {
	header .flight-logo-block .mobile-logo,
	header .hotel-logo-block .mobile-logo,
	.mobile-menu-close,
	.index-menu .mobile-menu {
		display: none;
	}
	header .flight-logo-block .logo,
	header .hotel-logo-block .logo,
	.index-menu ul {
		display: block;
	}
}

@media (max-width: 576px) {
	.button-block {
		margin: 15px 0 0 0;
	}
	.checkin-checkout-block {
		margin: 0;
	}
	#ui-id-1 {
		top: 130px!important;
		overflow: scroll;
		max-height: 70vh;
		z-index: 2;
		position: fixed;
	}
	.default-city div {
		width: 100%;
		position: relative;
	}
	.default-city .autocompleteloader {
		width: 20px;
		border: 0!important;
		position: absolute;
	}
	.default-city input {
		width: 82%;
	}
	.default-calendar input,
	.guest-dropdown-inner-block.child-block .row-label {
		width: 100%;
	}
	.guest-dropdown-block {
		max-height: 100vh;
		min-height: 100vh!important;
		overflow: scroll;
	}
	.child-block select {
		background-position: 95% center;
	}
	.guest-dropdown-inner-block.child-block {
		width: 48%;
	}
	.daterangepicker {
		top: 0!important;
		position: fixed!important;
		left: 0!important;
		bottom: 0;
		width: 100%!important;
		background-color: #000000bf!important;
	}
	.daterangepicker::after {
		display: none!important;
	}
	.daterangepicker .drp-calendar.left,
	.daterangepicker .drp-calendar.right {
		padding: 3%!important;
	}
	.daterangepicker .drp-calendar .calendar-table {
		padding: 8px!important;
		border-radius: 4px!important;
	}
	.daterangepicker .calendar-table th,
	.daterangepicker .calendar-table td {
		width: 27px!important;
		max-width: 27px;
		height: 33px!important;
		line-height: 27px!important;
	}
	.daterangepicker .calendar-table .next span,
	.daterangepicker .calendar-table .prev span {
		border-width: 0 4px 4px 0!important;
		padding: 4px!important;
	}
	.curved-usp-block .site-primary-button {
		z-index: 1;
	}
	.daterangepicker .drp-calendar {
		max-width: 100%!important;
		width: 100%!important;
	}
	.daterangepicker td.start-date.end-date,
	.daterangepicker .calendar-table th,
	.daterangepicker .calendar-table td {
		border-radius: 4px!important;
	}
	.daterangepicker td.start-date {
		border-top-left-radius: 4px!important;
		border-bottom-left-radius: 4px!important;
		border-top-right-radius: 0!important;
		border-bottom-right-radius: 0!important;
	}
	.daterangepicker td.end-date {
		border-top-right-radius: 4px!important;
		border-bottom-right-radius: 4px!important;
		border-top-left-radius: 0!important;
		border-bottom-left-radius: 0!important;
	}
	body {
		margin: 0;
	}
	header .flight-logo-block .mobile-logo,
	header .hotel-logo-block .mobile-logo,
	.mobile-menu-close,
	.index-menu .mobile-menu {
		display: block;
	}
	header .flight-logo-block .logo,
	header .hotel-logo-block .logo,
	.index-menu ul,
	.page-heading p,
	.banner_bottom_left,
	.banner_bottom_right {
		display: none;
	}
	.primary-menu {
		position: static;
	}
	.usp-inner-block {
		margin: 45px 0 45px 0;
	}
	header .flight-logo-block {
		border-right: 1px solid #7000d1;
	}
	header .hotel-logo-block {
		position: relative;
	}
	header .hotel-logo-block:before {
		content: '';
		position: absolute;
		top: 50%;
		left: -1px;
		right: 0;
		width: 0;
		height: 50%;
		border-left: solid 1px #ff00ff;
		z-index: 1;
	}
	.hotels-main-container {
		top: 0;
	}
	.page-heading {
		padding: 25px 0;
	}
	.page-heading h1 {
		font-size: 30px;
	}
	.home-banner {
		height: auto;
		border-bottom-right-radius: 20vw;
		padding-bottom: 55px;
		margin-bottom: 45px;
	}
	.footer-copyright {
		padding: 30px 20px;
	}
	.footer-copyright .condition-page-menu,
	.footer-copyright .copyright {
		width: 100%;
		float: left;
	}
	.footer-copyright .condition-page-menu {
		margin-bottom: 15px;
	}
	.usp-inner-block .image-block {
		height: 350px;
	}
	.usp_shape_bg {
		width: 110%;
		left: -10%;
		top: 37%;
	}
	.usp-contents-block h2 {
		font-size: 30px;
	}
	.footer-logo-wrap {
		flex-wrap: wrap;
	}
	.footer-log-inner-wrap {
		width: 100%;
	}
	.footer-logo-wrap img {
		margin: 0 0 45px 0;
		width: 185px;
		height: auto;
	}
	.footer-log-inner-wrap p {
		font-size: 50px;
		margin-bottom: 0;
	}
	.index-menu ul {
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    background: #fff;
	    z-index: 2;
	    padding: 20px 40px;
		box-sizing: border-box;
		max-width: 100vw;
	}
	.index-menu ul li {
	    width: 100%;
	    text-align: left;
	    margin-bottom: 20px;
	    padding: 15px 0;
	    font-weight: 600;
	    font-size: 20px;
	}
	.index-menu ul li:first-child {
		text-align: right;
	    margin: 0;
	    padding: 0;
	    font-size: 30px;
	}
	.index-menu ul li a {
		color: #2d2d2d;
		font-size: 20px;
	}
}
@media (max-width: 500px) {
	.usp_shape_bg {
		top: 41%;
	}
}
@media (max-width: 400px) {
	.usp_shape_bg {
		left: -30%;
		width: 140vw;
		top: 40%;
	}
}