@font-face {
  font-family: Geometria;
  src: url(font/FontsFree-Net-Geometria-Light.ttf);
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }
 body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #2d2d2d;
  margin: 0 30px;
  position: relative;
  max-width: 1620px;
  overflow-x: hidden;
}
ul {
    list-style: none;
}
li {
  display: inline-block;}
a {
	display: inline-block;
  color: #2d2d2d;
  text-decoration: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
.relative {
  position: relative;
}
.container {
  margin: 0 auto;
}
.primary-menu {
	background: #f7f7f7;
  position: absolute;
  top: 15px;
  left: 8%;
  right: 8%;
  border-radius: 3px;
  z-index: 1;
  transition: .3s eas-in both;
}
header .flight-logo-block {
  border-bottom: 1px solid #7000d1;
}
header .hotel-logo-block {
  border-bottom: 1px solid #ff00ff;
}
header .flight-logo-block:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 5px #7000d1;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}
header .flight-logo-block,
header .hotel-logo-block {
	width: 50%;
	text-align: center;
	padding: 12px 0;	
}
header .flight-logo-block .logo,
header .hotel-logo-block .logo {
	width: 150px;
}
header .flight-logo-block .mobile-logo,
header .hotel-logo-block .mobile-logo {
	width: 30px;
	height: 30px;
}
header .hotel-logo-block a {
	opacity: 0.5;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;	
}
header .hotel-logo-block a:hover {
	opacity: 1;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
.index-menu ul {
  padding: 10px 0;
  text-align: center;
}
.index-menu ul li {
  padding: 0 12px;
}
.index-menu ul li a {
  font-family: Geometria;
  cursor: pointer;
  color: #7000d1;
  font-size: 12px;
}
.index-menu {
  background: #fff;
  text-align: center;
  border-radius: 3px;
}
.home-banner {
	background: #000 url("../img/hph-hr-ground.jpg") 50% 50%/cover no-repeat;
  height: 750px;
  width: 100%;
  position: relative;
}
.page-heading {
  text-align: center;
  padding: 20px 0 45px 0;
  color: #fff;
}
.page-heading h1 {
  font-size: 44px;
  font-weight: 900;
}
.page-heading p {
  font-family: Geometria;
  font-size: 19.5px;
  font-weight: 100;
}
.form-block nav {
  width: 31%;
  margin: 0 auto;
}
.form-block nav ul,
.form-inner-block {
  border: 3px solid #ebebeb;
}
.form-block nav ul li {
    padding: 6px 12px;
    background: #ebebeb;
    color: #ababab;
    font-weight: 600;
    cursor: pointer;
}
.form-block nav ul .active {
  background: #fff;
  color: #7000bf;
}
.form-inner-block {
  margin: 10px 0 0 0;
  text-align: left;
  display: inline-block;
  width: 60%;
  border-radius: 3px;
  font-family: 'Montserrat';
}
.form-inner-block p {
  font-size: 10px;
  font-weight: 600;
}
.form-inner-block p:last-child {
  font-size: 12px;
  margin: 2px 0 3px 0;
}
.form-inner-block h3,
.form-inner-block input {
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
}
.form-inner-block input {
  border: 0;
  width: 70%;
  color: #2d2d2d;
}
.form-inner-block input:focus {
  outline: unset;
}
.round-trip-block .from-block,
.round-trip-block .to-block {
  width: 19.5%;
}
.round-trip-block .passenger-economy-block {
  width: 33%;
}
.form-block {
  text-align: center;
}
.button-block {
  margin: 32px 0 0 0;
  width: 100%;  
}
.site-primary-button {
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  position: relative;
  background: #7000d1;
  border: 3px solid #7000d1;
  padding: 10px 60px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.site-primary-button::before,
.site-primary-button::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0px;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #7000d1;
}
.site-primary-button:hover {
  background: rgba(255,255,255,0);
  color: #7000d1;
}
.form-block .site-primary-button:hover {
  background: #191f25;
}
.site-primary-button:hover:before,
.site-primary-button:hover:after {
  width: 0%;
}
.site-primary-button:before {
  left: 0;
}
.site-primary-button:after {
  right: 0;
}
.hotels-main-container {
  position: relative;
  top: 135px;
}
.hotel-block {
  display: flex;
}
.hotel-block .checkin-checkout-block .right,
.hotel-block .checkin-checkout-block .left {
  width: 50%;
}
.hotel-block .guest-room-block {
  border: 0;
  width: 35%;
}
.hotel-block .city-block {
  width: 40%;
}
.banner_bottom_left,
.banner_bottom_right {
  position: absolute;
  bottom: 0;
}
.banner_bottom_left {
  left: 0;
}
.banner_bottom_right {
  right: -1px;
}
.checkin-checkout-block {
  width: 38.5%;
}
.usp > figure {
	width: 33.33%;
	text-align: center;
	float: left;
}
.usp-block {
  width: 72%;
  margin: 0 auto;  
  position: relative;
  z-index: 1;
}
.usp {
  padding: 50px 0;
  border-radius: 3px;
	display: flex;
  flex-wrap: wrap;
  color: #fff;
  background: url(../img/usp_bg.jpg);
  background-size: cover;
  background-position: center;
}
.usp > figure >figcaption > b {
  padding: 25px 0 5px 0;
  font-size: 16px;
	display: block;
}
.usp > figure >figcaption > p {
  font-family: Geometria;
  width: 70%;
  margin: 0 auto;
  font-weight: 100;
  line-height: 24px;
  font-size: 13px;
}
.usp > figure > .relative {
	line-height: 46px;
	height: 46px;
}
.usp > figure > .relative > img {
  vertical-align: middle;
}
.usp-inner-block {
  margin: 120px 0 155px 0;
  display: flex;
  justify-content: space-between;
}
.usp-inner-block .image-block {
  width: 40%;
  overflow: hidden;
}
.usp-inner-block .image-block img {
  width: 100%;
  height: 100%;
  transform: scale(1.3);
  object-fit: cover;
}
.usp-inner-block .usp-contents-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.usp-contents-block h2 {
  font-size: 28px;
  font-weight: 900;
  width: 100%;
  margin: -10px 0 5px 0;
}
.usp-contents-block p {
  font-family: Geometria;
  font-size: 13px;
  color: #2d2d2d;
  width: 100%;
  line-height: 20px;
}
.usp-contents-inner-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.curved-usp-block {
  width: 100%;
  background: url(../img/curved_usp.jpg);
  height: 510px;
  margin-bottom: 80px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 250px;
  border-bottom-right-radius: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.curved-usp-block .usp-contents-block {
  width: 510px;
}
.curved-usp-block .usp-contents-block p {
  font-family: Geometria;
  color: #fff;
  margin: 35px 0 65px 0;
}
.curved-usp-block .usp-contents-inner-block {
  justify-content: center;
  align-items: center;
}
.curved-usp-block .site-primary-button {
  background: #fff;
  color: #000;
}
.footer-content {
  display: flex;
}
.footer-content .footer-logo-wrap,
.footer-content .footer-menu {
  font-family: Geometria;
  display: flex;
  align-items: flex-end;
  width: 50%;
  justify-content: space-evenly;
}
.footer-content .footer-logo-wrap {
  background: #f8cdf7;
  background: -moz-linear-gradient(top, #f8cdf7 0%, #fff3df 99%);
  background: -webkit-linear-gradient(top, #f8cdf7 0%,#fff3df 99%);
  background: linear-gradient(to bottom, #f8cdf7 0%,#fff3df 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8cdf7', endColorstr='#fff3df',GradientType=0 );
  padding: 40px;
}
.footer-logo-wrap img {
  width: 220px;
}
.footer-log-inner-wrap p {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: 35px;
}
.footer-content .footer-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-menu .nav-menu li {
  display: block;
}
.footer-menu .nav-menu li a {
  font-size: 20px;
}
.footer-menu .nav-menu .footer-social-block li {
  display: inline-block;
}
.footer-social-block p {
  margin: 50px 0 55px 0;
  font-size: 13px;
}
.footer-menu .nav-menu .footer-social-block li:not(:first-child) {
  margin-right: 35px;
}
.footer-menu .nav-menu .footer-social-block li:last-child {
  margin-right: 0;
}
.footer-copyright {
  font-family: Geometria;
  padding: 40px 0;
  font-size: 12px;
}
.footer-copyright ul li:not(:first-child)::before {
  content: "\2219";
  padding: 0 5px 0 3px;
  vertical-align: middle;
  font-weight: 800;

}
.usp_shape_bg {
  position: absolute;
  left: 0;
  width: 42vw;
  height: auto;
  top: 15%;
  transform: translate(0,-45%);
}
.usp_shape_bg svg {
  width: 100%;
}
.index-menu .mobile-menu {
  padding: 15px 0;
  font-size: 20px;
  max-width: 90%;
  margin: 0 auto;
}
.mobile-logo img {
  width: 100%;
  height: 100%;
}
.checkin-checkout-block .left,
.checkin-checkout-block .right,
.city-block,
.guest-room-inner-block {
  display: none;
}
.checkin-checkout-block .default-calendar img,
.default-guest img {
  vertical-align: middle;
  margin-right: 10px;
}
.checkin-checkout-block .default-calendar h3,
.default-guest h3,
.default-city input {
  color: #2d2d2d;
}
.default-calendar,
.default-city,
.default-guest,
.default-guest-wrap {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  min-height: 72px;
  background: #fff;
  padding: 4px 8px;
}
.default-city {
  width: 33%;
  height: auto;
}
.default-calendar div {
  display: flex;
  width: 100%;
}
.default-city img {
  vertical-align: sub;
  margin-right: 10px;
}
.form-inner-block p:first-child {
  font-weight: 700;
  color: #757575;
}
.default-guest h3 {
  width: 80%;
}
.home-banner .site-primary-button:hover {
  color: #fff;
}
.curved-usp-block .site-primary-button,
.curved-usp-block .site-primary-button::before,
.curved-usp-block .site-primary-button::after {
  background: #fff;
  border-color: #fff;
}
.curved-usp-block .site-primary-button:hover {
  background: rgba(255,255,255,0);
  color: #fff;
} 
.usp-contents-block .site-primary-button {
  margin-top: 15px;
}
.primary-menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  z-index: 3;
  box-shadow: 0 0px 45px 0 #e4e4e4;
  animation: fadeIn .3s ease-in both;
}
.default-calendar input {
  width: 84%;
  position: relative;
  display: block;
}
.guest-dropdown-block {
  display: none;
  position: absolute;
  top: 118%;
  left: -15px;
  right: -15px;
  background: #fff;
  z-index: 2;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 16px rgba(0,0,0,0.15);
  box-shadow: 0 2px 16px rgba(0,0,0,0.15);
  padding: 21px;
}
.guest-dropdown-block::before,
.ui-widget.ui-widget-content::before {
  position: absolute;
  display: inline-block;
  top: -3px;
  left: 50%;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
  transform: translate(0, -50%);
}
.guest-dropdown-inner-block {
  display: flex;
  justify-content: space-between;
}
.guest-dropdown-inner-block .row-label p {
  font-size: 14px;
  color: #2d2d2d;
  margin: 0;
  line-height: 32px;
}
.guest-dropdown-inner-block .row-content button {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 0;
  width: 32px;
  height: 32px;
  background: #fff;
  border: 2px solid #007dff;
  color: #007dff;
  cursor: pointer;
  border-radius: 50%;
}
.guest-dropdown-inner-block .row-content button:focus {
  outline: 0;
}
.guest-dropdown-inner-block .row-content span {
  width: 32px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}
.guest-dropdown-inner-block .row-content .limit {
  border-color: #d4d4d4;
  color: #d4d4d4;
  cursor: no-drop;
}
.guest-dropdown-inner-block:not(:last-child) {
  margin-bottom: 16px;
}
.guest-dropdown-inner-block.child-block {
  width: 50%;
}
.child-age-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.child-block select {
  padding: 6px;
  width: 100%;
  border-radius: 3px;
  border-color: #007dff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAP1BMVEUAAAAAff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff+5imNFAAAAFHRSTlMAAQMFHR40ODk6O0FfqKrKzM75+5C9CoQAAAA/SURBVAhbY2AgCXCzwVgsPECCV4QdwmMV4mdkYGDkE+GA8ASYQTSQz4nggflcCB6YLywI54H4yDwgn4mBdAAA0/AB43Qzbm0AAAAASUVORK5CYII=');
  background-position: 90% center;
  background-repeat: no-repeat;
}
.child-block select option {
  min-height: 29px;
}
.default-guest-wrap,
.ui-widget.ui-widget-content li {
  width: 100%;
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
.ui-widget.ui-widget-content {
  z-index: 1;
  border: 0!important;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 16px rgba(0,0,0,0.15);
  box-shadow: 0 2px 16px rgba(0,0,0,0.15);
}
.ui-widget.ui-widget-content::before {
  left: 10px;
}
.ui-widget.ui-widget-content li {
  font-size: 16px;
}
.ui-menu .ui-menu-item-wrapper {
  padding: 12px 1em 12px 30px!important;
  position: relative;
}
.ui-widget.ui-widget-content li.ui-autocomplete-category {
  font-size: 18px;
}
.ui-menu .ui-menu-item-wrapper::before {
  font-family: FontAwesome;
  position: absolute;
  left: .4em;
  top: 10px;
  font-size: 20px;
  color: #007dff;
  font-weight: 500;
}
.ui-menu .ui-menu-item-wrapper.ui-state-active::before {
  color: #fff;
}
.ui-menu li[aria-label^="City"] .ui-menu-item-wrapper::before {
  content: "\f0f7";
}
.ui-menu li[aria-label^="Hotels"] .ui-menu-item-wrapper::before {
  content: "\f041";
}
.ui-menu li[aria-label^="Airports"] .ui-menu-item-wrapper::before {
  content: "\f072";
}
#autocomplete {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#datepicker,
#autocomplete {
  font-family: 'Montserrat';
}
.error::placeholder {
  color: #ed4337;
}
.error-msg {
  display: none;
  position: absolute;
  top: 75%;
  left: 2%;
  min-width: 300px;
  padding: 10px 5px;
  background: red;
  color: #fff;
  border-radius: 4px;
}
.error-msg::before{
  position: absolute;
  display: inline-block;
  top: -3px;
  left: 10px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid red;
  border-left: 6px solid transparent;
  content: '';
  transform: translate(0, -50%);
}
#submit.site-primary-button {
  z-index: 1;
  min-height: 48px;
  width: 214px;
  margin: 0 auto;
}
#submit.site-primary-button.active {
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
}
#submit.site-primary-button.active:hover {
  background: #7000d1;
}
#submit.site-primary-button.active::before,
#submit.site-primary-button.active::after {
  display: none;
}
/* Button Animation */
.lds-ring {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: #7000d1;
  border-radius: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  margin-top: 8px;
  margin-left: 7px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* /Button Animation */
.curved-usp-block .site-primary-button {
  -webkit-transition: all .3s ease-in-out!important;
  -moz-transition: all .3s ease-in-out!important;
  -o-transition: all .3s ease-in-out!important;
  transition: all .3s ease-in-out!important;
}
.default-city.fixed,
.default-calendar.fixed,
.guest-dropdown-block.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  min-height: 101%;
  z-index: 2;
  align-items: flex-start;
  align-content: start;
  padding: 20px 40px;
}
.default-city .mobile-header,
.default-calendar .mobile-header,
.guest-dropdown-block .mobile-header,
.guest-dropdown-block .mobile-footer {
  display: none;
}
.guest-dropdown-block.fixed .mobile-footer {
  display: block;
  margin-top: 30px;
}
.guest-dropdown-block.fixed .mobile-footer button {
  width: 100%;
  background: #007dff;
  border-color: #007dff;
}
.guest-dropdown-block.fixed .mobile-footer button::before,
.guest-dropdown-block.fixed .mobile-footer button::after {
  background: #007dff;
}
.guest-dropdown-block .mobile-footer button:hover {
  background: transparent;
  color: #007dff;
}
.default-city.fixed .mobile-header,
.default-calendar.fixed .mobile-header,
.guest-dropdown-block.fixed .mobile-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  padding-bottom: 25px;
  color: #000000;
  border-radius: 0;
}
.default-city.fixed div:not(:first-child),
.default-calendar.fixed div:not(:first-child) {
  padding: 10px;
  border: 1px solid #007dff6e;
}
.guest-dropdown-block.fixed .mobile-header {
  border-bottom: 1px solid #007dff6e;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.default-city.fixed .mobile-header h2,
.default-calendar.fixed .mobile-header h2,
.guest-dropdown-block.fixed .mobile-header  h2 {
  font-size: inherit;
}
/* Autocomplete loader */
.autocompleteloader {
  display: none;
  position: absolute;
  margin: 0px auto;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 8px;
  transform: translate(0, -50%);
}
.autocompleteloader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #7000d1;
  }
  40% {
    stroke: #7000d1;
  }
  66% {
    stroke: #7000d1;
  }
  80%, 90% {
    stroke: #7000d1;
  }
}
@keyframes color {
  0% {
    stroke: #7000d1;
  }
  40% {
    stroke: #7000d1;
  }
  66% {
    stroke: #7000d1;
  }
  80%, 90% {
    stroke: #7000d1;
  }
}
/* /Autocomplete loader */
#ui-id-1.none {
  display: none!important;
}
.usp .search {
  width: 46px;
  height: 46px;
  margin: 0 auto;
  background: url(../img/usp_img.png);
}
.usp .comfort {
  width: 45px;
  height: 26px;
  margin: 0 auto;
  background: url(../img/usp_img.png) 90px;
}
.usp .perfect-occasion {
  width: 37px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/usp_img.png) 41px;
}
.footer-social-block .instagram {
  width: 22px;
  height: 22px;
  background: url(../img/social_icons.png);
}
.footer-social-block .facebook {
  width: 11px;
  height: 22px;
  background: url(../img/social_icons.png) -22px;
}
.footer-social-block .twitter {
  width: 27px;
  height: 22px;
  background: url(../img/social_icons.png) 49px;
}
.footer-social-block .linkedin {
  width: 22px;
  height: 22px;
  background: url(../img/social_icons.png) 22px;
}
.datepicker-close-btn {
  position: fixed;
  display: none;
  top: 2%;
  right: 2%;
  z-index: 3;
  background: #007dff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 16px;
}